force-app/main/default/flows/Actualiza_Promoci_n_con_V0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Es_campo_v0_TRUE</name>
        <label>Es campo v0 TRUE</label>
        <locationX>374</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>V0_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampoV0_Actual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_V1s</targetReference>
            </connector>
            <label>V0 true</label>
        </rules>
        <rules>
            <name>BC_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampoBC_Actual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_otros_registros_BC_a_FALSE</targetReference>
            </connector>
            <label>BC true</label>
        </rules>
        <rules>
            <name>V1_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampoV1_Actual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BCs</targetReference>
            </connector>
            <label>V1 true</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_hay_BCs</name>
        <label>No hay BCs</label>
        <locationX>780</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registro.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Fechas_de_hito_0</targetReference>
            </connector>
            <label>No hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_hay_V1s</name>
        <label>No hay V1s</label>
        <locationX>564</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_hay_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registro.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Fechas_de_hito_0_0</targetReference>
            </connector>
            <label>No hay</label>
        </rules>
    </decisions>
    <interviewLabel>Actualiza Promoción con V0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Promoción con V0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Coger_campos_VO_Y_BC_del_registro_hitos</name>
        <label>Coger campos VO Y BC del registro hitos</label>
        <locationX>199</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_campo_v0_TRUE</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdHito</elementReference>
            </value>
        </filters>
        <object>Hitos_de_Promocion__c</object>
        <outputAssignments>
            <assignToReference>CampoBC_Actual</assignToReference>
            <field>BC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampoV0_Actual</assignToReference>
            <field>V0__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampoV1_Actual</assignToReference>
            <field>V1__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_BCs</name>
        <label>Get BCs</label>
        <locationX>612</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_hay_BCs</targetReference>
        </connector>
        <filters>
            <field>BC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <object>Hitos_de_Promocion__c</object>
        <outputReference>Registro</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Fechas_de_hito</name>
        <label>Get Fechas de hito</label>
        <locationX>589</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fechas_de_hito</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdHito</elementReference>
            </value>
        </filters>
        <object>Hitos_de_Promocion__c</object>
        <outputAssignments>
            <assignToReference>FinComercReal</assignToReference>
            <field>Fin_comercializacion_real__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioPreComerc</assignToReference>
            <field>Inicio_de_Pre_Comercializacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioComercReal</assignToReference>
            <field>Inicio_de_comercializacion_real__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioEscrituraciones</assignToReference>
            <field>Inicio_escrituraciones__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ObjetivoVentas</assignToReference>
            <field>Objetivo_de_ventas__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Fechas_de_hito_0</name>
        <label>Get Fechas de hito</label>
        <locationX>1003</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fechas_de_hito_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdHito</elementReference>
            </value>
        </filters>
        <object>Hitos_de_Promocion__c</object>
        <outputAssignments>
            <assignToReference>FinComercReal</assignToReference>
            <field>Fin_comercializacion_real__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioPreComerc</assignToReference>
            <field>Inicio_de_Pre_Comercializacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioComercReal</assignToReference>
            <field>Inicio_de_comercializacion_real__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioEscrituraciones</assignToReference>
            <field>Inicio_escrituraciones__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ObjetivoVentas</assignToReference>
            <field>Objetivo_de_ventas__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Fechas_de_hito_0_0</name>
        <label>Get Fechas de hito</label>
        <locationX>811</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fechas_de_hito_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdHito</elementReference>
            </value>
        </filters>
        <object>Hitos_de_Promocion__c</object>
        <outputAssignments>
            <assignToReference>FinComercReal</assignToReference>
            <field>Fin_comercializacion_real__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioPreComerc</assignToReference>
            <field>Inicio_de_Pre_Comercializacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioComercReal</assignToReference>
            <field>Inicio_de_comercializacion_real__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InicioEscrituraciones</assignToReference>
            <field>Inicio_escrituraciones__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ObjetivoVentas</assignToReference>
            <field>Objetivo_de_ventas__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_V1s</name>
        <label>Get V1s</label>
        <locationX>380</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_hay_V1s</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <filters>
            <field>V1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Hitos_de_Promocion__c</object>
        <outputReference>Registro</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_otros_registros_BC_a_FALSE</name>
        <label>Actualiza otros registros BC a FALSE</label>
        <locationX>381</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Get_Fechas_de_hito</targetReference>
        </connector>
        <filters>
            <field>BC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>IdHito</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BC__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Hitos_de_Promocion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fechas_de_hito</name>
        <label>Update Fechas de hito</label>
        <locationX>774</locationX>
        <locationY>482</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Objetivo_de_ventas__c</field>
            <value>
                <elementReference>ObjetivoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fin_de_Comercializacion_real__c</field>
            <value>
                <elementReference>FinComercReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_Pre_Comercializacion__c</field>
            <value>
                <elementReference>InicioPreComerc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_comercializaci_n_real__c</field>
            <value>
                <elementReference>InicioComercReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_escrituraciones__c</field>
            <value>
                <elementReference>InicioEscrituraciones</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fechas_de_hito_0</name>
        <label>Update Fechas de hito</label>
        <locationX>1180</locationX>
        <locationY>254</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Objetivo_de_ventas__c</field>
            <value>
                <elementReference>ObjetivoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fin_de_Comercializacion_real__c</field>
            <value>
                <elementReference>FinComercReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_Pre_Comercializacion__c</field>
            <value>
                <elementReference>InicioPreComerc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_comercializaci_n_real__c</field>
            <value>
                <elementReference>InicioComercReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_escrituraciones__c</field>
            <value>
                <elementReference>InicioEscrituraciones</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fechas_de_hito_0_0</name>
        <label>Update Fechas de hito</label>
        <locationX>988</locationX>
        <locationY>52</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Objetivo_de_ventas__c</field>
            <value>
                <elementReference>ObjetivoVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fin_de_Comercializacion_real__c</field>
            <value>
                <elementReference>FinComercReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_Pre_Comercializacion__c</field>
            <value>
                <elementReference>InicioPreComerc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_comercializaci_n_real__c</field>
            <value>
                <elementReference>InicioComercReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inicio_de_escrituraciones__c</field>
            <value>
                <elementReference>InicioEscrituraciones</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <startElementReference>Coger_campos_VO_Y_BC_del_registro_hitos</startElementReference>
    <status>Active</status>
    <variables>
        <name>CampoBC_Actual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CampoV0_Actual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CampoV1_Actual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinComercReal</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdHito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InicioComercReal</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InicioEscrituraciones</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InicioPreComerc</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjetivoVentas</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Registro</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hitos_de_Promocion__c</objectType>
    </variables>
</Flow>
