force-app/main/default/flows/Actualiza_Owner_de_los_leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Actualiza Owner de los leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Owner de los leads</label>
    <loops>
        <description>Iterates through the leads obtained.</description>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>903</locationX>
        <locationY>639</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Creates_LeadShare</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Recorremos las cuentas. Al ser posible que las cuentas puedan tener diferentes promociones y opportunidades, no vamos a cambiar el propietario de un API a otro. Lo que vamos a hacer es darle permisos de escritura sobre la cuenta para que si tiene varias promociones, ambos comerciales API puedan verla.</description>
        <name>Loop_Opportunity_Accounts</name>
        <label>Loop Opportunity Accounts</label>
        <locationX>690</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>AuxOpporAccount</assignNextValueToReference>
        <collectionReference>OpportunityAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dar_permiso_de_lectura_a_comercial_api</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates LeadShare object for the leads associated to the promotion.</description>
        <name>Creates_LeadShare</name>
        <label>Creates LeadShare</label>
        <locationX>1091</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Loop_Leads.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Promocion_comercial_api.Comercial_API__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
    </recordCreates>
    <recordCreates>
        <description>Se le asignar permisos de lectura al comercial API</description>
        <name>Dar_permiso_de_lectura_a_comercial_api</name>
        <label>Dar permiso de lectura a comercial api</label>
        <locationX>896</locationX>
        <locationY>385</locationY>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AuxOpporAccount.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Promocion_comercial_api.Comercial_API__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordCreates>
    <recordLookups>
        <description>Gets Leads associated with the promotion.</description>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>698</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promocion_comercial_api.Promocion__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen las cuentas relacionadas con la oportunidad.</description>
        <name>Get_Oppotunity_Account</name>
        <label>Get Oppotunity Account</label>
        <locationX>699</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Accounts</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promocion_comercial_api.Promocion__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Promocion_comercialAPI</name>
        <label>Get Promocion_comercialAPI</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateLeads</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Promocion_Comercial_API__c</object>
        <outputReference>Promocion_comercial_api</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Promocion__c</queriedFields>
        <queriedFields>Comercial_API__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Actulizar las oportunidades relacionadas con la promoción</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>700</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Oppotunity_Account</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>API_anterior</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promocion_comercial_api.Promocion__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Promocion_comercial_api.Comercial_API__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeads</name>
        <label>UpdateLeads</label>
        <locationX>531</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>API_anterior</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promocion_comercial_api.Promocion__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Promocion_comercial_api.Comercial_API__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Get_Promocion_comercialAPI</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>API_anterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable auxiliar para recorrer el loop</description>
        <name>AuxOpporAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Promocion_comercial_api</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
