force-app/main/default/flows/Actualiza_estado_Inmueble.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>CodigoImpuesto</name>
        <dataType>Number</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
{!IVA} ,
0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DescripcionFactura</name>
        <dataType>String</dataType>
        <expression>&quot;Reserva de &quot; + {!DescripcionOport}</expression>
    </formulas>
    <formulas>
        <name>NombreLineaDescrip</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
&quot;Reserva de &quot; + {!DescripcionOport},
&quot;Depósito de &quot; + {!DescripcionOport}
)</expression>
    </formulas>
    <formulas>
        <name>ReferenciaCompleta</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
{!IdOportunidad} + &quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; +&quot;01&quot; ,
{!IdOportunidad} + &quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; +&quot;02&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TipodeFactura</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
&quot;RESERVAS&quot; ,
&quot;DEPOSITOS&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TipodeLinea</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
&quot;Reserva de Inmueble&quot; ,
&quot;Depósito&quot;
)</expression>
    </formulas>
    <interviewLabel>Actualiza estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factura Reserva y Actualiza estado Inmueble</label>
    <loops>
        <name>Bucle_Opportunity_PL</name>
        <label>Bucle Opportunity PL</label>
        <locationX>641</locationX>
        <locationY>326</locationY>
        <assignNextValueToReference>ProductLine</assignNextValueToReference>
        <collectionReference>ColProductLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_estado_de_inmueble</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreaLineaFactura</name>
        <label>CreaLineaFactura</label>
        <locationX>478</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Busqueda_Inmuebles_en_Opportunityline</targetReference>
        </connector>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLineaDescrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <elementReference>TipodeLinea</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Factura_Reserva</name>
        <label>Factura Reserva</label>
        <locationX>310</locationX>
        <locationY>116</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>CreaLineaFactura</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>CodigoImpuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <elementReference>TipodeFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordLookups>
        <name>Busqueda_Inmuebles_en_Opportunityline</name>
        <label>Busqueda Inmuebles en Opportunityline</label>
        <locationX>696</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_Opportunity_PL</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ColProductLine</outputReference>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Datos_de_oportunidad</name>
        <label>Datos de oportunidad</label>
        <locationX>183</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Factura_Reserva</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdCliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DescripcionOport</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IVA</assignToReference>
            <field>Porcentaje_IVA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteReserva</assignToReference>
            <field>Reserva__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipodeReserva</assignToReference>
            <field>Tipo_de_Reserva__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_estado_de_inmueble</name>
        <label>Actualizar estado de inmueble</label>
        <locationX>826</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Bucle_Opportunity_PL</targetReference>
        </connector>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Permuta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canje</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Asociado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Apartado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductLine.Product2Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Bloqueado</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <startElementReference>Datos_de_oportunidad</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CodigoSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColProductLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DescripcionOport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteReserva</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IVA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NombredePromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TipodeReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
