force-app/main/default/flows/Actualiza_Tarifa_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddProductList</name>
        <label>AddProductList</label>
        <locationX>624</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>UpdatedListOfProducts</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTarifaV1</name>
        <label>setTarifaV1</label>
        <locationX>162</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>Product.Tarifa_V1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProductList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_TarifaV1_equal_to_Precio</name>
        <label>Is TarifaV1 equal to Precio</label>
        <locationX>368</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>IterateProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product.Precio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Product.Tarifa_V1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTarifaV1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Actualiza Tarifa V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Tarifa V1</label>
    <loops>
        <name>IterateProduct</name>
        <label>IterateProduct</label>
        <locationX>364</locationX>
        <locationY>61</locationY>
        <assignNextValueToReference>Product</assignNextValueToReference>
        <collectionReference>ProductList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_TarifaV1_equal_to_Precio</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateListofObjects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Promo_Products</name>
        <label>Get Promo Products</label>
        <locationX>180</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateProduct</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPromocion</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductList</outputReference>
        <queriedFields>Precio__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tarifa_V1__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateListofObjects</name>
        <label>UpdateListofObjects</label>
        <locationX>724</locationX>
        <locationY>62</locationY>
        <inputReference>UpdatedListOfProducts</inputReference>
    </recordUpdates>
    <startElementReference>Get_Promo_Products</startElementReference>
    <status>Active</status>
    <variables>
        <name>idPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UpdatedListOfProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
