force-app/main/default/flows/Actualiza_Oportunidad_de_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CambiarOportunidad</name>
        <label>CambiarOportunidad</label>
        <locationX>1004</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>SacarProduct2.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>llenarLista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>llenarLista</name>
        <label>llenarLista</label>
        <locationX>788</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>listaProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SacarProduct2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Stop_If_Opp_Empty</name>
        <label>Stop If Opp Empty</label>
        <locationX>206</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Stop</label>
        </rules>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>quote</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>Actualiza el campo oportunidad de product con la referencia de la ultima oportunidad actualizada</description>
    <interviewLabel>Actualiza Oportunidad de Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza Oportunidad de Product</label>
    <loops>
        <name>UpdateProducts</name>
        <label>UpdateProducts</label>
        <locationX>577</locationX>
        <locationY>168</locationY>
        <assignNextValueToReference>quotelineitem</assignNextValueToReference>
        <collectionReference>QuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SacarProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Oportunidad</name>
        <label>Oportunidad</label>
        <locationX>146</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stop_If_Opp_Empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SyncedQuoteId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>quote</name>
        <label>quote</label>
        <locationX>317</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>quote2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>Quote1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>quote2</name>
        <label>quote2</label>
        <locationX>443</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateProducts</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote1.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QuoteLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SacarProduct</name>
        <label>SacarProduct</label>
        <locationX>786</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CambiarOportunidad</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quotelineitem.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>SacarProduct2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Oportunidad__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>End</name>
        <label>End</label>
        <locationX>214</locationX>
        <locationY>432</locationY>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProduct</name>
        <label>UpdateProduct</label>
        <locationX>577</locationX>
        <locationY>406</locationY>
        <inputReference>listaProduct</inputReference>
    </recordUpdates>
    <startElementReference>Oportunidad</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>listaIdProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>listaProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Quote1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>Quote2nd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>Quote_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quotelineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SacarProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
