force-app/main/default/flows/Actualiza_estado_de_la_oportunidad_si_facturas_estan_cobradas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Estado_oportunidad_a_CONTRATO</name>
        <label>Estado oportunidad a CONTRATO</label>
        <locationX>745</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>Oportunidad.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oportunidad.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contrato</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oportunidad_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Estado_oportunidad_a_RESERVA</name>
        <label>Estado oportunidad a RESERVA</label>
        <locationX>1093</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>Oportunidad.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Oportunidad.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reserva</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oportunidad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cobrada</name>
        <label>¿Cobrada?</label>
        <locationX>457</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esta_cobrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Factura.Estado_de_la_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Deposito</targetReference>
            </connector>
            <label>Está cobrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cobrada_0</name>
        <label>¿Cobrada?</label>
        <locationX>910</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esta_cobrada_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Factura.Estado_de_la_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Reserva</targetReference>
            </connector>
            <label>Está cobrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cobrada_0_0</name>
        <label>¿Cobrada?</label>
        <locationX>800</locationX>
        <locationY>732</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esta_cobrada_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Factura.Estado_de_la_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Entrega_a_cuenta</targetReference>
            </connector>
            <label>Está cobrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>EstaEtapaAnterior</name>
        <label>Esta en una Etapa Anterior</label>
        <locationX>913</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presupuesto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva Pdte. Cobro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_oportunidad_a_RESERVA</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>EtapaAnterior</name>
        <label>Etapa Anterior</label>
        <locationX>552</locationX>
        <locationY>525</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Anterior</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presupuesto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva Pdte. Cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadFactura.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_oportunidad_a_CONTRATO</targetReference>
            </connector>
            <label>Anterior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_es</name>
        <label>¿Que tipo es?</label>
        <locationX>230</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Reserva_o_Deposito</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Tipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESERVAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEPOSITOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facturas_RESERVA</targetReference>
            </connector>
            <label>Es Reserva o Deposito</label>
        </rules>
        <rules>
            <name>Es_Proforma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENTREGAS A CUENTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Facturas_ENTREGAS_A_CUENTA</targetReference>
            </connector>
            <label>Es Proforma</label>
        </rules>
    </decisions>
    <description>Si las facturas son reserva o deposito y estan cobradas = oportunidad a reserva
Si las facturas son entregas a cuenta y estan cobradas = oportunidad a contrato</description>
    <interviewLabel>Actualiza estado de la oportunidad si facturas están cobradas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza estado de la oportunidad si facturas estan cobradas</label>
    <loops>
        <name>For_Each_Deposito</name>
        <label>For Each Deposito</label>
        <locationX>698</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>Factura</assignNextValueToReference>
        <collectionReference>Depositos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cobrada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EstaEtapaAnterior</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Entrega_a_cuenta</name>
        <label>For Each Entrega a cuenta</label>
        <locationX>558</locationX>
        <locationY>726</locationY>
        <assignNextValueToReference>Factura</assignNextValueToReference>
        <collectionReference>Entregas_a_cuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cobrada_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EtapaAnterior</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Reserva</name>
        <label>For Each Reserva</label>
        <locationX>699</locationX>
        <locationY>270</locationY>
        <assignNextValueToReference>Factura</assignNextValueToReference>
        <collectionReference>Reservas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cobrada_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Deposito</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Facturas_DEPOSITO</name>
        <label>Get Facturas DEPOSITO</label>
        <locationX>546</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Reserva</targetReference>
        </connector>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEPOSITOS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputReference>Depositos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estado_de_la_factura__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Facturas_ENTREGAS_A_CUENTA</name>
        <label>Get Facturas ENTREGAS A CUENTA</label>
        <locationX>365</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Entrega_a_cuenta</targetReference>
        </connector>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pago_o_Cuota__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputReference>Entregas_a_cuenta</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estado_de_la_factura__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Facturas_RESERVA</name>
        <label>Get Facturas RESERVA</label>
        <locationX>360</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Facturas_DEPOSITO</targetReference>
        </connector>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESERVAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputReference>Reservas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estado_de_la_factura__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>OportunidadFactura</name>
        <label>Oportunidad de la Factura</label>
        <locationX>176</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_tipo_es</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oportunidad</name>
        <label>Update Oportunidad</label>
        <locationX>1234</locationX>
        <locationY>45</locationY>
        <inputReference>Oportunidad</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oportunidad_0</name>
        <label>Update Oportunidad</label>
        <locationX>907</locationX>
        <locationY>523</locationY>
        <inputReference>Oportunidad</inputReference>
    </recordUpdates>
    <startElementReference>OportunidadFactura</startElementReference>
    <status>Active</status>
    <variables>
        <name>Depositos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>Entregas_a_cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>Factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Reservas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>Tipo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
