force-app/main/default/flows/Actualiza_tras_Firma_de_Contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Documento_es_FichaReserva</name>
        <label>¿Documento es FichaReserva?</label>
        <locationX>380</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Es_contrato_compraventa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Documento_es_FichaReserva_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentoReserva.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FichaReserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizaOportunidadCamposReserva</targetReference>
            </connector>
            <label>Documento es FichaReserva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_contrato_compraventa</name>
        <label>¿Es contrato compraventa?</label>
        <locationX>382</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_compraventa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentoReserva.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compraventa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_campos_de_compraventa</targetReference>
            </connector>
            <label>Si compraventa</label>
        </rules>
    </decisions>
    <interviewLabel>Actualiza tras Firma de Contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza tras Firma de Contrato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Campos_de_Docusign_Status</name>
        <label>Campos de Docusign Status</label>
        <locationX>389</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Documento_es_FichaReserva</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentoReserva.ParentId</elementReference>
            </value>
        </filters>
        <object>HelloSign__HelloSign_Signature_Request__c</object>
        <outputAssignments>
            <assignToReference>IdOportunidad</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Ver_los_documentos_de_Docusign_Status</name>
        <label>Ver Attachment de Docusign Status</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campos_de_Docusign_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdAttachment</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
        <outputReference>DocumentoReserva</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_campos_de_compraventa</name>
        <label>Actualiza campos de compraventa</label>
        <locationX>632</locationX>
        <locationY>446</locationY>
        <filters>
            <field>Contrato_Compraventa_firmado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contrato_Compraventa_firmado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_firma_Contrato_Compraventa__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaOportunidadCamposReserva</name>
        <label>ActualizaOportunidadCamposReserva</label>
        <locationX>620</locationX>
        <locationY>295</locationY>
        <filters>
            <field>Contrato_Reserva_firmado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contrato_Reserva_firmado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_firma_Contrato_Reserva__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Ver_los_documentos_de_Docusign_Status</startElementReference>
    <status>Draft</status>
    <variables>
        <name>DocumentoReserva</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>IdAttachment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
