force-app/main/default/flows/ActualizarPonderacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AnadirRitmoVentas</name>
        <label>AnadirRitmoVentas</label>
        <locationX>296</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>ritmoVentasToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ritmoVentas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BucleRitmosVentas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarPonderacion</name>
        <label>AsignarPonderacion</label>
        <locationX>654</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>ritmoVentas.Ponderacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ponderacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnadirRitmoVentas</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ActualizarPonderacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActualizarPonderacion</label>
    <loops>
        <name>BucleRitmosVentas</name>
        <label>BucleRitmosVentas</label>
        <locationX>473</locationX>
        <locationY>54</locationY>
        <assignNextValueToReference>ritmoVentas</assignNextValueToReference>
        <collectionReference>RitmoVentasList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarPonderacion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizarPonderacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRitmosVentas</name>
        <label>getRitmosVentas</label>
        <locationX>250</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BucleRitmosVentas</targetReference>
        </connector>
        <filters>
            <field>Fecha_fin_periodo__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fechaFinPonderacion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_inicio_periodo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fechaInicioPonderacion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promocionId</elementReference>
            </value>
        </filters>
        <object>Ritmo_ventas__c</object>
        <outputReference>RitmoVentasList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ponderacion__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarPonderacion</name>
        <label>ActualizarPonderacion</label>
        <locationX>742</locationX>
        <locationY>51</locationY>
        <inputReference>ritmoVentasToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>getRitmosVentas</startElementReference>
    <status>Active</status>
    <variables>
        <name>fechaFinPonderacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fechaInicioPonderacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ponderacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>promocionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ritmoVentas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ritmo_ventas__c</objectType>
    </variables>
    <variables>
        <name>RitmoVentasList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ritmo_ventas__c</objectType>
    </variables>
    <variables>
        <name>ritmoVentasToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ritmo_ventas__c</objectType>
    </variables>
</Flow>
