force-app/main/default/flows/AfterUpdateOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_MarcarCheckPBC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FacturaAportacionCapital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntregaAportacionCapital__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExisteFacturaAportacionCapital__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EntregaAportacionCapital__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LanzarSubFlow</targetReference>
            </connector>
            <label>Factura Aportación Capital</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el estado de la oportunidad ha cambiado a cancelado o si el contrato reserva firmado pasa a true.</description>
        <name>Decision_CanceladaOContratoReservaFirmado</name>
        <label>Decision_Cancelada O Contrato Reserva Firmado</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Decision_FechaEscrituracionCambia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceladaOContratoReservaFirmado_Si</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Reserva_firmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Reserva_firmado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_UpdateRitmoVentas</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el pago contrato al contado es mayor a cero, y si el contrato de reserva ha sido firmado o  con reserva nula o cero.</description>
        <name>Decision_ContratoReservaFirmado</name>
        <label>Decision_Contrato Reserva Firmado</label>
        <locationX>710</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>Decision_EstadoContrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContratoReservaFirmado_Si</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR ( 5 AND (6 OR 7) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Reserva_firmado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Reserva_firmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pago_Contrato_al_contado__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reserva__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reserva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_EstadoComercial</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el estado de la oportunidad cambia a Contrato.</description>
        <name>Decision_EstadoContrato</name>
        <label>Decision_Estado Contrato</label>
        <locationX>710</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Decision_EstadoOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoContrato_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CambioEstadoInmuebleContrato</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar el estado al que se cambia la oportunidad.</description>
        <name>Decision_EstadoOportunidad</name>
        <label>Decision_EstadoOportunidad</label>
        <locationX>710</locationX>
        <locationY>3347</locationY>
        <defaultConnector>
            <targetReference>Decision_SeCancelaEra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoOportunidad_ContratoFirmado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Compraventa_firmado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Compraventa_firmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Cuotas__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plan_de_pagos_creado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pago_Contrato__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CreacionPlanFacturas</targetReference>
            </connector>
            <label>Contrato firmado</label>
        </rules>
        <rules>
            <name>EstadoOportunidad_Escrituracion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escrituración</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pago_Escritura__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CreacionFacturaEscrituraSusLineas</targetReference>
            </connector>
            <label>Escrituración</label>
        </rules>
        <rules>
            <name>EstadoOportunidad_Cancelada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Facturas_PdteEnvioOracleOProforma</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el estado ha cambiado a Reserva Pdte de Cobro y la reserva mayor que 0.</description>
        <name>Decision_EstadoPdteCobro</name>
        <label>Decision_Estado Pdte de Cobro</label>
        <locationX>380</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Decision_EstadoReserva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoPdteCobro_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva Pdte. Cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reserva__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_FacturaReserva</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el estado de la oportunidad pasa a Reserva</description>
        <name>Decision_EstadoReserva</name>
        <label>Decision_Estado Reserva</label>
        <locationX>710</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Decision_ContratoReservaFirmado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoReserva_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CambioEstadoInmuebleBloqueado</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la fecha de escrituración de la oportunidad ha cambiado.</description>
        <name>Decision_FechaEscrituracionCambia</name>
        <label>Decision_Fecha Escrituración se cambia</label>
        <locationX>380</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Decision_FechasCuota1EscriturasRellenas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FechaEscrituracionCambia_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_de_Escrituracion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Facturas_SecuencialNumeroFactura</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si las fechas de la primera cuota y escrituras están rellenas.</description>
        <name>Decision_FechasCuota1EscriturasRellenas</name>
        <label>Decision_Fechas Cuota1 y escrituras rellenas</label>
        <locationX>380</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Decision_IBANCambia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FechasCuota1EscriturasRellenas_Si</name>
            <conditionLogic>(1 OR 6 OR 10 OR 11 OR 12) AND 2 AND 3 AND (4 OR 5 OR 8 OR 9 OR 15 OR 13) AND 7 AND 14</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_de_primera_cuota__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_de_Escrituracion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_de_primera_cuota__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_de_Escrituracion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Compraventa_firmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pago_Contrato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva Pdte. Cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presupuesto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Cuota_Extra__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pago_Contrato__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Numero_Cuotas_Extra__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CalculoCuotas</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la Cuenta Bancaria de mandato (IBAN) ha cambiado.</description>
        <name>Decision_IBANCambia</name>
        <label>Decision_IBAN se cambia</label>
        <locationX>380</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Decision_EstadoPdteCobro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IBANCambia_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuenta_Bancaria_de_mandato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oportunidad_SecuencialCuentaBancaria</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la oportunidad cumple las condiciones para ser marcado el check PBC.</description>
        <name>Decision_MarcarCheckPBC</name>
        <label>Decision_Marcar Check PBC</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Subflow_NotificarMarcadoDesmarcadoPBC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MarcarCheckPBC_Si</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva Pdte. Cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desactivar_Bloqueos_PBC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_MarcarPBC</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el estado de la oportunidad que era al pasarse a cancelado con contrato de reserva o compraventa firmado igual a true.</description>
        <name>Decision_SeCancelaContratoFirmadoEra</name>
        <label>Decision_Se Cancela con Contrato firmado y era</label>
        <locationX>710</locationX>
        <locationY>4379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SeCancelaContratoFirmadoEra_reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Reserva_firmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_MostrarResolucionReserva</targetReference>
            </connector>
            <label>Reserva</label>
        </rules>
        <rules>
            <name>SeCancelaContratoFirmadoEra_ContratoPlPagosEscrit</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrato_Compraventa_firmado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan de pagos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escrituración</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_MostrarResolucionCompraventa</targetReference>
            </connector>
            <label>Contrato/ Plan pagos/ Escrituración</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar el estado de la oportunidad que era reserva antes de pasar a cancelado.</description>
        <name>Decision_SeCancelaEra</name>
        <label>Decision_Se Cancela y era</label>
        <locationX>710</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Decision_SeCancelaContratoFirmadoEra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SeCancelaEra_Reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tarea_GestionarCancelacion</targetReference>
            </connector>
            <label>Reserva</label>
        </rules>
        <rules>
            <name>SeCancelaEra_ContratoPlPagosEscrit</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan de pagos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escrituración</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TareaGestionarCancelacionContrato</targetReference>
            </connector>
            <label>Contrato/ Plan de pagos/ Escrituracion</label>
        </rules>
    </decisions>
    <description>Tiene una decisión (condiciones de entrada) para identificar si el campo Entrega Aportación capital cambia de false a true. En este caso, lanzará el subflow de creación de factura
27/06 MSC: Partes del PBs &quot;PB_OportunidadCancelada&quot;, &quot;PB_OportunidadReservada&quot; y workflows</description>
    <formulas>
        <description>Formula que devuelve el código de sociedad de Socio/Empresa Promotora si está existe en la promoción.</description>
        <name>For_CodigoSociedad</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Promocion__r.Socio_Empresa_Promotora__c}), &apos; &apos;, {!$Record.Promocion__r.Socio_Empresa_Promotora__r.Codigo_de_sociedad__c})</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve el email del responsable comercial si este existe en la promocion.</description>
        <name>For_ResponsableComercialEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Promocion__r.Responsable_Comercial__c}), &apos; &apos;, {!$Record.Promocion__r.Responsable_Comercial__r.Email})</expression>
    </formulas>
    <formulas>
        <description>Formula que añade 1 al valor actual de Secuencial Cuenta Bancaria.</description>
        <name>For_SecuencialCBPlus1</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Secuencial_Cuenta_Bancaria__c}), 1,  {!$Record.Secuencial_Cuenta_Bancaria__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Formula que contiene la fecha de hoy</description>
        <name>For_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve la fecha de mañana.</description>
        <name>For_TodayPlus1</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>520280 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Update Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crear Tarea de gestionar la cancelación.</description>
        <name>Create_Tarea_GestionarCancelacion</name>
        <label>Create_Tarea_Gestionar la cancelación</label>
        <locationX>446</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>Subflow_FacturaRectificativaLineas</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>For_TodayPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>indicar la fecha para el abono, revisar que el importe sea el correspondiente y generar un documento de Resolución de contrato si aplica.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Gestionar la cancelación de la Oportunidad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear Tarea de gestionar la cancelación.</description>
        <name>Create_TareaGestionarCancelacionContrato</name>
        <label>Create_Tarea_Gestionar la cancelación</label>
        <locationX>710</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>Subflow_FacturaRectificativaLineasContrato</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>For_TodayPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>indicar la fecha para el abono, revisar que el importe sea el correspondiente y generar un documento de Resolución de contrato si aplica.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Gestionar la cancelación de la oportunidad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <description>Actualizar el estado comercial de la cuenta relacionada a la oportunidad a Comprador.</description>
        <name>Update_Account_EstadoComercial</name>
        <label>Update_Account_Estado comercial</label>
        <locationX>578</locationX>
        <locationY>2747</locationY>
        <connector>
            <targetReference>Subflow_FacturaEntrada</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_comercial__c</field>
            <value>
                <stringValue>Comprador</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el estado de las facturas pendientes envió a Oracle o Proforma a Cancelada</description>
        <name>Update_Facturas_PdteEnvioOracleOProforma</name>
        <label>Update_Facturas_Pdte Envió a Oracle O  Proforma</label>
        <locationX>842</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Subflow_CambioEstadoInmuebleLibre</targetReference>
        </connector>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Facturas__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el Secuencial y número de factura de las facturas a null para que no se envíen a Oracle.</description>
        <name>Update_Facturas_SecuencialNumeroFactura</name>
        <label>Update_Facturas_Secuencial Numero Factura</label>
        <locationX>248</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Decision_FechasCuota1EscriturasRellenas</targetReference>
        </connector>
        <filters>
            <field>Fecha_de_emision__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Fecha_de_Escrituracion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_factura__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SecuencialFactura__c</field>
        </inputAssignments>
        <inputReference>$Record.Facturas__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar los campo de cancelación de la oportunidad.</description>
        <name>Update_Oportunidad_Cancelaciones</name>
        <label>Update_Oportunidad_Cancelaciones</label>
        <locationX>842</locationX>
        <locationY>3779</locationY>
        <connector>
            <targetReference>Decision_SeCancelaEra</targetReference>
        </connector>
        <inputAssignments>
            <field>EtapaPreviaCancelacion__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaCancelacion__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la oportunidad marcando el campo Verificando PBC.</description>
        <name>Update_Oportunidad_MarcarPBC</name>
        <label>Update_Oportunidad_Marcar PBC</label>
        <locationX>248</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Subflow_NotificarMarcadoDesmarcadoPBC</targetReference>
        </connector>
        <inputAssignments>
            <field>Verificando_PBC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Mostrar Resolución Compraventa poniéndolo a true.</description>
        <name>Update_Oportunidad_MostrarResolucionCompraventa</name>
        <label>Update_Oportunidad_Mostrar Resolución Compraventa</label>
        <locationX>710</locationX>
        <locationY>4487</locationY>
        <inputAssignments>
            <field>Mostrar_Resolucion_Compraventa__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Mostrar Resolución Reserva poniéndolo a true.</description>
        <name>Update_Oportunidad_MostrarResolucionReserva</name>
        <label>Update_Oportunidad_Mostrar Resolución Reserva</label>
        <locationX>446</locationX>
        <locationY>4487</locationY>
        <inputAssignments>
            <field>Mostrar_Resolucion_Reserva__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el valor del campo Secuencial Cuenta Bancaria de la oportunidad.</description>
        <name>Update_oportunidad_SecuencialCuentaBancaria</name>
        <label>Update_oportunidad_Secuencial Cuenta Bancaria</label>
        <locationX>248</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Decision_EstadoPdteCobro</targetReference>
        </connector>
        <inputAssignments>
            <field>Secuencial_Cuenta_Bancaria__c</field>
            <value>
                <elementReference>For_SecuencialCBPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Limpiar Oportunidad de los productos de la oportunidad a Libre</description>
        <name>Update_Productos_LimpiarOportunidad</name>
        <label>Update_Productos_Limpiar Oportunidad</label>
        <locationX>842</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Update_Oportunidad_Cancelaciones</targetReference>
        </connector>
        <inputAssignments>
            <field>Limpiar_oportunidad__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Products__r</inputReference>
    </recordUpdates>
    <startElementReference>Decision</startElementReference>
    <status>Active</status>
    <subflows>
        <name>LanzarSubFlow</name>
        <label>Lanzar Sub Flow</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_MarcarCheckPBC</targetReference>
        </connector>
        <flowName>FacturaAportacionCapitalYLineas</flowName>
        <inputAssignments>
            <name>CodigoSociedad</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__r.Codigo_de_sociedad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedad</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Calculo nº cuotas</description>
        <name>Subflow_CalculoCuotas</name>
        <label>Subflow_Calculo nº cuotas</label>
        <locationX>248</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Decision_IBANCambia</targetReference>
        </connector>
        <flowName>Calculo_de_cuotas</flowName>
        <inputAssignments>
            <name>Amount</name>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FechadeInicio</name>
            <value>
                <elementReference>$Record.Fecha_de_primera_cuota__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FechaEscrituracion</name>
            <value>
                <elementReference>$Record.Fecha_de_Escrituracion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImporteCuotasExtra</name>
            <value>
                <elementReference>$Record.Importe_Cuota_Extra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumCuotExtra</name>
            <value>
                <elementReference>$Record.Numero_Cuotas_Extra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PorcentajePagoContrato</name>
            <value>
                <elementReference>$Record.Pago_Contrato__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble para actualizar el estado del inmueble &quot;Reserva&quot;.</description>
        <name>Subflow_CambioEstadoInmueble</name>
        <label>Subflow_Cambio del Estado del inmueble</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Bloqueado temporalmente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble.</description>
        <name>Subflow_CambioEstadoInmuebleBloqueado</name>
        <label>Subflow_Cambio del Estado del inmueble</label>
        <locationX>578</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Decision_ContratoReservaFirmado</targetReference>
        </connector>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Bloqueado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble.</description>
        <name>Subflow_CambioEstadoInmuebleContrato</name>
        <label>Subflow_Cambio del Estado del inmueble</label>
        <locationX>578</locationX>
        <locationY>3155</locationY>
        <connector>
            <targetReference>Decision_EstadoOportunidad</targetReference>
        </connector>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble.</description>
        <name>Subflow_CambioEstadoInmuebleEscriturado</name>
        <label>Subflow_Cambio del Estado del inmueble</label>
        <locationX>578</locationX>
        <locationY>3563</locationY>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Entregado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble.</description>
        <name>Subflow_CambioEstadoInmuebleLibre</name>
        <label>Subflow_Cambio del Estado del inmueble</label>
        <locationX>842</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>Update_Productos_LimpiarOportunidad</targetReference>
        </connector>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Libre</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Creación Factura Escritura y sus lineas</description>
        <name>Subflow_CreacionFacturaEscrituraSusLineas</name>
        <label>Subflow_Creación Factura Escritura y sus lineas</label>
        <locationX>578</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Subflow_CambioEstadoInmuebleEscriturado</targetReference>
        </connector>
        <flowName>Creacion_Factura_Escritura_y_sus_lineas</flowName>
        <inputAssignments>
            <name>CodigoSociedad</name>
            <value>
                <elementReference>For_CodigoSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedadPromo</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Creación Plan de facturas.</description>
        <name>Subflow_CreacionPlanFacturas</name>
        <label>Subflow_Creación Plan de facturas</label>
        <locationX>314</locationX>
        <locationY>3455</locationY>
        <flowName>Creacion_Plan_de_facturas</flowName>
        <inputAssignments>
            <name>Descrip</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FechaPrimeraCuota</name>
            <value>
                <elementReference>$Record.Fecha_de_primera_cuota__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdCliente</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedad_inp</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImporteCuota</name>
            <value>
                <elementReference>$Record.Importe_de_Cuota__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IVA</name>
            <value>
                <elementReference>$Record.Porcentaje_IVA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MetodoCobroOportunidad</name>
            <value>
                <elementReference>$Record.MetodoDeCobro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreOport</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreSociedad</name>
            <value>
                <elementReference>For_CodigoSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Npromo</name>
            <value>
                <elementReference>$Record.Promocion__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumCuotas</name>
            <value>
                <elementReference>$Record.N_Cuotas__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Factura de Entrada para la creación de Factura de entrada.</description>
        <name>Subflow_FacturaEntrada</name>
        <label>Subflow_Factura de Entrada</label>
        <locationX>578</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Decision_EstadoContrato</targetReference>
        </connector>
        <flowName>Factura_de_Entrada</flowName>
        <inputAssignments>
            <name>CodigoSociedad</name>
            <value>
                <elementReference>For_CodigoSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedad</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Factura Rectificativa y lineas.</description>
        <name>Subflow_FacturaRectificativaLineas</name>
        <label>Subflow_Factura Rectificativa y lineas</label>
        <locationX>446</locationX>
        <locationY>4187</locationY>
        <connector>
            <targetReference>Decision_SeCancelaContratoFirmadoEra</targetReference>
        </connector>
        <flowName>Factura_Rectificativa_y_lineas</flowName>
        <inputAssignments>
            <name>CodigoSociedad</name>
            <value>
                <elementReference>For_CodigoSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EstadoAnterior</name>
            <value>
                <stringValue>Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedad</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Factura Rectificativa y lineas.</description>
        <name>Subflow_FacturaRectificativaLineasContrato</name>
        <label>Subflow_Factura Rectificativa y lineas</label>
        <locationX>710</locationX>
        <locationY>4187</locationY>
        <connector>
            <targetReference>Decision_SeCancelaContratoFirmadoEra</targetReference>
        </connector>
        <flowName>Factura_Rectificativa_y_lineas</flowName>
        <inputAssignments>
            <name>CodigoSociedad</name>
            <value>
                <elementReference>For_CodigoSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EstadoAnterior</name>
            <value>
                <stringValue>Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedad</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Factura Reserva</description>
        <name>Subflow_FacturaReserva</name>
        <label>Subflow_Factura Reserva</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Subflow_CambioEstadoInmueble</targetReference>
        </connector>
        <flowName>Factura_Reserva</flowName>
        <inputAssignments>
            <name>CodigoSociedad</name>
            <value>
                <elementReference>For_CodigoSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdSociedad</name>
            <value>
                <elementReference>$Record.Promocion__r.Socio_Empresa_Promotora__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombredePromocion</name>
            <value>
                <elementReference>$Record.Promocion__r.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo para notificar si la oportunidad está siendo o ha sido evaluada.</description>
        <name>Subflow_NotificarMarcadoDesmarcadoPBC</name>
        <label>Subflow_Notificar Marcado/Desmarcado PBC</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Decision_CanceladaOContratoReservaFirmado</targetReference>
        </connector>
        <flowName>NotificarMarcadoDesmarcadoPBC</flowName>
        <inputAssignments>
            <name>Var_EmailResponsableComercial</name>
            <value>
                <elementReference>For_ResponsableComercialEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_PriorVerificandoPBC</name>
            <value>
                <elementReference>$Record__Prior.Verificando_PBC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_StageName</name>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_VerificandoPBC</name>
            <value>
                <elementReference>$Record.Verificando_PBC__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Actualiza Ritmo de ventas</description>
        <name>Subflow_UpdateRitmoVentas</name>
        <label>Subflow_UpdateRitmoVentas</label>
        <locationX>248</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Decision_FechaEscrituracionCambia</targetReference>
        </connector>
        <flowName>updateRitmoVentas</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idOpportunity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idPromocion</name>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityStatus</name>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
