force-app/main/default/flows/aprobar_precio_propuesto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>actualizar_precios</name>
        <label>actualizar precios</label>
        <locationX>887</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>actualizarpreciosinmuebles</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>inmubucle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleinmueble</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cambia_precios</name>
        <label>cambia precios</label>
        <locationX>440</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>inmubucle.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inmubucle.Precio_propuesto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inmubucle.Precio_propuesto__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>actualizar_precios</targetReference>
        </connector>
    </assignments>
    <description>Optimiza proceso de actualización de precios tras aprobación del tarifario</description>
    <interviewLabel>aprobar precio propuesto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>aprobar precio propuesto</label>
    <loops>
        <name>bucleinmueble</name>
        <label>bucleinmueble</label>
        <locationX>514</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>inmubucle</assignNextValueToReference>
        <collectionReference>listainmublesprecioprop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cambia_precios</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>actualiza_precios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_precio_propuesto</name>
        <label>Get precio propuesto</label>
        <locationX>236</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bucleinmueble</targetReference>
        </connector>
        <filters>
            <field>Precio_propuesto__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Precio_propuesto__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idpromocion</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>listainmublesprecioprop</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Precio__c</queriedFields>
        <queriedFields>Precio_propuesto__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_precios</name>
        <label>actualiza precios</label>
        <locationX>853</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>actualiza_tarifario</targetReference>
        </connector>
        <inputReference>actualizarpreciosinmuebles</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_tarifario</name>
        <label>actualiza tarifario</label>
        <locationX>1098</locationX>
        <locationY>48</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idpromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aprobar_tarifario__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <startElementReference>Get_precio_propuesto</startElementReference>
    <status>Active</status>
    <variables>
        <name>actualizarpreciosinmuebles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>idpromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inmubucle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>listainmublesprecioprop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
