force-app/main/default/flows/Asignacion_candidatos_comercial_max_num_convertidos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignar_numero_de_leads_convertidos</name>
        <label>Asignar número de leads convertidos</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>leadsconvertidosini</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComercialX.Numero_de_Leads_convertidos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_comerciales_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contador_0</name>
        <label>contador 0</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ComercialX.Numero_de_Leads_convertidos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContadorLeads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorLeads</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Numero_de_leads_convertidos_mayor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>suma_leads_convertidos</name>
        <label>suma leads convertidos</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContadorLeads</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Leadsdelcomercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_numero_leads_convertidos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Numero_de_leads_convertidos_mayor</name>
        <label>¿Número de leads convertidos mayor?</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Recorrer_comerciales_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ha_convertido_mas_leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComercialX.Numero_de_Leads_convertidos__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>leadsconvertidosini</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_numero_de_leads_convertidos</targetReference>
            </connector>
            <label>ha convertido mas leads</label>
        </rules>
    </decisions>
    <description>Subflow en el flow - Lead_Triggered_BeforeOrAfterUpdateAsignacionCandidatos, que asigna leads al comercial con mayor número de leads convertidos
MSC 01/09: Eliminar componente &quot;Crear tarea contactar con lead&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 3</expression>
    </formulas>
    <interviewLabel>Asignacion candidatos comercial max num convertidos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Subflow_AfterInsertOrUpdateAsignacionCandidatosComercialMaxNum</label>
    <loops>
        <name>Recorrer_comerciales_2</name>
        <label>Recorrer comerciales</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>ComercialX</assignNextValueToReference>
        <collectionReference>ComercialesAPI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>leads_comercial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>comercial_con_mas_convertidos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>comercial_con_mas_convertidos</name>
        <label>comercial con más convertidos</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cambio_propietario_del_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_de_Leads_convertidos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadsconvertidosini</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion_Comercial_API__c</object>
        <outputAssignments>
            <assignToReference>Var_Output_IDcomercialMASLeads</assignToReference>
            <field>Comercial_API__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>leads_comercial</name>
        <label>leads comercial</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>suma_leads_convertidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComercialX.Comercial_API__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Descartado</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Leadsdelcomercial</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_numero_leads_convertidos</name>
        <label>Actualiza número leads convertidos</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>contador_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comercial_API__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComercialX.Comercial_API__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_Leads_convertidos__c</field>
            <value>
                <elementReference>ContadorLeads</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion_Comercial_API__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>cambio_propietario_del_lead</name>
        <label>cambio propietario del lead</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_InputOutput_IdLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_Output_IDcomercialMASLeads</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_comerciales_2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ComercialesAPI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ComercialX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ContadorLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorLeadsSUM</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CriterioAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDComercialMenosLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadsconvertidosini</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leadsdelcomercial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NumeroLeadsMIN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RegistroComercialLeadsMin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <description>Variable que guarda el id del lead que desencadena el flow principal</description>
        <name>Var_InputOutput_IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable que guarda el Id del comercial con mayor número de leads convertidos</description>
        <name>Var_Output_IDcomercialMASLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
