force-app/main/default/flows/Asignacion_Candidatos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Hay_comerciales_API</name>
        <label>¿Hay comerciales API?</label>
        <locationX>138</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_comerciales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComercialesAPI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>numero_minimo_de_leads</targetReference>
            </connector>
            <label>Hay comerciales</label>
        </rules>
    </decisions>
    <decisions>
        <name>numero_minimo_de_leads</name>
        <label>número minimo de leads</label>
        <locationX>303</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Asignacion_candidatos_comercial_max_num_convertidos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Igualdad_de_candidatos_Asignados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriterioAsignacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Igualdad de candidatos Asignados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_candidatos_comercial_min_num</targetReference>
            </connector>
            <label>Igualdad de candidatos Asignados</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 3</expression>
    </formulas>
    <interviewLabel>Asignación Candidatos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignación Candidatos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Comerciales_API_de_una_Promocion</name>
        <label>Comerciales API de una Promoción</label>
        <locationX>22</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_comerciales_API</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion_Comercial_API__c</object>
        <outputReference>ComercialesAPI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comercial_API__c</queriedFields>
        <queriedFields>Numero_de_Leads__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Datos_en_Promocion</name>
        <label>Datos en Promoción</label>
        <locationX>34</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comerciales_API_de_una_Promocion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>CriterioAsignacion</assignToReference>
            <field>Criterio_Asignacion_Candidatos__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Datos_en_Promocion</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Asignacion_candidatos_comercial_max_num_convertidos</name>
        <label>Asignacion candidatos comercial max num convertidos</label>
        <locationX>307</locationX>
        <locationY>561</locationY>
        <flowName>Asignacion_candidatos_comercial_max_num_convertidos</flowName>
        <inputAssignments>
            <name>ComercialesAPI</name>
            <value>
                <elementReference>ComercialesAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDPromocion</name>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Asignacion_candidatos_comercial_min_num</name>
        <label>Asignacion candidatos comercial min num</label>
        <locationX>631</locationX>
        <locationY>322</locationY>
        <flowName>Asignacion_candidatos_comercial_min_num</flowName>
        <inputAssignments>
            <name>ComercialesAPI</name>
            <value>
                <elementReference>ComercialesAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDPromocion</name>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ComercialesAPI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ComercialX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ContadorLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorLeadsSUM</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CriterioAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDcomercialMASconvertidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDComercialMenosLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadsconvertidosini</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leadsdelcomercial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NumeroLeadsMIN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RegistroComercialLeadsMin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
</Flow>
