force-app/main/default/flows/Asignacion_candidatos_comercial_min_num.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asignar_el_numero_leads_MIN</name>
        <label>Asignar el numero leads MIN</label>
        <locationX>661</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>NumeroLeadsMIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComercialX.Numero_de_Leads__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_comerciales_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contadora0</name>
        <label>Contador a 0</label>
        <locationX>970</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>ComercialX.Numero_de_Leads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContadorLeads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorLeads</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>El_numero_DE_leads_es_menor_al_MIN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumaLeads</name>
        <label>SumaLeads</label>
        <locationX>343</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>ContadorLeads</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Leadsdelcomercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualiza_n_leads_del_comercial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>El_numero_DE_leads_es_menor_al_MIN</name>
        <label>El número DE leads es menor al MIN</label>
        <locationX>1099</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Recorrer_comerciales_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Numero_actual_menor_al_MIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComercialX.Numero_de_Leads__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumeroLeadsMIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_el_numero_leads_MIN</targetReference>
            </connector>
            <label>¿Numero actual menor al MIN?</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 3</expression>
    </formulas>
    <interviewLabel>Asignacion candidatos comercial min num {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignacion candidatos comercial min num</label>
    <loops>
        <name>Recorrer_comerciales_2</name>
        <label>Recorrer comerciales</label>
        <locationX>356</locationX>
        <locationY>234</locationY>
        <assignNextValueToReference>ComercialX</assignNextValueToReference>
        <collectionReference>ComercialesAPI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Leads_del_Comercial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ComercialAPIconMenosLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreaTareaContactarLead</name>
        <label>CreaTareaContactarLead</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Contacte con el Lead para conseguir una información más completa: Datos personales, Disponibilidad horaria , Tipología de interés, etc.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IDComercialMenosLeads</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contactar con el Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>ComercialAPIconMenosLeads</name>
        <label>1ComercialAPIconMenosLeads</label>
        <locationX>64</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cambio_propietario_LEAD</targetReference>
        </connector>
        <filters>
            <field>Numero_de_Leads__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NumeroLeadsMIN</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion_Comercial_API__c</object>
        <outputAssignments>
            <assignToReference>IDComercialMenosLeads</assignToReference>
            <field>Comercial_API__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Leads_del_Comercial</name>
        <label>Leads del Comercial</label>
        <locationX>349</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumaLeads</targetReference>
        </connector>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComercialX.Comercial_API__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Descartado</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Leadsdelcomercial</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_n_leads_del_comercial</name>
        <label>Actualiza nº leads del comercial</label>
        <locationX>599</locationX>
        <locationY>818</locationY>
        <connector>
            <targetReference>Contadora0</targetReference>
        </connector>
        <filters>
            <field>Comercial_API__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComercialX.Comercial_API__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_Leads__c</field>
            <value>
                <elementReference>ContadorLeads</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion_Comercial_API__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cambio_propietario_LEAD</name>
        <label>Cambio propietario LEAD</label>
        <locationX>57</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>CreaTareaContactarLead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IDComercialMenosLeads</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Recorrer_comerciales_2</startElementReference>
    <status>Active</status>
    <variables>
        <name>ComercialesAPI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ComercialX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ContadorLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorLeadsSUM</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CriterioAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDcomercialMASconvertidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDComercialMenosLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadsconvertidosini</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leadsdelcomercial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NumeroLeadsMIN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RegistroComercialLeadsMin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
</Flow>
