force-app/main/default/flows/Asignacion_Candidatos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Hay_comerciales_API</name>
        <label>¿Hay comerciales API?</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_comerciales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Col_Output_ComercialesAPI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>numero_minimo_de_leads</targetReference>
            </connector>
            <label>Hay comerciales</label>
        </rules>
    </decisions>
    <decisions>
        <name>numero_minimo_de_leads</name>
        <label>número minimo de leads</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>LeadSubflowAsignacionCandidatosComercialMaxNum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Igualdad_de_candidatos_Asignados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriterioAsignacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Igualdad de candidatos Asignados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadSubflowAsignacionCandidatosComercialMinNum</targetReference>
            </connector>
            <label>Igualdad de candidatos Asignados</label>
        </rules>
    </decisions>
    <description>Se desencadena a través de PB_Blanquear Campos Dirección cuando un lead se crea o se actualiza, asigna leads a los comerciales y crea registros en el objeto LeadPromocion
--
V27: Unificación V24 y V26 (Creación registro LeadPromocion)</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 3</expression>
    </formulas>
    <formulas>
        <description>Campo fórmula que concatena el nombre del lead con el nombre de la promoción por la que muestra interés</description>
        <name>For_Name_LeadPromocion</name>
        <dataType>String</dataType>
        <expression>{!Get_LeadX.Name} + &apos; - &apos; + {!Var_NamePromocion}</expression>
    </formulas>
    <interviewLabel>Asignación Candidatos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Triggered_AfterUpdateAsignacionCandidatos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea los registros en el objeto LeadPromocion cuando se actualiza el campo Promoción (lead)</description>
        <name>CreateLeadPromocion</name>
        <label>CreateLeadPromocion</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>ComercialesAPIPromocion</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Interesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>For_Name_LeadPromocion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>Var_Input_IDPromocion</elementReference>
            </value>
        </inputAssignments>
        <object>LeadPromocion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Comerciales_API_de_una_Promocion</name>
        <label>Comerciales API de una Promoción</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LeadX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Input_IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion_Comercial_API__c</object>
        <outputReference>Col_Output_ComercialesAPI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comercial_API__c</queriedFields>
        <queriedFields>Numero_de_Leads__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ComercialesAPIPromocion</name>
        <label>Comerciales API de una Promoción</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_comerciales_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Input_IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion_Comercial_API__c</object>
        <outputReference>Col_Output_ComercialesAPI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comercial_API__c</queriedFields>
        <queriedFields>Numero_de_Leads__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Datos_en_Promocion</name>
        <label>Datos en Promoción</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comerciales_API_de_una_Promocion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Input_IDPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>CriterioAsignacion</assignToReference>
            <field>Criterio_Asignacion_Candidatos__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_NamePromocion</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_LeadX</name>
        <label>Get_LeadX</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateLeadPromocion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Datos_en_Promocion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow en el flow - Lead_Triggered_BeforeOrAfterUpdateAsignacionCandidatos, que asigna leads al comercial con mayor número de leads convertidos</description>
        <name>LeadSubflowAsignacionCandidatosComercialMaxNum</name>
        <label>Lead_Subflow_AsignacionCandidatosComercialMaxNum</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>Asignacion_candidatos_comercial_max_num_convertidos</flowName>
        <inputAssignments>
            <name>ComercialesAPI</name>
            <value>
                <elementReference>Col_Output_ComercialesAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDPromocion</name>
            <value>
                <elementReference>Var_Input_IDPromocion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_InputOutput_IdLead</name>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>LeadSubflowAsignacionCandidatosComercialMinNum</name>
        <label>Lead_Subflow_AsignacionCandidatosComercialMinNum</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <flowName>Asignacion_candidatos_comercial_min_num</flowName>
        <inputAssignments>
            <name>ComercialesAPI</name>
            <value>
                <elementReference>Col_Output_ComercialesAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDPromocion</name>
            <value>
                <elementReference>Var_Input_IDPromocion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_InputOutput_IdLead</name>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Col_Output_ComercialesAPI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ComercialX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>ContadorLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContadorLeadsSUM</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CriterioAsignacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadsconvertidosini</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leadsdelcomercial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NumeroLeadsMIN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RegistroComercialLeadsMin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <description>Variable que guarda el Id del comercial con mayor número de leads convertidos</description>
        <name>Var_IDComercialMASLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que guarda el Id del comercial con menor número de leads convertidos</description>
        <name>Var_IDComercialMENOSLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que guarda el id del lead que desencadena el flow principal</description>
        <name>Var_Input_IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que contiene el Id de la Promoción por la que tiene interés el Lead</description>
        <name>Var_Input_IDPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NamePromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
