force-app/main/default/flows/Calculo_de_cuotas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Fecha_Fin_a_Dia_1</name>
        <label>Fecha Fin a Día 1</label>
        <locationX>556</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>FechaFin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaFinalDia1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_la_fecha_Contador_menor_que_la_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Contador_y_Fecha</name>
        <label>Incrementa Contador y Fecha</label>
        <locationX>780</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fechacontador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sumames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_la_fecha_Contador_menor_que_la_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializa_Contadores</name>
        <label>Inicializa Contadores</label>
        <locationX>317</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fechacontador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechadeInicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaEscrituracion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PorcentajePago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PorcentajePagoContrato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fecha_Escritura_mayor_que_Fecha_Inicio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variables_Extra_a_0</name>
        <label>Variables Extra a 0</label>
        <locationX>180</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>ImpCuotaExtra</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NCuotasExtra</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inicializa_Contadores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variables_Extra_con_valor</name>
        <label>Variables Extra con valor</label>
        <locationX>427</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>ImpCuotaExtra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImporteCuotasExtra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NCuotasExtra</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumCuotExtra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inicializa_Contadores</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_la_fecha_Contador_menor_que_la_Fecha_Fin</name>
        <label>Es la fecha Contador menor que la Fecha Fin</label>
        <locationX>552</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Numero_de_cuotas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fechacontador</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FechaFin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Contador_y_Fecha</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_Escritura_mayor_que_Fecha_Inicio</name>
        <label>Fecha Escritura mayor que Fecha Inicio</label>
        <locationX>315</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FechaEscrituracion</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FechadeInicio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_Fin_a_Dia_1</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Num_cuotas_Extra_es_0</name>
        <label>Num cuotas Extra es 0</label>
        <locationX>298</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>Variables_Extra_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>N_mero_cuotas_es_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumCuotExtra</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variables_Extra_a_0</targetReference>
            </connector>
            <label>Número cuotas es 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>FechaFinalDia1</name>
        <dataType>Date</dataType>
        <expression>IF ( 
MONTH({!FechaFinal}) = 1, 
DATE( YEAR({!FechaFinal})-1, 12,1), 
DATE( YEAR({!FechaFinal}),MONTH({!FechaFinal}) -1, 1)
)</expression>
    </formulas>
    <formulas>
        <name>ImporteCuota</name>
        <dataType>Number</dataType>
        <expression>IF ( ISNULL({!Amount}), 0,
( ({!Amount}*{!PorcentajePago}/100) - ({!NCuotasExtra}*{!ImpCuotaExtra}) )  
)
/{!Contador}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sumames</name>
        <dataType>Date</dataType>
        <expression>IF ( MONTH({!Fechacontador}) &lt; 12, 
DATE( YEAR({!Fechacontador}), MONTH({!Fechacontador}) +1, DAY({!Fechacontador})), 
 DATE( YEAR({!Fechacontador}) +1, 1 , DAY({!Fechacontador}))
)</expression>
    </formulas>
    <interviewLabel>Calculo de cuotas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculo nº cuotas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_Numero_de_cuotas</name>
        <label>Actualiza Número de cuotas</label>
        <locationX>476</locationX>
        <locationY>581</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Importe_de_Cuota__c</field>
            <value>
                <elementReference>ImporteCuota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Cuotas__c</field>
            <value>
                <elementReference>Contador</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Num_cuotas_Extra_es_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Fechacontador</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechadeInicio</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaEscrituracion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaFin</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaFinal</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImpCuotaExtra</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteCuotasExtra</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NCuotasExtra</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumCuotExtra</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PorcentajePago</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PorcentajePagoContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
