force-app/main/default/flows/Cambio_del_Estado_del_inmueble.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>EstadoAssignment</name>
        <label>Estado Assignment</label>
        <locationX>883</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>GetProduct.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstadoInmueble</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LlenarLista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LlenarLista</name>
        <label>Llenar lista</label>
        <locationX>690</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>ListaProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Line_Items</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Cambio del Estado del inmueble {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cambio del Estado del inmueble</label>
    <loops>
        <name>Recorrer_Line_Items</name>
        <label>Recorrer Line Items</label>
        <locationX>484</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>LineItemX</assignNextValueToReference>
        <collectionReference>ProductLineX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProduct2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Inmuebles_en_OppotLine</name>
        <label>Busca Inmuebles en OppotLine</label>
        <locationX>390</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Line_Items</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ProductLineX</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProduct2</name>
        <label>Get Product2</label>
        <locationX>683</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstadoAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LineItemX.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Permuta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canje</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Asociado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Apartado</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>GetProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Estado__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProducts</name>
        <label>Update Products</label>
        <locationX>484</locationX>
        <locationY>417</locationY>
        <inputReference>ListaProduct</inputReference>
    </recordUpdates>
    <startElementReference>Busca_Inmuebles_en_OppotLine</startElementReference>
    <status>Active</status>
    <variables>
        <name>EstadoInmueble</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LineItemX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ListaProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductLineX</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
