force-app/main/default/flows/ChangeAccountRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>978</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContacts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>comprobaciones</name>
        <label>comprobaciones</label>
        <locationX>497</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Seleccione solo una opción</defaultConnectorLabel>
        <rules>
            <name>ClienteEmpresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleClienteEmp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClientePer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleComerc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleConstructora</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleSPromo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direccion</targetReference>
            </connector>
            <label>Cliente Empresa</label>
        </rules>
        <rules>
            <name>ClientePersonal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleClientePer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClienteEmp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleComerc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleConstructora</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleSPromo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direccion</targetReference>
            </connector>
            <label>ClientePersonal</label>
        </rules>
        <rules>
            <name>SociedadPromotora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleSPromo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClienteEmp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleComerc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleConstructora</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClientePer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTSP</targetReference>
            </connector>
            <label>SociedadPromotora</label>
        </rules>
        <rules>
            <name>Comerc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleComerc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClienteEmp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClientePer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleSPromo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleConstructora</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTComercializadora</targetReference>
            </connector>
            <label>Comercializadora</label>
        </rules>
        <rules>
            <name>const</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleConstructora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClienteEmp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleClientePer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleSPromo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ToggleComerc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTCons</targetReference>
            </connector>
            <label>const</label>
        </rules>
    </decisions>
    <decisions>
        <name>cuenta_o_persona</name>
        <label>cuenta o persona</label>
        <locationX>1010</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleClienteEmp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direccion_0</targetReference>
            </connector>
            <label>cuenta</label>
        </rules>
        <rules>
            <name>persona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToggleClientePer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>persona</label>
        </rules>
    </decisions>
    <decisions>
        <name>TieneContacto</name>
        <label>TieneContacto</label>
        <locationX>1149</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>finalError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarAccount.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTClientePer</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListaSituLabo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Situacion_laboral__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoVia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DP_Tipo_de_vIa__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FormulaCNAE</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.CNAE__c}</expression>
    </formulas>
    <formulas>
        <name>formulaCNO</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.CNO__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaDFLOcalidad</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.DF_Localidad__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaDFPAis</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.DF_Pais__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaDPPais</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.DP_Pais__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaLocalidadDP</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.DP_Localidad__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaLocFis</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.Localidad_FISCAL__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaPaisFical</name>
        <dataType>String</dataType>
        <expression>{!VarAccount.Pais_FISCAL__c}</expression>
    </formulas>
    <interviewLabel>ChangeAccountRecordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeAccountRecordType</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>974</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>LoopContacts</assignNextValueToReference>
        <collectionReference>ListaContactos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TieneContacto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>860</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ListaContactos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>430</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>VarAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DP_Provincia__c</queriedFields>
        <queriedFields>DP_Pais__c</queriedFields>
        <queriedFields>DP_Localidad__c</queriedFields>
        <queriedFields>DP_Tipo_de_vIa__c</queriedFields>
        <queriedFields>DP_Nombre_via__c</queriedFields>
        <queriedFields>DP_N_via__c</queriedFields>
        <queriedFields>DF_Pais__c</queriedFields>
        <queriedFields>DF_Localidad__c</queriedFields>
        <queriedFields>DF_Tipo_de_via__c</queriedFields>
        <queriedFields>DF_Nombre_via__c</queriedFields>
        <queriedFields>DF_N_via__c</queriedFields>
        <queriedFields>DF_Codigo_postal__c</queriedFields>
        <queriedFields>Pais_FISCAL__c</queriedFields>
        <queriedFields>Localidad_FISCAL__c</queriedFields>
        <queriedFields>Codigo_postal_FISCAL__c</queriedFields>
        <queriedFields>Tipo_de_via_FISCAL__c</queriedFields>
        <queriedFields>Nombre_de_via_FISCAL__c</queriedFields>
        <queriedFields>N_via_FISCAL__c</queriedFields>
        <queriedFields>Situacion_laboral__c</queriedFields>
        <queriedFields>CNAE__c</queriedFields>
        <queriedFields>CNO__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>DP_Codigo_postal__c</queriedFields>
        <queriedFields>NumeroViaText__c</queriedFields>
        <queriedFields>NumeroViaFiscalText__c</queriedFields>
        <queriedFields>NumeroVia2Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>536</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pantalla_inicial</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccount.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTInicial</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRTClienteEmpresa</name>
        <label>GetRTClienteEmp</label>
        <locationX>1174</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updaterecordCEmpresa</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cuenta</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTCE</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRTClientePer</name>
        <label>GetRTClientePer</label>
        <locationX>1323</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updaterecordCliente</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTPC</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRTComercializadora</name>
        <label>GetRTComercializadora</label>
        <locationX>334</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updaterecordCOM</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comercializadora</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTComer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRTCons</name>
        <label>GetRTCons</label>
        <locationX>672</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updaterecordConst</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Constructora</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTconstr</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRTSP</name>
        <label>GetRTSP</label>
        <locationX>506</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updaterecordSP</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sociedad</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RTSocProm</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updaterecordCEmpresa</name>
        <label>updaterecord</label>
        <locationX>1328</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>updaterecordTypeEmpresa</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CNAE__c</field>
            <value>
                <elementReference>AUXCNAE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNO__c</field>
            <value>
                <elementReference>AUXCNO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_postal_FISCAL__c</field>
            <value>
                <elementReference>Codigo_Postal_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Codigo_postal__c</field>
            <value>
                <elementReference>Codigo_PostalFaturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Localidad__c</field>
            <value>
                <elementReference>localidadFact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Nombre_via__c</field>
            <value>
                <elementReference>Nombre_de_la_viafac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Pais__c</field>
            <value>
                <elementReference>paisfact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Tipo_de_via__c</field>
            <value>
                <elementReference>Tipo_de_viaFac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Codigo_postal__c</field>
            <value>
                <elementReference>Codigo_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Localidad__c</field>
            <value>
                <elementReference>localidad_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Nombre_via__c</field>
            <value>
                <elementReference>Nombre_de_la_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Pais__c</field>
            <value>
                <elementReference>Paisscreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Tipo_de_vIa__c</field>
            <value>
                <elementReference>Tipo_de_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localidad_FISCAL__c</field>
            <value>
                <elementReference>LocalidadFiscal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_via_FISCAL__c</field>
            <value>
                <elementReference>Nombre_de_la_via_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVia2Text__c</field>
            <value>
                <elementReference>NumeroFac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroViaFiscalText__c</field>
            <value>
                <elementReference>Numero_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroViaText__c</field>
            <value>
                <elementReference>Numero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais_FISCAL__c</field>
            <value>
                <elementReference>Paisfiscalscreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacion_laboral__c</field>
            <value>
                <elementReference>Situacion_laboral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_via_FISCAL__c</field>
            <value>
                <elementReference>Tipo_de_via_0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updaterecordCliente</name>
        <label>updaterecord</label>
        <locationX>1486</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>updaterecordtypeCliente</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DF_Codigo_postal__c</field>
            <value>
                <elementReference>Codigo_PostalFaturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Localidad__c</field>
            <value>
                <elementReference>localidadFact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Nombre_via__c</field>
            <value>
                <elementReference>Nombre_de_la_viafac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Pais__c</field>
            <value>
                <elementReference>paisfact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Tipo_de_via__c</field>
            <value>
                <elementReference>Tipo_de_viaFac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Codigo_postal__c</field>
            <value>
                <elementReference>Codigo_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Localidad__c</field>
            <value>
                <elementReference>localidad_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Nombre_via__c</field>
            <value>
                <elementReference>Nombre_de_la_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Pais__c</field>
            <value>
                <elementReference>Paisscreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DP_Tipo_de_vIa__c</field>
            <value>
                <elementReference>Tipo_de_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVia2Text__c</field>
            <value>
                <elementReference>NumeroFac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroViaText__c</field>
            <value>
                <elementReference>Numero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacion_laboral__c</field>
            <value>
                <elementReference>Situacion_laboral</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updaterecordCOM</name>
        <label>updaterecord</label>
        <locationX>331</locationX>
        <locationY>597</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTComer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updaterecordConst</name>
        <label>updaterecord</label>
        <locationX>671</locationX>
        <locationY>575</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTconstr.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updaterecordSP</name>
        <label>updaterecord</label>
        <locationX>504</locationX>
        <locationY>611</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTSocProm.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updaterecordtypeCliente</name>
        <label>updaterecord</label>
        <locationX>1487</locationX>
        <locationY>218</locationY>
        <faultConnector>
            <targetReference>finalError</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTPC.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updaterecordTypeEmpresa</name>
        <label>updaterecord</label>
        <locationX>1494</locationX>
        <locationY>480</locationY>
        <faultConnector>
            <targetReference>finalError</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTCE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Direccion</name>
        <label>Direccion</label>
        <locationX>793</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>cuenta_o_persona</targetReference>
        </connector>
        <fields>
            <name>DP</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Dirección principal&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_de_via</name>
            <choiceReferences>TipoVia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de vía</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nombre_de_la_via</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.DP_Nombre_via__c</elementReference>
            </defaultValue>
            <fieldText>Nombre de la vía</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Numero</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.NumeroViaText__c</elementReference>
            </defaultValue>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codigo_Postal</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.DP_Codigo_postal__c</elementReference>
            </defaultValue>
            <fieldText>Código Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lookupLocalidad</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DP_Localidad__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Localidad</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaLocalidadDP</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>localidad_screen</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pais</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DP_Pais__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pais</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaDPPais</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Paisscreen</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CamposRBA</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Campos RBA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Situacion_laboral</name>
            <choiceReferences>ListaSituLabo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Situación laboral</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CNAEscreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CNAE__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CNAE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaCNAE</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cnae</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CNOscreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CNO__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CNO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>formulaCNO</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cno</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DF</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Dirección de facturación&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_de_viaFac</name>
            <choiceReferences>TipoVia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de vía</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nombre_de_la_viafac</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.DF_Nombre_via__c</elementReference>
            </defaultValue>
            <fieldText>Nombre de la vía</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NumeroFac</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.NumeroVia2Text__c</elementReference>
            </defaultValue>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codigo_PostalFaturacion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.DF_Codigo_postal__c</elementReference>
            </defaultValue>
            <fieldText>Código Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocalidadFacturacion</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DF_Localidad__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Localidad Facturación</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaDFLOcalidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>localidadFact</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Lookuppaisfact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DF_Pais__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>País de facturación</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaDFPAis</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>paisfact</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Direccion_0</name>
        <label>Direccion</label>
        <locationX>1019</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetRTClienteEmpresa</targetReference>
        </connector>
        <fields>
            <name>texto2</name>
            <fieldText>&lt;p&gt;Rellene la dirección fiscal&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_de_via_0</name>
            <choiceReferences>TipoVia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de vía</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nombre_de_la_via_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.Nombre_de_via_FISCAL__c</elementReference>
            </defaultValue>
            <fieldText>Nombre de la vía</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Numero_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.NumeroViaFiscalText__c</elementReference>
            </defaultValue>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codigo_Postal_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarAccount.Codigo_postal_FISCAL__c</elementReference>
            </defaultValue>
            <fieldText>Código Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lookupLocalidadfiscal</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DP_Localidad__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Localidad</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaLocFis</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LocalidadFiscal</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Paisfiscal</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pais_FISCAL__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>País Fiscal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FormulaPaisFical</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Paisfiscalscreen</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>239</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;Seleccione solo una opción.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalError</name>
        <label>finalError</label>
        <locationX>1157</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSNFINAL</name>
            <fieldText>&lt;p&gt;No se pudo actualizar el registro. Compruebe los datos y los registros relacionados.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;El propietario de la cuenta debe ser el mismo que el del contacto. &lt;/li&gt;&lt;li&gt;Solo puede existir un contacto por cuenta.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>pantalla_inicial</name>
        <label>pantalla inicial</label>
        <locationX>646</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>comprobaciones</targetReference>
        </connector>
        <fields>
            <name>texto</name>
            <fieldText>&lt;p&gt;Seleccione el tipo de registro al que quiere cambiar la cuenta.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>prueba</name>
            <fieldText>&lt;p&gt;El tipo de cuenta actual es: {!VarAccount.RecordType.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cliente_Empresarial</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente Empresa</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ToggleClienteEmp</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ClientePers</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente Personal</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ToggleClientePer</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Spromo</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sociedad Promotora</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ToggleSPromo</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comerci</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Comercializadora</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ToggleComerc</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Construc</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Constructora</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ToggleConstructora</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetRecord</startElementReference>
    <status>Active</status>
    <variables>
        <name>AUXCNAE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AUXCNO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cnae</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaContactos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>localidad_screen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>localidadFact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalidadFiscal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OwnerContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paisfact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paisfiscalscreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paisscreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTCE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RTComer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RTconstr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RTInicial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RTPC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RTSocProm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ToggleClienteEmp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToggleClientePer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToggleComerc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToggleConstructora</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToggleSPromo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
