force-app/main/default/flows/Contar_Tareas_de_Contactar_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VariableCalcularNumTareas</name>
        <label>VariableCalcularNumTareas</label>
        <locationX>509</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumaContadorForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contar_Tareas_Completadas_de_Contactar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contador_es_menor_a_N_Intentos</name>
        <label>Contador es menor a Nº Intentos</label>
        <locationX>346</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contador_es_menor_a_Num_Intentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumIntentos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_tarea_para_contactar_con_cliente</targetReference>
            </connector>
            <label>Contador es menor a Num Intentos</label>
        </rules>
    </decisions>
    <formulas>
        <name>FechaTareaForm</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!FrecuenciaContacto}</expression>
    </formulas>
    <formulas>
        <name>SumaContadorForm</name>
        <dataType>Number</dataType>
        <expression>{!Contador}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contar Tareas de Contactar Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contar Tareas de Contactar Lead</label>
    <loops>
        <name>Contar_Tareas_Completadas_de_Contactar</name>
        <label>Contar Tareas Completadas de Contactar</label>
        <locationX>337</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>TareasCompletasIndividual</assignNextValueToReference>
        <collectionReference>TareasCompletadasDeContactar1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VariableCalcularNumTareas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LedPromocion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_para_contactar_con_cliente</name>
        <label>Crear tarea para contactar con cliente</label>
        <locationX>510</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaTareaForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdPropietarioLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Contar_tareas_de_Contactar_Cliente</name>
        <label>Contar tareas de Contactar Cliente</label>
        <locationX>346</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Tareas_Completadas_de_Contactar</targetReference>
        </connector>
        <filters>
            <field>Resultado_contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volver a contactarle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contactar con el lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TareasCompletadasDeContactar1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LedPromocion</name>
        <label>LedPromocion</label>
        <locationX>213</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N_Intentos_y_Frecuencia_Promo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>IdPropietarioLead</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPromoLead</assignToReference>
            <field>Promocion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>N_Intentos_y_Frecuencia_Promo</name>
        <label>N Intentos y Frecuencia Promo</label>
        <locationX>211</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contador_es_menor_a_N_Intentos</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromoLead</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>FrecuenciaContacto</assignToReference>
            <field>Frecuencia__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumIntentos</assignToReference>
            <field>N_intentos_contacto_lead__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Contar_tareas_de_Contactar_Cliente</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FrecuenciaContacto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPromoLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPropietarioLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumIntentos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contactar con el lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>TareasCompletadasDeContactar1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TareasCompletasIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
