force-app/main/default/flows/Contar_y_crear_tarea_para_fijar_visita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ContadorNumVisitasRechazadas</name>
        <label>ContadorNumVisitasRechazadas</label>
        <locationX>508</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>Contador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumaContadorForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contador_Visitas_Rechazadas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contador_es_menor_a_N_Intentos</name>
        <label>Contador es menor a Nº Intentos</label>
        <locationX>429</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contador_es_menor_a_Num_Intentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contador</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumIntentos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_tarea_para_fijar_una_visita_con_el_cliente</targetReference>
            </connector>
            <label>Contador es menor a Nº Intentos</label>
        </rules>
    </decisions>
    <formulas>
        <name>FechaTareaForm</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!FrecuenciaIntentoVisita}</expression>
    </formulas>
    <formulas>
        <name>SumaContadorForm</name>
        <dataType>Number</dataType>
        <expression>{!Contador}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contar y crear tarea para fijar visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contar y crear tarea para fijar visita</label>
    <loops>
        <name>Contador_Visitas_Rechazadas</name>
        <label>Contador Visitas Rechazadas</label>
        <locationX>292</locationX>
        <locationY>161</locationY>
        <assignNextValueToReference>TareasCompletasIndividual1</assignNextValueToReference>
        <collectionReference>TareasCompletadasVisita</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContadorNumVisitasRechazadas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LeadPromocion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_para_fijar_una_visita_con_el_cliente</name>
        <label>Crear tarea para fijar una visita con el cliente</label>
        <locationX>439</locationX>
        <locationY>667</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaTareaForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Fije una visita con el cliente potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdPropietarioLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Contar_tareas_de_visita</name>
        <label>Contar tareas de visita</label>
        <locationX>237</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contador_Visitas_Rechazadas</targetReference>
        </connector>
        <filters>
            <field>Resultado_contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Volver a contactarle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TareasCompletadasVisita</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LeadPromocion</name>
        <label>LeadPromocion</label>
        <locationX>271</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N_Intentos_Visita_Frecuencia</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>IdPropietarioLead</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPromoLead</assignToReference>
            <field>Promocion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>N_Intentos_Visita_Frecuencia</name>
        <label>N Intentos Visita y Frecuencia</label>
        <locationX>267</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contador_es_menor_a_N_Intentos</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromoLead</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>FrecuenciaIntentoVisita</assignToReference>
            <field>Frecuencia_Intentos_visita__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumIntentos</assignToReference>
            <field>N_intentos_Visita__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Contar_tareas_de_visita</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FrecuenciaIntentoVisita</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPromoLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPropietarioLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumIntentos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TareasCompletadasVisita</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TareasCompletasIndividual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TareasCompletasIndividual1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
