force-app/main/default/flows/Creacion_Plan_de_facturas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Tarea_para_poner_fecha_a_las_Cuotas_Extra</name>
        <label>Tarea para poner fecha a las Cuotas Extra</label>
        <locationX>978</locationX>
        <locationY>429</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>HayCuotasExtra_0</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>IDPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>AsuntoTarea</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Actualiza_Variables</name>
        <label>Actualiza Variables</label>
        <locationX>2594</locationX>
        <locationY>95</locationY>
        <assignmentItems>
            <assignToReference>ContadorCuotas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumeroCuotaActual</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaContador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumaMes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_Contador_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CreaFacturaExtraParticipante</name>
        <label>Add CreaFacturaExtraParticipante</label>
        <locationX>1722</locationX>
        <locationY>1806</locationY>
        <assignmentItems>
            <assignToReference>List_CreaFacturaExtraParticipante</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreaFacturaExtraParticipante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_variable_participantes_para_Extra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Crearlineasdefactura</name>
        <label>Add Crearlineasdefactura</label>
        <locationX>1673</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>List_Crearlineasdefactura</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crearlineasdefactura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LineaMAS1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Factura</name>
        <label>Add Factura</label>
        <locationX>2927</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>List_Factura</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Factura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerParticipantes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Linea_de_factura</name>
        <label>Add Linea_de_factura</label>
        <locationX>3472</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>List_linea_de_factura</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Linea_de_factura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_Productos_con_Precio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_LineaFacturaExtra</name>
        <label>Add LineaFacturaExtra</label>
        <locationX>2630</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>List_LineaFacturaExtra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineaFacturaExtra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_Numero_Linea3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_lineasFacturapara1Participante</name>
        <label>Add lineasFacturapara1Participante</label>
        <locationX>2607</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>List_lineasFacturapara1Participante</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineasFacturapara1Participante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_1_a_Numero_Linea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crea_CreaFacturaExtraParticipante</name>
        <label>Crea CreaFacturaExtraParticipante</label>
        <locationX>1637</locationX>
        <locationY>2001</locationY>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipanteX.Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Codigo_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Condicion_Cobro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Descripcion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescripcionFact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Estado_de_la_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Estado_plan_de_pagos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImporteFacturaCuotaExtraNparticipantes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Metodo_de_cobro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MetodoCobroOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreCuotaExtra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplazado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Pago_o_Cuota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cuota Extra</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Plan_de_pagos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanPagosID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Porcentaje_de_participacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipanteX.Porcentaje_de_participacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Referencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormReferencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Sociedad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdSociedad_inp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Tipo_de_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Tipologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreaFacturaExtraParticipante.Enviar_Factura_Oracle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CreaFacturaExtraParticipante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_Factura_por_ParticipanteX</name>
        <label>Crear Factura por ParticipanteX</label>
        <locationX>2798</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>Factura.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipanteX.Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Codigo_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Condicion_Cobro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Descripcion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescripcionFact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Estado_de_la_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Estado_plan_de_pagos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Fecha_Contable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaContador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaContador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImporteFacturaNparticipantes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Metodo_de_cobro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MetodoCobroOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreFactura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplazado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Pago_o_Cuota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cuota</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Plan_de_pagos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanPagosID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Porcentaje_de_participacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipanteX.Porcentaje_de_participacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Referencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormReferencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Sociedad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdSociedad_inp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Tipo_de_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Tipologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Enviar_Factura_Oracle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Factura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_Lineas_de_Factura_por_ProductoX</name>
        <label>Crear Lineas de Factura por ProductoX</label>
        <locationX>3471</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Linea_de_factura.DescripcionLinea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescripLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Linea_de_factura.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDFacturaX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Linea_de_factura.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImporteLineaNparticip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Linea_de_factura.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Linea_de_factura.Numero_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Linea_de_factura.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Linea_de_factura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Crearlineasdefactura</name>
        <label>Create Crearlineasdefactura</label>
        <locationX>1453</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>Crearlineasdefactura.DescripcionLinea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImporteLineaCuotaExtra1Participante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Crearlineasdefactura.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFactura1Participante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Crearlineasdefactura.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImporteLineaCuotaExtra1Participante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Crearlineasdefactura.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Crearlineasdefactura.Numero_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Crearlineasdefactura.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Crearlineasdefactura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_LineaFacturaExtra</name>
        <label>Create LineaFacturaExtra</label>
        <locationX>2466</locationX>
        <locationY>1681</locationY>
        <assignmentItems>
            <assignToReference>LineaFacturaExtra.DescripcionLinea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>importeLineaCuotaExtraNparticipantes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineaFacturaExtra.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDFacturaX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineaFacturaExtra.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>importeLineaCuotaExtraNparticipantes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineaFacturaExtra.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineaFacturaExtra.Numero_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineaFacturaExtra.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LineaFacturaExtra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializa_contador</name>
        <label>Inicializa contador</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>ContadorCuotas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumCuotas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaContador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaDia10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumeroCuotaActual</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreSoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreSociedad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombrePromo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Npromo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CamposOportunidad.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descrip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreOportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreOport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mirar_las_Cuotas_Extra</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LineaMAS1</name>
        <label>LineaMAS1</label>
        <locationX>1583</locationX>
        <locationY>1135</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos_para_las_lineas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NumLinea1</name>
        <label>NumLinea1</label>
        <locationX>2203</locationX>
        <locationY>1690</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorreProductos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restar_los_registos_que_se_van_creando</name>
        <label>Restar los registos que se van creando</label>
        <locationX>1686</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>NumCuotasExtra</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HayCuotasExtra_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IDFacturaX</name>
        <label>Set IDFacturaX</label>
        <locationX>3120</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>IDFacturaX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factura.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_Productos_con_Precio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IDFacturaX_CreaFacturaExtraParticipante</name>
        <label>Set IDFacturaX_CreaFacturaExtraParticipante</label>
        <locationX>2005</locationX>
        <locationY>1699</locationY>
        <assignmentItems>
            <assignToReference>IDFacturaX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreaFacturaExtraParticipante.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NumLinea1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lineasFacturapara1Participante</name>
        <label>Set lineasFacturapara1Participante</label>
        <locationX>2444</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>lineasFacturapara1Participante.DescripcionLinea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescripLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineasFacturapara1Participante.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFactura1Participante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineasFacturapara1Participante.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importelinea1participante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineasFacturapara1Participante.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineasFacturapara1Participante.Numero_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineasFacturapara1Participante.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_lineasFacturapara1Participante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1_a_Numero_Linea</name>
        <label>Suma 1 a Numero Linea</label>
        <locationX>2669</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_lineas_de_factura2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_Numero_Linea3</name>
        <label>Suma Numero Linea</label>
        <locationX>2482</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorreProductos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vacia_Listas</name>
        <label>Vacia Listas</label>
        <locationX>1759</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>List_Factura</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>List_Factura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_linea_de_factura</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>List_linea_de_factura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_lineasFacturapara1Participante</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>List_lineasFacturapara1Participante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Se_factura_por_separado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vacia_Listas_2</name>
        <label>Vacia_Listas_2</label>
        <locationX>979</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>List_Crearlineasdefactura</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>List_Crearlineasdefactura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_CreaFacturaExtraParticipante</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>List_CreaFacturaExtraParticipante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_LineaFacturaExtra</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>List_LineaFacturaExtra</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Se_factura_pro_separado_extra</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_Contador_0</name>
        <label>Es Contador 0</label>
        <locationX>1738</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>HayCuotasExtra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorCuotas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vacia_Listas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generar_Facturas</name>
        <label>Generar Facturas</label>
        <locationX>746</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_que_generar_facturas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GenerarFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_plan_de_pagos_Activo</targetReference>
            </connector>
            <label>Hay que generar facturas</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayCuotasExtra</name>
        <label>¿HayCuotasExtra?</label>
        <locationX>988</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Estado_de_la_oportunidad_a_Plan_de_pagos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hay_cuotas_extra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumCuotasExtra</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImporteCuotaExtra</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_para_poner_fecha_a_las_Cuotas_Extra</targetReference>
            </connector>
            <label>¿Hay cuotas extra?</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayCuotasExtra_0</name>
        <label>¿HayCuotasExtra?</label>
        <locationX>997</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Estado_de_la_oportunidad_a_Plan_de_pagos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hay_cuotas_extra_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumCuotasExtra</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImporteCuotaExtra</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vacia_Listas_2</targetReference>
            </connector>
            <label>¿Hay cuotas extra?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_factura_por_separado</name>
        <label>Se factura por separado</label>
        <locationX>1997</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Crear_Facturas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Se_factura_por_separado_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacturacSeparado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_de_los_participantes</targetReference>
            </connector>
            <label>¿Se factura por separado?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_factura_pro_separado_extra</name>
        <label>¿Se factura por separado extra?</label>
        <locationX>972</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>Crear_Facturas_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FACTURA_SEPARADO_EXTRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Se_factura_por_separado_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_variable_participantes_para_Extra</targetReference>
            </connector>
            <label>¿FACTURA SEPARADO EXTRA?</label>
        </rules>
    </decisions>
    <formulas>
        <name>DescripcionFact</name>
        <dataType>String</dataType>
        <expression>&quot;Entrega a cuenta por la compra de &quot; + {!CamposOportunidad.Description} + &quot; de la promoción &quot; + {!NombrePromo}</expression>
    </formulas>
    <formulas>
        <name>DescripLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductoX.Description},150)</expression>
    </formulas>
    <formulas>
        <name>FechaDia10</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR({!FechaPrimeraCuota}), MONTH({!FechaPrimeraCuota}) ,10)</expression>
    </formulas>
    <formulas>
        <name>FormReferencia</name>
        <dataType>String</dataType>
        <expression>{!IdOportunidad} + &quot;-&quot; + {!NombreSoc} + &quot;-&quot; + &quot;04&quot;</expression>
    </formulas>
    <formulas>
        <name>ImporteFacturaActualNparticipantes</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteCuota}*{!Factura.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteFacturaCuotaExtraNparticipantes</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteCuotaExtra}*{!ParticipanteX.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteFacturaNparticipantes</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteCuota}*{!ParticipanteX.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Importelinea1participante</name>
        <dataType>Number</dataType>
        <expression>{!ImporteCuota}* ({!ProductoX.TotalPrice}/{!PrecioTotal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteLineaCuotaExtra1Participante</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteCuotaExtra}*{!ProductoX.TotalPrice}/{!PrecioTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>importeLineaCuotaExtraNparticipantes</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteFacturaCuotaExtraNparticipantes}*({!ProductoX.TotalPrice}/{!PrecioTotal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteLineaNparticip</name>
        <dataType>Number</dataType>
        <expression>{!ImporteFacturaActualNparticipantes} * ({!ProductoX.TotalPrice}/{!PrecioTotal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NombreFactura</name>
        <dataType>String</dataType>
        <expression>&quot;Factura &quot; + TEXT( {!NumeroCuotaActual}) + &quot; Plan de pagos &quot; + TEXT({!FechaContador})</expression>
    </formulas>
    <formulas>
        <name>NombreLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductoX.Description},80)</expression>
    </formulas>
    <formulas>
        <name>NombrePlanPagos</name>
        <dataType>String</dataType>
        <expression>{!NombreOportunidad} + &quot; - Versión 1&quot;</expression>
    </formulas>
    <formulas>
        <name>SumaMes</name>
        <dataType>Date</dataType>
        <expression>IF ( MONTH({!FechaContador}) &lt; 12, 
DATE(YEAR({!FechaContador}), MONTH({!FechaContador}) +1,10),
DATE (YEAR({!FechaContador}) +1, 1 , 10)
)</expression>
    </formulas>
    <interviewLabel>Creación Plan de facturas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación Plan de facturas</label>
    <loops>
        <name>Crear_lineas_de_factura2</name>
        <label>Crear líneas de factura</label>
        <locationX>2452</locationX>
        <locationY>483</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariabledeProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_lineasFacturapara1Participante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_lineas_Factura_para_1_Participante</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_CreaFacturaExtraParticipante</name>
        <label>For Each CreaFacturaExtraParticipante</label>
        <locationX>2009</locationX>
        <locationY>1510</locationY>
        <assignNextValueToReference>CreaFacturaExtraParticipante</assignNextValueToReference>
        <collectionReference>List_CreaFacturaExtraParticipante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_IDFacturaX_CreaFacturaExtraParticipante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreaLineasFacturaExtra</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Factura_por_ParticipanteX</name>
        <label>For Each Factura por ParticipanteX</label>
        <locationX>2987</locationX>
        <locationY>515</locationY>
        <assignNextValueToReference>Factura</assignNextValueToReference>
        <collectionReference>List_Factura</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_IDFacturaX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_List_Linea_de_factura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_Productos_con_Precio</name>
        <label>Recorre Productos con Precio</label>
        <locationX>3219</locationX>
        <locationY>517</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariabledeProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Lineas_de_Factura_por_ProductoX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Factura_por_ParticipanteX</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_productos_para_las_lineas</name>
        <label>Recorre productos para las lineas</label>
        <locationX>1325</locationX>
        <locationY>1208</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariabledeProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Crearlineasdefactura</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_lineas_de_factura3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorreProductos</name>
        <label>RecorreProductos</label>
        <locationX>2318</locationX>
        <locationY>1525</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariabledeProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_LineaFacturaExtra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_CreaFacturaExtraParticipante</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_variable_participantes_para_Extra</name>
        <label>Recorrer variable participantes para Extra</label>
        <locationX>1363</locationX>
        <locationY>1815</locationY>
        <assignNextValueToReference>ParticipanteX</assignNextValueToReference>
        <collectionReference>VariabledeParticipantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_CreaFacturaExtraParticipante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreaFacturaExtraParticipantes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerParticipantes</name>
        <label>RecorrerParticipantes</label>
        <locationX>2665</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>ParticipanteX</assignNextValueToReference>
        <collectionReference>VariabledeParticipantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Factura_por_ParticipanteX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Facturas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_plan_de_pagos_Activo</name>
        <label>Crea plan de pagos Activo</label>
        <locationX>1010</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>PlanPagosID</assignRecordIdToReference>
        <connector>
            <targetReference>Registro_de_productos_con_precio</targetReference>
        </connector>
        <inputAssignments>
            <field>EnviarFacturasOracle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Activacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombrePlanPagos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_pagos__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreaFacturaExtraParticipantes</name>
        <label>Crea facturas Extraa participantes</label>
        <locationX>1589</locationX>
        <locationY>1554</locationY>
        <connector>
            <targetReference>For_Each_CreaFacturaExtraParticipante</targetReference>
        </connector>
        <inputReference>List_CreaFacturaExtraParticipante</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreaLineasFacturaExtra</name>
        <label>CreaLineasFacturaExtra</label>
        <locationX>1798</locationX>
        <locationY>977</locationY>
        <connector>
            <targetReference>Restar_los_registos_que_se_van_creando</targetReference>
        </connector>
        <inputReference>List_LineaFacturaExtra</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Facturas</name>
        <label>Crear Facturas</label>
        <locationX>2261</locationX>
        <locationY>440</locationY>
        <assignRecordIdToReference>IdFactura1Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Crear_lineas_de_factura2</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionFact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enviar_Factura_Oracle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_plan_de_pagos__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Contable__c</field>
            <value>
                <elementReference>FechaContador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_emision__c</field>
            <value>
                <elementReference>FechaContador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteCuota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <elementReference>MetodoCobroOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Aplazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Cuota</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_pagos__c</field>
            <value>
                <elementReference>PlanPagosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_de_participacion__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>FormReferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad_inp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Facturas_0</name>
        <label>Crear Facturas</label>
        <locationX>1223</locationX>
        <locationY>1345</locationY>
        <assignRecordIdToReference>IdFactura1Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Recorre_productos_para_las_lineas</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionFact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enviar_Factura_Oracle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_plan_de_pagos__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteCuotaExtra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <elementReference>MetodoCobroOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreCuotaExtra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Aplazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Cuota Extra</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_de_pagos__c</field>
            <value>
                <elementReference>PlanPagosID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_de_participacion__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>FormReferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad_inp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_lineas_de_factura3</name>
        <label>Crear lineas de factura</label>
        <locationX>1316</locationX>
        <locationY>948</locationY>
        <connector>
            <targetReference>Restar_los_registos_que_se_van_creando</targetReference>
        </connector>
        <inputReference>List_Crearlineasdefactura</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_lineas_Factura_para_1_Participante</name>
        <label>Crear lineas Factura para 1 Participante</label>
        <locationX>2487</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>Actualiza_Variables</targetReference>
        </connector>
        <inputReference>List_lineasFacturapara1Participante</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Facturas</name>
        <label>Create Facturas</label>
        <locationX>2880</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>For_Each_Factura_por_ParticipanteX</targetReference>
        </connector>
        <inputReference>List_Factura</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_List_Linea_de_factura</name>
        <label>Create List_Linea_de_factura</label>
        <locationX>2819</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Actualiza_Variables</targetReference>
        </connector>
        <inputReference>List_linea_de_factura</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Mirar_las_Cuotas_Extra</name>
        <label>Mirar las Cuotas Extra</label>
        <locationX>592</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generar_Facturas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>PrecioTotal</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FacturacSeparado</assignToReference>
            <field>Facturacion_por_separado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GenerarFactura</assignToReference>
            <field>Generar_Facturas_de_Clientes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteCuotaExtra</assignToReference>
            <field>Importe_Cuota_Extra__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumCuotasExtra</assignToReference>
            <field>Numero_Cuotas_Extra__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDPropietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PorcentajeAplazado</assignToReference>
            <field>Pago_Contrato__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Registro_de_los_participantes</name>
        <label>Registro de los participantes</label>
        <locationX>2262</locationX>
        <locationY>944</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerParticipantes</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Porcentaje_de_participacion__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>VariabledeParticipantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Porcentaje_de_participacion__c</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Registro_de_productos_con_precio</name>
        <label>Registro de productos con precio</label>
        <locationX>1168</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Contador_0</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>VariabledeProductos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Estado_de_la_oportunidad_a_Plan_de_pagos</name>
        <label>Actualiza Estado de la oportunidad a Plan de pagos</label>
        <locationX>612</locationX>
        <locationY>388</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plan_de_pagos_creado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Plan de pagos</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Inicializa_contador</startElementReference>
    <status>Active</status>
    <variables>
        <name>AsuntoTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asigne una fecha a las Cuotas Extra</stringValue>
        </value>
    </variables>
    <variables>
        <name>CamposOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContadorCuotas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CreaFacturaExtraParticipante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>Crearlineasdefactura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>Descrip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>FacturacSeparado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacturaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaContador</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaPrimeraCuota</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenerarFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura1Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDFacturaX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDPropietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedad_inp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteCuota</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteCuotaExtra</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IVA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Linea_de_factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>LineaFacturaExtra</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>lineasFacturapara1Participante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>List_CreaFacturaExtraParticipante</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>List_Crearlineasdefactura</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>List_Factura</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>List_linea_de_factura</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>List_LineaFacturaExtra</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>List_lineasFacturapara1Participante</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <name>MetodoCobroOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCuotaExtra</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cuota Extra</stringValue>
        </value>
    </variables>
    <variables>
        <name>NombreOport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombrePromo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Npromo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumCuotas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumCuotasExtra</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumeroCuotaActual</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumeroProductos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumLinea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParticipanteX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>PlanPagosID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PorcentajeAplazado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrecioTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductoX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VariabledeParticipantes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>VariabledeProductos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
