force-app/main/default/flows/CreacionTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>TareaInicial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ha solicitado información de tu promoción.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CrearTarea</name>
        <label>Crear Tarea</label>
        <locationX>112</locationX>
        <locationY>714</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerLeadTarea.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resultado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No es posible contactar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TareaSegundoIntento</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrearTarea2</name>
        <label>Crear Tarea</label>
        <locationX>516</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerLeadTarea2.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resultado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No es posible contactar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TareaTercerIntento</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>SegundoTercerIntento</name>
        <label>Segundo o Tercer Intento</label>
        <locationX>116</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SegundoIntento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TareaAutomatica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerLeadTarea</targetReference>
            </connector>
            <label>Segundo intento</label>
        </rules>
        <rules>
            <name>TercerIntento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TareaAutomatica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerLeadTarea2</targetReference>
            </connector>
            <label>Tercer intento</label>
        </rules>
    </decisions>
    <formulas>
        <name>AsuntoSegundoIntento</name>
        <dataType>String</dataType>
        <expression>&apos;Vuelve a intentar llamar a &apos; + {!ObtenerLeadTarea.Name}</expression>
    </formulas>
    <formulas>
        <name>AsuntoTercerIntento</name>
        <dataType>String</dataType>
        <expression>&apos;Vuelve a intentar llamar a &apos; + {!ObtenerLeadTarea2.Name} + &apos;. Si no consigues contactar, envíale un email.&apos;</expression>
    </formulas>
    <formulas>
        <name>VencimientoTarea</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Creación tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación tarea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TareaSegundoIntento</name>
        <label>Tarea Segundo Intento</label>
        <locationX>273</locationX>
        <locationY>713</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimientoTarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerLeadTarea.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoSegundoIntento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo__c</field>
            <value>
                <stringValue>Primer contacto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TareaAutomatica__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada del comercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>TareaTercerIntento</name>
        <label>Tarea Tercer Intento</label>
        <locationX>701</locationX>
        <locationY>376</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimientoTarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerLeadTarea2.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoTercerIntento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo__c</field>
            <value>
                <stringValue>Primer contacto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada del comercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>ObtenerLeadTarea</name>
        <label>Obtener Lead Tarea</label>
        <locationX>122</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearTarea</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>ObtenerLeadTarea2</name>
        <label>Obtener Lead Tarea</label>
        <locationX>356</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearTarea2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <status>Active</status>
</Flow>
