force-app/main/default/flows/Creacion_Aviso_Tarifario_Aprobado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Task_Creada</name>
        <label>Email Task Creada</label>
        <locationX>951</locationX>
        <locationY>67</locationY>
        <actionName>Task.Mensaje_Tarea_Creada</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recordatorio_Publicacion</name>
        <label>Recordatorio Publicación</label>
        <locationX>807</locationX>
        <locationY>291</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Pendiente de publicar promoción</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Recordatorio</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ListRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>IdTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddToList</name>
        <label>AddToList</label>
        <locationX>633</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>ListRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recordatorio_Publicacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Mostrar_Recordatorio</name>
        <label>Mostrar Recordatorio</label>
        <locationX>428</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>GetCustomNotificationID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crear_Tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SoloRecordatorio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Record_Type</targetReference>
            </connector>
            <label>Crear Tarea</label>
        </rules>
    </decisions>
    <interviewLabel>Creacion Aviso Tarifario Aprobado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creacion Aviso Tarifario Aprobado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creacion_Task_Aviso</name>
        <label>Creacion Task Aviso</label>
        <locationX>803</locationX>
        <locationY>67</locationY>
        <assignRecordIdToReference>IdTask</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Task_Creada</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>La promoción está pendiente de publicar inmuebles en www.avintiainmobiliaria.com con los nuevos precios aprobados. Revisa los inmuebles que deseas publicar y haz click en el botón &quot;Publicar&quot;.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecordatorioActivo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdComercialPromocion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdTaskRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Recordatorio Publicación Portales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>635</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creacion_Task_Aviso</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Publicar_promocion</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdTaskRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotificationID</name>
        <label>GetCustomNotificationID</label>
        <locationX>439</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToList</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Firma_contrato</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
    </recordLookups>
    <startElementReference>Mostrar_Recordatorio</startElementReference>
    <status>Active</status>
    <variables>
        <name>IdComercialPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdTaskRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SoloRecordatorio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
