force-app/main/default/flows/CreacionTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>TareaInicial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ha solicitado información de tu promoción.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CrearTarea</name>
        <label>Crear Tarea</label>
        <locationX>112</locationX>
        <locationY>714</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerLeadTarea.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resultado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No es posible contactar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLeadPromocion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrearTarea2</name>
        <label>Crear Tarea</label>
        <locationX>516</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerLeadTarea2.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resultado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No es posible contactar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLeadPromocion2</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>SegundoTercerIntento</name>
        <label>Segundo o Tercer Intento</label>
        <locationX>116</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SegundoIntento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TareaAutomatica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerLeadTarea</targetReference>
            </connector>
            <label>Segundo intento</label>
        </rules>
        <rules>
            <name>TercerIntento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TareaAutomatica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerLeadTarea2</targetReference>
            </connector>
            <label>Tercer intento</label>
        </rules>
    </decisions>
    <description>V17: Inclusión campo y asignación LeadPromocion
V18: Definición orden de ejecución (3)</description>
    <environments>Default</environments>
    <formulas>
        <name>AsuntoSegundoIntento</name>
        <dataType>String</dataType>
        <expression>&apos;Vuelve a intentar llamar a &apos; + {!ObtenerLeadTarea.Name}</expression>
    </formulas>
    <formulas>
        <name>AsuntoTercerIntento</name>
        <dataType>String</dataType>
        <expression>&apos;Vuelve a intentar llamar a &apos; + {!ObtenerLeadTarea2.Name} + &apos;. Si no consigues contactar, envíale un email.&apos;</expression>
    </formulas>
    <formulas>
        <name>VencimientoTarea</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Creación tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación tarea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TareaSegundoIntento</name>
        <label>Tarea Segundo Intento</label>
        <locationX>493</locationX>
        <locationY>706</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimientoTarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerLeadTarea.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoSegundoIntento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo__c</field>
            <value>
                <stringValue>Primer contacto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TareaAutomatica__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada del comercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TareaTercerIntento</name>
        <label>Tarea Tercer Intento</label>
        <locationX>972</locationX>
        <locationY>382</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>VencimientoTarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerLeadTarea2.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AsuntoTercerIntento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo__c</field>
            <value>
                <stringValue>Primer contacto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada del comercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos el registro LeadPromocion para relacionar con la tarea</description>
        <name>GetLeadPromocion</name>
        <label>GetLeadPromocion</label>
        <locationX>312</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TareaSegundoIntento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerLeadTarea.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerLeadTarea.Promocion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadPromocion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el registro LeadPromocion para relacionar con la tarea</description>
        <name>GetLeadPromocion2</name>
        <label>GetLeadPromocion</label>
        <locationX>766</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TareaTercerIntento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerLeadTarea2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerLeadTarea2.Promocion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadPromocion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerLeadTarea</name>
        <label>Obtener Lead Tarea</label>
        <locationX>122</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerLeadTarea2</name>
        <label>Obtener Lead Tarea</label>
        <locationX>353</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearTarea2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primer contacto</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada del comercial</stringValue>
            </value>
        </filters>
        <filters>
            <field>TareaAutomatica__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>TareaAutomatica__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>UnDiaDespues</name>
            <connector>
                <targetReference>SegundoTercerIntento</targetReference>
            </connector>
            <label>1 día después</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>3</triggerOrder>
</Flow>
