force-app/main/default/flows/Creacion_Factura_Escritura_y_sus_lineas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asignar_mas_1_a_la_linea</name>
        <label>Asignar mas 1 a la linea</label>
        <locationX>434</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>NumeroLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_linea_en_negativo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Linea_mas_1</name>
        <label>Linea mas 1</label>
        <locationX>1917</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>NumeroLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lineas_en_negativo_participante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mas_1_linea</name>
        <label>Mas 1 linea</label>
        <locationX>1771</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>NumeroLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerProductos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Num_linea_1</name>
        <label>Num linea 1</label>
        <locationX>1329</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>NumeroLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AcumuladoImporteParticipanteX</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FacturasParticipantesX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Numero_Linea_mas_1</name>
        <label>Numero Linea mas 1</label>
        <locationX>687</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>NumeroLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumaImporteNegativo</name>
        <label>Suma Importe Negativo</label>
        <locationX>1735</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>AcumuladoImporteParticipanteX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecorrerFacturasParticipante.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerFacturasParticipante</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_que_generar_facturas</name>
        <label>Hay que generar facturas</label>
        <locationX>511</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generar_facturas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GenerarFacturas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExisteFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_de_productos_por_precio</targetReference>
            </connector>
            <label>Generar facturas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_factura_por_separado</name>
        <label>Se factura por separado</label>
        <locationX>1006</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Crear_factura_proforma_de_Escritura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Separado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacturaPorSeparado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_Participante</targetReference>
            </connector>
            <label>Separado</label>
        </rules>
    </decisions>
    <formulas>
        <name>DescripcionCompleta</name>
        <dataType>String</dataType>
        <expression>&quot;Entrega de llaves de&quot; + {!DescripcionOportunidad}</expression>
    </formulas>
    <formulas>
        <name>DescripVentaLinea</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;Total Venta &quot; +  {!ProductoX.Description},150)</expression>
    </formulas>
    <formulas>
        <name>DescripVentaLineaSeparado</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;Total Venta &quot; +  {!RecorrerProductos.Description},150)</expression>
    </formulas>
    <formulas>
        <name>EntregasCtaRecib_DescripcLinea</name>
        <dataType>String</dataType>
        <expression>&quot;Entregas a Cta. Recibidas &quot; + {!ProductoX.Description}</expression>
    </formulas>
    <formulas>
        <name>EntregasCtaRecib_DescripcLineaSeparado</name>
        <dataType>String</dataType>
        <expression>&quot;Entregas a Cta. Recibidas &quot; + {!RecorrerProductos.Description}</expression>
    </formulas>
    <formulas>
        <name>escrituraReal</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteTotal}-{!AcumuladoImportePagado}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteEscritura</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteTotal}-{!AcumuladoImportePagado}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteFacturaNParticipantes</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteTotal}*{!Recorrer_Participantes.Porcentaje_de_participacion__c} - {!AcumuladoImporteParticipanteX}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteProductoXNegativo</name>
        <dataType>Currency</dataType>
        <expression>-1*{!ProductoX.TotalPrice}/{!ImporteTotal}*({!AcumuladoImportePagado})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NombreLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductoX.Description},80)</expression>
    </formulas>
    <formulas>
        <name>NombreLineaSeparado</name>
        <dataType>String</dataType>
        <expression>LEFT({!RecorrerProductos.Description},80)</expression>
    </formulas>
    <formulas>
        <name>ProductoParticipanteXNegativo</name>
        <dataType>Currency</dataType>
        <expression>-1*({!RecorrerProductos.TotalPrice}/{!ImporteTotal})*{!AcumuladoImporteParticipanteX}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ReferenciaCompleta</name>
        <dataType>String</dataType>
        <expression>{!IdOportunidad} +&quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; + &quot;03&quot;</expression>
    </formulas>
    <formulas>
        <name>TotalParticipantePositivo</name>
        <dataType>Currency</dataType>
        <expression>{!RecorrerProductos.TotalPrice}*{!Recorrer_Participantes.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CreaciónFacturaEscritura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación Factura Escritura y sus lineas</label>
    <loops>
        <name>Recorrer_Participantes</name>
        <label>Recorrer Participantes</label>
        <locationX>1327</locationX>
        <locationY>143</locationY>
        <collectionReference>VariableParticipantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Num_linea_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExisteFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Productos</name>
        <label>Recorrer Productos</label>
        <locationX>688</locationX>
        <locationY>330</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariableProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Lineas_de_factura</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExisteFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerFacturasParticipante</name>
        <label>Recorrer Facturas Participante</label>
        <locationX>1549</locationX>
        <locationY>451</locationY>
        <collectionReference>VariableFacturaParticipante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumaImporteNegativo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_factura_ParticipanteX</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerProductos</name>
        <label>Recorrer Productos</label>
        <locationX>1551</locationX>
        <locationY>149</locationY>
        <collectionReference>VariableProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lineas_de_factura_participante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_Participantes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_factura_ParticipanteX</name>
        <label>Crear factura ParticipanteX</label>
        <locationX>1550</locationX>
        <locationY>267</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>RecorrerProductos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Recorrer_Participantes.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteFacturaNParticipantes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>CHEQUE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Escrituración</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Escritura</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedadPromo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>FACTURA DE VENTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_factura_proforma_de_Escritura</name>
        <label>Crear factura proforma de Escritura</label>
        <locationX>689</locationX>
        <locationY>197</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>Recorrer_Productos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdClientePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>escrituraReal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>CHEQUE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Escrituración</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Escritura</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedadPromo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>FACTURA DE VENTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_en_negativo</name>
        <label>Crear línea en negativo</label>
        <locationX>571</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Numero_Linea_mas_1</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>EntregasCtaRecib_DescripcLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteProductoXNegativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>NumeroLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Lineas_de_factura</name>
        <label>Crear Líneas de factura</label>
        <locationX>434</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>Asignar_mas_1_a_la_linea</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>DescripVentaLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ProductoX.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>NumeroLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Venta de Inmueble</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Lineas_de_factura_participante</name>
        <label>Lineas de factura participante</label>
        <locationX>1782</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Linea_mas_1</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>DescripVentaLineaSeparado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>TotalParticipantePositivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLineaSeparado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>NumeroLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Venta de Inmueble</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Lineas_en_negativo_participante</name>
        <label>Lineas en negativo participante</label>
        <locationX>1916</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>Mas_1_linea</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>EntregasCtaRecib_DescripcLineaSeparado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ProductoParticipanteXNegativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLineaSeparado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>NumeroLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordLookups>
        <name>Campos_de_oportunidad</name>
        <label>Campos de oportunidad</label>
        <locationX>396</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_que_generar_facturas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdClientePrincipal</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AcumuladoImportePagado</assignToReference>
            <field>Acumulado_de_Importe_Pagado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteTotal</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConceptoTransferencia</assignToReference>
            <field>Concepto_transferencia__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DescripcionOportunidad</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExisteFactura</assignToReference>
            <field>ExisteFacturaEscrituracion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FacturaPorSeparado</assignToReference>
            <field>Facturacion_por_separado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GenerarFacturas</assignToReference>
            <field>Generar_Facturas_de_Clientes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteEscrituraReal</assignToReference>
            <field>Importe_escritura__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PorcentajeEscritura</assignToReference>
            <field>Pago_Escritura__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IVA</assignToReference>
            <field>Porcentaje_IVA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FacturasParticipantesX</name>
        <label>FacturasParticipantesX</label>
        <locationX>1329</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerFacturasParticipante</targetReference>
        </connector>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Participantes.Cliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESERVAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FACTURA DE VENTA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </filters>
        <filters>
            <field>ImpagoAsociado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputReference>VariableFacturaParticipante</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Importe__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Registro_de_productos_por_precio</name>
        <label>Registro de productos por precio</label>
        <locationX>697</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_factura_por_separado</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>VariableProductos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Registro_Participante</name>
        <label>Registro Participante</label>
        <locationX>1182</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Participantes</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Porcentaje_de_participacion__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>VariableParticipantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Porcentaje_de_participacion__c</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExisteFactura</name>
        <label>Update Existe Factura</label>
        <locationX>1012</locationX>
        <locationY>329</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExisteFacturaEscrituracion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaEscrituracion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Campos_de_oportunidad</startElementReference>
    <status>Active</status>
    <variables>
        <description>Guarda el total pagado en la oportunidad</description>
        <name>AcumuladoImportePagado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AcumuladoImporteParticipanteX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CodigoSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConceptoTransferencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescripcionOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>FacturaPorSeparado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenerarFacturas</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdClientePrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedadPromo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteEscrituraReal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImportePagadoParticipanteX</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IVA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>List_Factura</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>NumeroLinea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParticipanteX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>PorcentajeEscritura</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductoX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VariableFacturaParticipante</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>VariableParticipantes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>VariableProductos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
