force-app/main/default/flows/Crea_Permisos_Flex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_ApexSharing</name>
        <label>Add ApexSharing</label>
        <locationX>867</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>ApexSharings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApexSharing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Declare_ApexSharing</name>
        <label>Declare ApexSharing</label>
        <locationX>631</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>ApexSharing.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdObjeto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexSharing.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomRowCause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexSharing.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexSharing.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ApexSharing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UOrP</name>
        <label>UOrP</label>
        <locationX>235</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserOrProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Permisos_User</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserOrProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile</targetReference>
            </connector>
            <label>Profile</label>
        </rules>
    </decisions>
    <interviewLabel>Crea Permisos Flex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Permisos Flex</label>
    <loops>
        <name>For_Each_User</name>
        <label>For Each User</label>
        <locationX>749</locationX>
        <locationY>258</locationY>
        <assignNextValueToReference>UserVar</assignNextValueToReference>
        <collectionReference>Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Declare_ApexSharing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ApexSharing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Permisos_User</name>
        <label>Crea Permisos User</label>
        <locationX>242</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdObjeto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <elementReference>CustomRowCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>IdUserOrProfileName</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ApexSharing</name>
        <label>Create ApexSharing</label>
        <locationX>961</locationX>
        <locationY>259</locationY>
        <inputReference>ApexSharings</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>440</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_From_Profile</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdUserOrProfileName</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>IdProfile</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_From_Profile</name>
        <label>Get Users From Profile</label>
        <locationX>596</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_User</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdProfile.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Users</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>UOrP</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApexSharing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion__Share</objectType>
    </variables>
    <variables>
        <name>ApexSharings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion__Share</objectType>
    </variables>
    <variables>
        <name>CustomRowCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdObjeto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>IdUserOrProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Si &apos;User&apos; le da permisos a x usuario
Si &apos;Profile&apos; le da permisos a todos los usuarios de x perfil</description>
        <name>UserOrProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
