force-app/main/default/flows/CrearComisiones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>StringValues</name>
        <label>String Values</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>StringValues_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Promociones</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StringValues_0</name>
        <label>String Values</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>StringValues_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Vendedores</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StringValues_0_0</name>
        <label>String Values</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InicializarComisionesDesactivar</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Mes2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StringValues_0_0_0</name>
        <label>String Values</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InicializarComisionesDesactivar_0</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Mes2_0</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>ActivarComisiones</name>
        <label>ActivarComisiones</label>
        <locationX>710</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vendedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Promocion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerPromociones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Mes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerMes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajeReserva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reserva</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajeContrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contrato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajeEscrituracion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>escrituracion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajePosventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>posventa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Activo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddListaActivos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ActivarComisiones_0</name>
        <label>ActivarComisiones</label>
        <locationX>1766</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerVendedores</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Promocion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promociones_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Mes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerMes_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajeReserva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reserva_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajeContrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contrato_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajeEscrituracion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>escrituracion_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.PorcentajePosventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>posventa_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Activo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionActiva.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddListaActivos_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddListaActivos</name>
        <label>Add Lista Activos</label>
        <locationX>710</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ComisionesActivar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachComisionActiva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerMes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddListaActivos_0</name>
        <label>Add Lista Activos</label>
        <locationX>1766</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ComisionesActivar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachComisionActiva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerMes_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddListaInactivos</name>
        <label>Add Lista Inactivos</label>
        <locationX>578</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>ComisionesDesactivar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachComisionInactiva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActivarComisiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddListaInactivos_0</name>
        <label>Add Lista Inactivos</label>
        <locationX>1634</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>ComisionesDesactivar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachComisionInactiva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActivarComisiones_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InactivarComision</name>
        <label>Inactivar Comision</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>EachComisionInactiva.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comisiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionInactiva.Activo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddListaInactivos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InactivarComision_0</name>
        <label>Inactivar Comision</label>
        <locationX>1634</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>EachComisionInactiva.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comisiones_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachComisionInactiva.Activo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddListaInactivos_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializarComisionesActivar</name>
        <label>Inicializar Comisiones A Activar</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ComisionesActivar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerPromociones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializarComisionesActivar_0</name>
        <label>Inicializar Comisiones A Activar</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ComisionesActivar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerVendedores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializarComisionesDesactivar</name>
        <label>Inicializar Comisiones A Desactivar</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ComisionesDesactivar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>InicializarComisionesActivar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializarComisionesDesactivar_0</name>
        <label>Inicializar Comisiones A Desactivar</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ComisionesDesactivar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>InicializarComisionesActivar_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>UnVendedor</name>
        <choiceText>Un vendedor, varias promociones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Un vendedor, varias promociones</stringValue>
        </value>
    </choices>
    <choices>
        <name>VariosVendedores</name>
        <choiceText>Varios vendedores de la misma promoción</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Varios vendedores de la misma promoción</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ExisteComision</name>
        <label>Existe Comision</label>
        <locationX>710</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>ActivarComisiones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comisiones</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetPromociones</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteComision_0</name>
        <label>Existe Comision</label>
        <locationX>1766</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>ActivarComisiones_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comisiones_0</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetVendedores</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnVendedorOVarios</name>
        <label>Un Vendedor o Varios?</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UnVendedor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnVendedor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeleccionVendedor</targetReference>
            </connector>
            <label>Un Vendedor</label>
        </rules>
        <rules>
            <name>VariosVendedores2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VariosVendedores</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeleccionPromociones_0</targetReference>
            </connector>
            <label>Varios Vendedores</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListaPromociones</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>PromocionInactiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>IdPromocion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaVendedores</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Vendedor__c</object>
        <outputAssignments>
            <assignToReference>IdVendedor</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MesPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mes__c</picklistField>
        <picklistObject>DefinicionComision__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YearPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Year__c</picklistField>
        <picklistObject>DefinicionComision__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Crear Comisiones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Comisiones</label>
    <loops>
        <name>RecorrerMes</name>
        <label>Recorrer Mes</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <collectionReference>StringValues_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comisiones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecorrerPromociones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerMes_0</name>
        <label>Recorrer Mes</label>
        <locationX>1546</locationX>
        <locationY>1598</locationY>
        <collectionReference>StringValues_0_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comisiones_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecorrerVendedores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerPromociones</name>
        <label>Recorrer Promociones</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <collectionReference>StringValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecorrerMes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActivo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerVendedores</name>
        <label>Recorrer Vendedores</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <collectionReference>StringValues_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecorrerMes_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActivo_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearDefinicionComision</name>
        <label>Crear Definicion Comision</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <inputReference>ComisionesActivar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CrearDefinicionComision_0_0</name>
        <label>Crear Definicion Comision</label>
        <locationX>1106</locationX>
        <locationY>3086</locationY>
        <inputReference>ComisionesActivar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Comisiones</name>
        <label>Comisiones</label>
        <locationX>710</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteComision</targetReference>
        </connector>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vendedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vendedor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerMes</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerPromociones</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </filters>
        <object>DefinicionComision__c</object>
    </recordLookups>
    <recordLookups>
        <name>Comisiones_0</name>
        <label>Comisiones</label>
        <locationX>1766</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteComision_0</targetReference>
        </connector>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Vendedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerVendedores</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promociones_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mes2_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year_0</elementReference>
            </value>
        </filters>
        <object>DefinicionComision__c</object>
    </recordLookups>
    <recordLookups>
        <name>GetPromociones</name>
        <label>Get Promociones</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aviso</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerPromociones</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetVendedores</name>
        <label>Get Vendedores</label>
        <locationX>1634</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aviso_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerVendedores</elementReference>
            </value>
        </filters>
        <object>Vendedor__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Se desactiva la comisión anterior</description>
        <name>UpdateActivo</name>
        <label>Update Activo</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>CrearDefinicionComision</targetReference>
        </connector>
        <inputReference>ComisionesDesactivar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Se desactiva la comisión anterior</description>
        <name>UpdateActivo_0_0</name>
        <label>Update Activo</label>
        <locationX>1106</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>CrearDefinicionComision_0_0</targetReference>
        </connector>
        <inputReference>ComisionesDesactivar</inputReference>
    </recordUpdates>
    <screens>
        <name>Aviso</name>
        <label>Aviso</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InactivarComision</targetReference>
        </connector>
        <fields>
            <name>AvisoText_0_0</name>
            <fieldText>&lt;p&gt;Actualmente existe una Comisión para el Vendedor {!Vendedor} y la Promoción {!GetPromociones.Name} en el mes {!RecorrerMes}. ¿Esta seguro de querer desactivar la anterior y crear una nueva?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Aviso_0</name>
        <label>Aviso</label>
        <locationX>1634</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InactivarComision_0</targetReference>
        </connector>
        <fields>
            <name>AvisoText_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Actualmente existe una Comisión para el Vendedor {!GetVendedores.Name} y la Promoción {!Promocion2} en el mes {!RecorrerMes_0}. ¿Está seguro de querer desactivar la anterior y crear una nueva?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PorcentajesComision</name>
        <label>Porcentajes Comisión</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StringValues</targetReference>
        </connector>
        <fields>
            <name>PorcentajesText</name>
            <fieldText>&lt;p&gt;Inserte el porcentaje de comisión para cada hito&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PorcentajesComision_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PorcentajesComision_0</name>
        <label>Porcentajes Comisión</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StringValues_0</targetReference>
        </connector>
        <fields>
            <name>PorcentajesText_0</name>
            <fieldText>&lt;p&gt;Inserte el porcentaje de comisión para cada hito&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PorcentajesComision_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionAno</name>
        <label>Selección Año</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PorcentajesComision</targetReference>
        </connector>
        <fields>
            <name>Year</name>
            <choiceReferences>YearPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Año</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SeleccionAno_0</name>
        <label>Selección Año</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PorcentajesComision_0</targetReference>
        </connector>
        <fields>
            <name>Year_0</name>
            <choiceReferences>YearPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Año</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SeleccionMes</name>
        <label>Selección Mes</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SeleccionAno</targetReference>
        </connector>
        <fields>
            <name>Meses</name>
            <fieldText>&lt;p&gt;Seleccione el mes al que aplicará la Comisión&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mes2</name>
            <choiceReferences>MesPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mes</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionMes_0</name>
        <label>Selección Mes</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SeleccionAno_0</targetReference>
        </connector>
        <fields>
            <name>Meses_0_0</name>
            <fieldText>&lt;p&gt;Seleccione el mes al que aplicará la Comisión&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mes2_0</name>
            <choiceReferences>MesPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mes</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionPromociones</name>
        <label>Selección Promociones</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SeleccionMes</targetReference>
        </connector>
        <fields>
            <name>Promociones1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Seleccione las Promociones a las que aplicará la Comisión&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Promociones</name>
            <choiceReferences>ListaPromociones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promociones</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionPromociones_0</name>
        <label>Selección Promociones</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SeleccionVendedor_0</targetReference>
        </connector>
        <fields>
            <name>Promociones1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Seleccione las Promociones a las que aplicará la Comisión&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Promociones_0</name>
            <choiceReferences>ListaPromociones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promociones</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionVendedor</name>
        <label>Seleccion Vendedor</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SeleccionPromociones</targetReference>
        </connector>
        <fields>
            <name>SeleccionVendedor2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Seleccione el Vendedor al que aplicará la Comisión&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendedor</name>
            <choiceReferences>ListaVendedores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendedor</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionVendedor_0</name>
        <label>Seleccion Vendedor</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SeleccionMes_0</targetReference>
        </connector>
        <fields>
            <name>SeleccionVendedor2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Seleccione el Vendedor al que aplicará la Comisión&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendedores</name>
            <choiceReferences>ListaVendedores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendedores</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UnVendedorVarios</name>
        <label>Un Vendedor o Varios</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UnVendedorOVarios</targetReference>
        </connector>
        <fields>
            <name>Eleccion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;¿A cuántos Vendedores aplicarán las siguientes comisiones?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleccion</name>
            <choiceReferences>UnVendedor</choiceReferences>
            <choiceReferences>VariosVendedores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selección</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>UnVendedorVarios</startElementReference>
    <status>Active</status>
    <variables>
        <name>ComisionesActivar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DefinicionComision__c</objectType>
    </variables>
    <variables>
        <name>ComisionesDesactivar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DefinicionComision__c</objectType>
    </variables>
    <variables>
        <name>EachComisionActiva</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DefinicionComision__c</objectType>
    </variables>
    <variables>
        <name>EachComisionInactiva</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DefinicionComision__c</objectType>
    </variables>
    <variables>
        <name>IdPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdVendedor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Promo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Promocion2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion__c</objectType>
    </variables>
</Flow>
