force-app/main/default/flows/CrearObjetivos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>StringValues</name>
        <label>String Values</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InicializoObjetivosCrear</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Promociones2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StringValues2</name>
        <label>String values</label>
        <locationX>2558</locationX>
        <locationY>998</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InicializoObjetivosCrear_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Vendedores3</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StringValues3</name>
        <label>String Values</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InicializoObjetivosCrear_0</targetReference>
        </connector>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Promociones2_0</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddObjetivo</name>
        <label>AddObjetivo</label>
        <locationX>622</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ObjetivosACrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachObjetivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorroPromociones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddObjetivo_0</name>
        <label>AddObjetivo</label>
        <locationX>1810</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>ObjetivosACrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachObjetivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorroPromociones2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddObjetivo_0_0</name>
        <label>AddObjetivo</label>
        <locationX>2998</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>ObjetivosACrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachObjetivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorroVendedores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignoPromocionesObjetivos</name>
        <label>Asigno Promociones a Objetivos</label>
        <locationX>622</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionContrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionContratoTrasCumplimiento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionEscritura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionEscrituracionTrasCumplimiento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionPosventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionPosventaTrasCumplimiento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionReservas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionReservasTrasCumplimiento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.FechaLimiteObjetivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaLimiteObjetivo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoGarajes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoGarajes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoImporte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoImporte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoLocales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoLocales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoTrasteros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoTrasteros</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoViviendas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoViviendas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.Promocion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorroPromociones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddObjetivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignoPromocionesObjetivos2</name>
        <label>Asigno Promociones a Objetivos</label>
        <locationX>1810</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionContrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionContratoTrasCumplimiento2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionEscritura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionEscrituracionTrasCumplimiento2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionPosventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionPosventaTrasCumplimiento2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionReservas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionReservasTrasCumplimiento2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.FechaLimiteObjetivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaLimiteObjetivo2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoGarajes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoGarajes2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoImporte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoImporte2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoLocales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoLocales2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoTrasteros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoTrasteros2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoViviendas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoViviendas2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.Promocion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorroPromociones2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vendedores3_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddObjetivo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignoVendedorObjetivos</name>
        <label>Asigno Vendedor a Objetivos</label>
        <locationX>2998</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionContrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionContratoTrasCumplimiento2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionEscritura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionEscrituracionTrasCumplimiento2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionPosventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionPosventaTrasCumplimiento2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ComisionReservas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComisionReservasTrasCumplimiento2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.FechaLimiteObjetivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaLimiteObjetivo2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoGarajes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoGarajes2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoImporte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoImporte2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoLocales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoLocales2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoTrasteros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoTrasteros2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.ObjetivoViviendas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjetivoViviendas2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.Promocion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promociones4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachObjetivo.Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorroVendedores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddObjetivo_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializoObjetivosCrear</name>
        <label>Inicializo Objetivos a Crear</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ObjetivosACrear</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RecorroPromociones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializoObjetivosCrear_0</name>
        <label>Inicializo Objetivos a Crear</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ObjetivosACrear</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RecorroPromociones2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializoObjetivosCrear_0_0</name>
        <label>Inicializo Objetivos a Crear</label>
        <locationX>2558</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ObjetivosACrear</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RecorroVendedores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar1</name>
        <label>Sumar 1</label>
        <locationX>710</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerObjetivos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar1_0</name>
        <label>Sumar 1</label>
        <locationX>1898</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerObjetivos_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar1_0_0</name>
        <label>Sumar 1</label>
        <locationX>3086</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerObjetivos_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Promocion</name>
        <choiceText>Promoción</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promoción</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnVendedor</name>
        <choiceText>Un vendedor, varias promociones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Un vendedor, varias promociones</stringValue>
        </value>
    </choices>
    <choices>
        <name>VariosVendedores</name>
        <choiceText>Varios vendedores de la misma promoción</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Varios vendedores de la misma promoción</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vendedor</name>
        <choiceText>Vendedor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendedor</stringValue>
        </value>
    </choices>
    <decisions>
        <name>HayRepetidas_0</name>
        <label>Hay Repetidas?</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Aviso_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearObjetivoPromocion_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayRepetidas_0_0</name>
        <label>Hay Repetidas?</label>
        <locationX>1370</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Aviso_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearObjetivoVendedor_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayRepetidas_0_0_0</name>
        <label>Hay Repetidas?</label>
        <locationX>2558</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Aviso_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearObjetivoVendedor</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>PromocionOVendedor</name>
        <label>Promoción o Vendedor?</label>
        <locationX>1700</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Promocion2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccion2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Promocion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeleccionPromociones</targetReference>
            </connector>
            <label>Promoción</label>
        </rules>
        <rules>
            <name>Vendedor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccion2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vendedor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnVendedorVarios</targetReference>
            </connector>
            <label>Vendedor</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnVendedorOVvarios</name>
        <label>Un Vendedor o varios?</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>UnVendedor2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccion3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnVendedor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeleccionVendedor_0</targetReference>
            </connector>
            <label>Un Vendedor</label>
        </rules>
        <rules>
            <name>VariosVendedores2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccion3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VariosVendedores</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeleccionPromocion</targetReference>
            </connector>
            <label>Varios Vendedores</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yaexiste</name>
        <label>Ya existe</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>RecorrerObjetivos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerObjetivos.FechaLimiteObjetivo__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar1</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yaexiste_0</name>
        <label>Ya existe</label>
        <locationX>2030</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>RecorrerObjetivos_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerObjetivos_0.FechaLimiteObjetivo__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar1_0</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yaexiste_0_0</name>
        <label>Ya existe</label>
        <locationX>3218</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>RecorrerObjetivos_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerObjetivos_0_0.FechaLimiteObjetivo__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar1_0_0</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListadoPromociones</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>PromocionInactiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>Promociones2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListadVendedores</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Vendedor__c</object>
        <outputAssignments>
            <assignToReference>IdVendedores</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Crear Objetivos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Objetivos</label>
    <loops>
        <name>RecorrerObjetivos</name>
        <label>Recorrer Objetivos</label>
        <locationX>622</locationX>
        <locationY>1118</locationY>
        <collectionReference>GetObjetivos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Yaexiste</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AsignoPromocionesObjetivos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerObjetivos_0</name>
        <label>Recorrer Objetivos</label>
        <locationX>1810</locationX>
        <locationY>1478</locationY>
        <collectionReference>GetObjetivos_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Yaexiste_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AsignoPromocionesObjetivos2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerObjetivos_0_0</name>
        <label>Recorrer Objetivos</label>
        <locationX>2998</locationX>
        <locationY>1478</locationY>
        <collectionReference>GetObjetivos_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Yaexiste_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AsignoVendedorObjetivos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorroPromociones</name>
        <label>Recorro Promociones</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <collectionReference>StringValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetObjetivos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HayRepetidas_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorroPromociones2</name>
        <label>Recorro Promociones</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <collectionReference>StringValues3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetObjetivos_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HayRepetidas_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorroVendedores</name>
        <label>Recorro Vendedores</label>
        <locationX>2558</locationX>
        <locationY>1238</locationY>
        <collectionReference>StringValues2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetObjetivos_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HayRepetidas_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearObjetivoPromocion_0</name>
        <label>Crear Objetivo Promocion</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Finalizado_0</targetReference>
        </connector>
        <inputReference>ObjetivosACrear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CrearObjetivoVendedor</name>
        <label>Crear Objetivo Vendedor</label>
        <locationX>2426</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Finalizado2</targetReference>
        </connector>
        <inputReference>ObjetivosACrear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CrearObjetivoVendedor_0</name>
        <label>Crear Objetivo Vendedor</label>
        <locationX>1238</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Finalizado2_0</targetReference>
        </connector>
        <inputReference>ObjetivosACrear</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetObjetivos</name>
        <label>Get Objetivos</label>
        <locationX>622</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerObjetivos</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorroPromociones</elementReference>
            </value>
        </filters>
        <object>Objetivo__c</object>
    </recordLookups>
    <recordLookups>
        <name>GetObjetivos_0</name>
        <label>Get Objetivos</label>
        <locationX>1810</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerObjetivos_0</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorroPromociones2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vendedores3_0</elementReference>
            </value>
        </filters>
        <object>Objetivo__c</object>
    </recordLookups>
    <recordLookups>
        <name>GetObjetivos_0_0</name>
        <label>Get Objetivos</label>
        <locationX>2998</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerObjetivos_0_0</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promociones4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendedor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorroVendedores</elementReference>
            </value>
        </filters>
        <object>Objetivo__c</object>
    </recordLookups>
    <screens>
        <name>Aviso_0</name>
        <label>Aviso</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AvisoText_0</name>
            <fieldText>&lt;p&gt;Actualmente existe un Objetivo para una de las Promociones seleccionadas en este periodo de tiempo. Por favor, revise los objetivos para evitar duplicados.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Aviso_0_0</name>
        <label>Aviso</label>
        <locationX>1502</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AvisoText_0_0</name>
            <fieldText>&lt;p&gt;Actualmente existe un Objetivo para una de las Promociones seleccionadas en este periodo de tiempo. Por favor, revise los objetivos para evitar duplicados.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Aviso_0_0_0</name>
        <label>Aviso</label>
        <locationX>2690</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AvisoText_0_0_0</name>
            <fieldText>&lt;p&gt;Actualmente existe un Objetivo para una de las Promociones seleccionadas en este periodo de tiempo. Por favor, revise los objetivos para evitar duplicados.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DatosObjetivo</name>
        <label>Datos Objetivo</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StringValues</targetReference>
        </connector>
        <fields>
            <name>DatosObjetivo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DatosObjetivo2</name>
        <label>Datos Objetivo</label>
        <locationX>2558</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StringValues2</targetReference>
        </connector>
        <fields>
            <name>DatosObjetivo2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DatosObjetivo2_0</name>
        <label>Datos Objetivo</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StringValues3</targetReference>
        </connector>
        <fields>
            <name>DatosObjetivo2_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finalizado2</name>
        <label>Finalizado</label>
        <locationX>2426</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ObjetivoCreado2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Los Objetivos se han creado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finalizado2_0</name>
        <label>Finalizado</label>
        <locationX>1238</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ObjetivoCreado2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Los Objetivos se han creado correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finalizado_0</name>
        <label>Finalizado</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ObjetivoCreado_0</name>
            <fieldText>&lt;p&gt;Los Objetivos se han creado correctamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionPromocion</name>
        <label>Selección Promoción</label>
        <locationX>2558</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SeleccionVendedor</targetReference>
        </connector>
        <fields>
            <name>Promociones3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Seleccione la Promoción a la que aplicará el Objetivo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Promociones4</name>
            <choiceReferences>ListadoPromociones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promociones</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionPromociones</name>
        <label>Selección Promociones</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DatosObjetivo</targetReference>
        </connector>
        <fields>
            <name>Promociones</name>
            <fieldText>&lt;p&gt;Seleccione las Promociones a las que aplicará el Objetivo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Promociones2</name>
            <choiceReferences>ListadoPromociones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promociones</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionPromociones_0</name>
        <label>Selección Promociones</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DatosObjetivo2_0</targetReference>
        </connector>
        <fields>
            <name>Promociones_0</name>
            <fieldText>&lt;p&gt;Seleccione las Promociones a las que aplicará el Objetivo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Promociones2_0</name>
            <choiceReferences>ListadoPromociones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promociones</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionVendedor</name>
        <label>Selección Vendedor</label>
        <locationX>2558</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DatosObjetivo2</targetReference>
        </connector>
        <fields>
            <name>Vendedores2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Seleccione los Vendedores a las que aplicará el Objetivo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendedores3</name>
            <choiceReferences>ListadVendedores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendedores</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeleccionVendedor_0</name>
        <label>Selección Vendedor</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SeleccionPromociones_0</targetReference>
        </connector>
        <fields>
            <name>Vendedores2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Seleccione el Vendedor al que aplicará el Objetivo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendedores3_0</name>
            <choiceReferences>ListadVendedores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendedores</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UnVendedorVarios</name>
        <label>Un Vendedor o Varios</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UnVendedorOVvarios</targetReference>
        </connector>
        <fields>
            <name>Eleccion</name>
            <fieldText>&lt;p&gt;¿A cuántos Vendedores aplicarán los siguientes objetivos?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleccion3</name>
            <choiceReferences>UnVendedor</choiceReferences>
            <choiceReferences>VariosVendedores</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VendedorPromocion</name>
        <label>Vendedor o Promoción</label>
        <locationX>1700</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PromocionOVendedor</targetReference>
        </connector>
        <fields>
            <name>Seleccion</name>
            <fieldText>&lt;p&gt;¿Qué tipo de Objetivo va a crear? Un objetivo global de Promoción, ¿o un objetivo de Vendedor?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleccion2</name>
            <choiceReferences>Promocion</choiceReferences>
            <choiceReferences>Vendedor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selección</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>VendedorPromocion</startElementReference>
    <status>Active</status>
    <variables>
        <name>ComContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ComEscritura</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ComPosventa</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ComReservas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EachObjetivo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Objetivo__c</objectType>
    </variables>
    <variables>
        <name>FechaLimite</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Garajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IdVendedores</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Importe</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Locales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ObjetivosACrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Objetivo__c</objectType>
    </variables>
    <variables>
        <name>Prom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Trasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Viviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
