force-app/main/default/flows/CreacionLeadShareComerciales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Añadimos comerciales a la colección</description>
        <name>AgregarComercialesColeccion</name>
        <label>Agregar Comerciales a Colección</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ColeccionComerciales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetComercialPromocion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarLeadPromocion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadimos el comercial a la colección final</description>
        <name>AsignarComercialColeccionFinal</name>
        <label>Asignar Comercial a Colección Final</label>
        <locationX>660</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ColeccionFinalComerciales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarColeccion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarComercialVariableAuxiliar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el comercial iterado a la variable auxiliar</description>
        <name>AsignarComercialVariableAuxiliar</name>
        <label>Asignar Comercial a Variable Auxiliar</label>
        <locationX>572</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>ComercialAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarColeccion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarColeccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores de los campos al registro que se va a crear en LeadShare</description>
        <name>AsignarLeadShareComercial</name>
        <label>Asignar Lead Share Comercial</label>
        <locationX>484</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>LeadShareAux.LeadAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarColeccionFinal.Comercial_API__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionLeadShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadShareAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetLeadShareAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores de los campos al registro que se va a crear en LeadShare</description>
        <name>AsignarLeadShareNOVAMAYOR</name>
        <label>Asignar Lead Share NOVAMAYOR</label>
        <locationX>264</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>LeadShareAux.LeadAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPublicGroupReadOnlyPromotor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionLeadShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadShareAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadShareIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos los valores de la variable auxiliar LeadShareAux</description>
        <name>ResetLeadShareAux</name>
        <label>ResetLeadShareAux</label>
        <locationX>484</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>LeadShareAux.LeadAccessLevel</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.LeadId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.RowCause</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadShareAux.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarColeccionFinal</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Ordenamos la colección por el ID del comercial</description>
        <name>OrdenarColeccion</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>OrdenarColeccion</label>
        <locationX>396</locationX>
        <locationY>950</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ColeccionComerciales</collectionReference>
        <connector>
            <targetReference>IterarColeccion</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Nodo de decisión para saber si la colección de comerciales está vacía</description>
        <name>ColeccionVacia</name>
        <label>¿Colección Vacía?</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>OrdenarColeccion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Llena</defaultConnectorLabel>
        <rules>
            <name>Vacia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColeccionComerciales</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPromocionNOVAMAYOR</targetReference>
            </connector>
            <label>Vacía</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si se obtuvieron comerciales</description>
        <name>HayComerciales</name>
        <label>¿Hay Comerciales?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>IterarLeadPromocion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Hay</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetComercialPromocion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgregarComercialesColeccion</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadPromocionNOVAMAYOR</name>
        <label>LeadPromocion NOVAMAYOR Is Empty?</label>
        <locationX>176</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>GetPublicGroupReadOnlyPromotor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadPromocionNOVAMAYOR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadShareIsNull</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si tenemos que realizar la actualización</description>
        <name>LeadShareIsNull</name>
        <label>Lead Share Is Null?</label>
        <locationX>176</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>CreateLeadShare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColeccionLeadShare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si el comercial es el mismo que ha pasado previamente</description>
        <name>MismoComercial</name>
        <label>¿Mismo Comercial?</label>
        <locationX>572</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>AsignarComercialColeccionFinal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterarColeccion.Comercial_API__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ComercialAux.Comercial_API__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarComercialVariableAuxiliar</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>V2: Se ha añadido el proceso necesario para compartir leads que tienen un LeadPromocion de NOVAMAYOR para poder compartirlos con los promotores, agentes externos.
-----------------------------------------------------------------------------------------------------------
Creación de registros LeadShare para los comerciales vinculados al lead pasado por parámetro mediante sus registros de LeadPromocion</description>
    <environments>Default</environments>
    <interviewLabel>Creación LeadShare Comerciales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación LeadShare Comerciales</label>
    <loops>
        <description>Iteramos por la colección ordenada de comerciales</description>
        <name>IterarColeccion</name>
        <label>IterarColección</label>
        <locationX>396</locationX>
        <locationY>1058</locationY>
        <collectionReference>ColeccionComerciales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MismoComercial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterarColeccionFinal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos la colección final de comerciales</description>
        <name>IterarColeccionFinal</name>
        <label>IterarColecciónFinal</label>
        <locationX>396</locationX>
        <locationY>1658</locationY>
        <collectionReference>ColeccionFinalComerciales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarLeadShareComercial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetPromocionNOVAMAYOR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por los registros de LeadPromocion obtenidos</description>
        <name>IterarLeadPromocion</name>
        <label>IterarLeadPromocion</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetLeadPromocion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetComercialPromocion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ColeccionVacia</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creación de registros del objeto LeadShare</description>
        <name>CreateLeadShare</name>
        <label>CreateLeadShare</label>
        <locationX>308</locationX>
        <locationY>2882</locationY>
        <inputReference>ColeccionLeadShare</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos los comerciales con la promocion del registro Leadpromocion iterado</description>
        <name>GetComercialPromocion</name>
        <label>GetComercialPromocion</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayComerciales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterarLeadPromocion.Promocion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Comercial_API__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Var_Input_IDComercialOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Promocion_Comercial_API__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los registros LeadPromociones del Lead pasado por parámetro</description>
        <name>GetLeadPromocion</name>
        <label>GetLeadPromocion</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarLeadPromocion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadPromocion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los registros LeadPromociones del Lead pasado por parámetro para la promoción de NOVAMAYOR</description>
        <name>GetLeadPromocionNOVAMAYOR</name>
        <label>GetLeadPromocion NOVAMAYOR</label>
        <locationX>176</locationX>
        <locationY>2258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadPromocionNOVAMAYOR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Input_IdLead</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PromocionNOVAMAYOR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadPromocion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la promoción de NOVAMAYOR</description>
        <name>GetPromocionNOVAMAYOR</name>
        <label>Get Promocion NOVAMAYOR</label>
        <locationX>176</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLeadPromocionNOVAMAYOR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOVAMAYOR</stringValue>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputReference>PromocionNOVAMAYOR</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el grupo público Read Only promotor</description>
        <name>GetPublicGroupReadOnlyPromotor</name>
        <label>Get Public Group Read Only - Promotor</label>
        <locationX>264</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarLeadShareNOVAMAYOR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReadOnlyPromotor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLeadPromocion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo colección para almacenar los comerciales relacionados con las promociones del lead</description>
        <name>ColeccionComerciales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <description>Variable de tipo coleccion para almacenar los comerciales que se les creará colaboración con el lead</description>
        <name>ColeccionFinalComerciales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <description>Variable de tipo colección para almacenar los Lead Share a crear</description>
        <name>ColeccionLeadShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadShare</objectType>
    </variables>
    <variables>
        <description>Variable auxiliar para almacenar al comercial previamente iterado</description>
        <name>ComercialAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion_Comercial_API__c</objectType>
    </variables>
    <variables>
        <description>Variable auxiliar para almacenar la información del registro Lead Share a crear</description>
        <name>LeadShareAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadShare</objectType>
    </variables>
    <variables>
        <name>PromocionNOVAMAYOR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion__c</objectType>
    </variables>
    <variables>
        <description>Variable que guarda el Id del comercial propietario del lead</description>
        <name>Var_Input_IDComercialOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que guarda el id del lead que desencadena el flow principal</description>
        <name>Var_Input_IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
