force-app/main/default/flows/Cuenta_Triggered_AfetrInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Aviso, alerta de riesgo en el cliente</description>
        <name>Action_EmailAlert</name>
        <label>Action_EmailAlert</label>
        <locationX>314</locationX>
        <locationY>4271</locationY>
        <actionName>Account.Aviso_alerta_de_riesgo_en_el_cliente</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Aviso, alerta de riesgo en el cliente</description>
        <name>Action_EmailAlertContact</name>
        <label>Action_EmailAlert</label>
        <locationX>50</locationX>
        <locationY>4271</locationY>
        <actionName>Contact.Aviso_alerta_de_riesgo_en_el_cliente_Contacto</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Actualizar la dirección extranjera PB con la dirección extranjera 2.</description>
        <name>Assign_Cuenta_ActualizaDireccionExtranjeraPB</name>
        <label>Assign_Cuenta_Actualiza dirección extranjera PB</label>
        <locationX>248</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.DireccionExtranjeraPB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Direccion_Extranjera_F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ActualizarExtranjeraPBPorEx1OIguales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualizar la dirección extranjera PB con la dirección extranjera 1.</description>
        <name>Assign_Cuenta_ActualizaDireccionExtranjeraPB02</name>
        <label>Assign_Cuenta_Actualiza Dirección Extranjera PB</label>
        <locationX>116</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.DireccionExtranjeraPB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Direccion_Extranjera_P__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ActualizarCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualizar la dirección extranjera PB con la dirección extranjera 1.</description>
        <name>Assign_Cuenta_ActualizaDireccionExtranjeraPB03</name>
        <label>Assign_Cuenta_Actualiza Dirección Extranjera PB</label>
        <locationX>380</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.DireccionExtranjeraPB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Direccion_Extranjera_P__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ActualizarCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Blanquea la dirección extranjera 1 de la cuenta.</description>
        <name>Assign_Cuenta_BlanqueaDireccionExtranjera</name>
        <label>Assign_Cuenta_Blanquea dirección extranjera</label>
        <locationX>248</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Localidad_Extranjera_P__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Direccion_Extranjera_P__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PaisFacturacionEspanya</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Blanquea la dirección extranjera 2 de la cuenta.</description>
        <name>Assign_Cuenta_BlanqueaDireccionExtranjera2</name>
        <label>Assign_Cuenta_Blanquea dirección extranjera 2</label>
        <locationX>248</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Direccion_Extranjera_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Localidad_Extranjera_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PaisFiscalEspanya</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Blanquea la dirección extranjera 3 de la cuenta.</description>
        <name>Assign_Cuenta_BlanqueaDireccionExtranjera3</name>
        <label>Assign_Cuenta_Blanquea dirección extranjera 3</label>
        <locationX>248</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Direccion_Extranjera_FISCAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Localidad_Extranjera_FISCAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DireccionExtranjeraFacturacionRellena</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Blanquea domicilio de facturación de la cuenta.</description>
        <name>Assign_Cuenta_BlanqueaLocalidadFacturacion</name>
        <label>Assign_Cuenta_Blanquea localidad facturación</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.DF_Localidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DomicilioPersonaSocialNoEspanyol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Blanquear la localidad fiscal de la cuenta.</description>
        <name>Assign_Cuenta_BlanqueaLocalidadFiscal</name>
        <label>Assign_Cuenta_Blanquea localidad fiscal</label>
        <locationX>248</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Localidad_FISCAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DomicilioFacturacionNoEspanyol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Blanquea domicilio de la persona/social de la cuenta.</description>
        <name>Assign_Cuenta_BlanqueaLocalidadPersonasocial</name>
        <label>Assign_Cuenta_Blanquea localidad persona/social</label>
        <locationX>248</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.DP_Localidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PaisPersonaSocialEspanya</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Constante que contiene el nombre de España.</description>
        <name>Cons_Spain</name>
        <dataType>String</dataType>
        <value>
            <stringValue>España</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Verificar si hay que actualizar la cuenta con datos nuevos.</description>
        <name>Decision_ActualizarCuenta</name>
        <label>Decision_Actualizar Cuenta?</label>
        <locationX>380</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Decision_RespuestaAltaCambio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActualizarCuenta_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cuenta</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la dirección extranjera es nula y la dirección extranjera de persona esta rellena o si copiar dirección está marcado.</description>
        <name>Decision_ActualizarExtranjeraPBPorEx1OIguales</name>
        <label>Decision_Actualizar Extranjera PB Por Ex 1 O Iguales</label>
        <locationX>380</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Decision_ActualizarCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActualizarExtranjeraPBPorEx1OIguales_Ex1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_P__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_ActualizaDireccionExtranjeraPB02</targetReference>
            </connector>
            <label>Actualizar Extranjera PB Ex 1</label>
        </rules>
        <rules>
            <name>ActualizarExtranjera1OPB_Iguales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direcciones_iguales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_P__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_ActualizaDireccionExtranjeraPB03</targetReference>
            </connector>
            <label>Actualizar Extranjera PB Iguales</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si las direcciones de la cuenta son iguales.</description>
        <name>Decision_CopiarDireccionFacturacion</name>
        <label>Decision_Copiar dirección facturación?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_CopiarDireccionFiscal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CopiarDireccionFacturacion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direcciones_iguales__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cuenta_CopiarDireccionFacturacion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el campo &apos;Copiar dirección&apos; está marcado y que la cuenta no es personal.</description>
        <name>Decision_CopiarDireccionFiscal</name>
        <label>Decision_Copiar dirección fiscal?</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_DomicilioFiscalNoEspanyol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CopiarDireccion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Copiar_direccion_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cuenta_CopiarDireccionFiscal</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la dirección extranjera de facturación está rellena.</description>
        <name>Decision_DireccionExtranjeraFacturacionRellena</name>
        <label>Decision_Direccion Extranjera Facturación Rellena</label>
        <locationX>380</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Decision_ActualizarExtranjeraPBPorEx1OIguales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DireccionExtranjeraFacturacionRellena_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_ActualizaDireccionExtranjeraPB</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comporbar si el domicilio de la facturación no es español</description>
        <name>Decision_DomicilioFacturacionNoEspanyol</name>
        <label>Decision_Domicilio Facturación no es español</label>
        <locationX>380</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Decision_DomicilioPersonaSocialNoEspanyol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DomicilioFacturacionNoEspanyol_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DF_Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DF_Pais__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Cons_Spain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_BlanqueaLocalidadFacturacion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el domicilio fiscal no es español.</description>
        <name>Decision_DomicilioFiscalNoEspanyol</name>
        <label>Decision_Domicilio Fiscal No Español</label>
        <locationX>380</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Decision_DomicilioFacturacionNoEspanyol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DomicilioFiscalNoEspanyol_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais_FISCAL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais_FISCAL__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Cons_Spain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_FISCAL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_BlanqueaLocalidadFiscal</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el domicilio de la persona/social no es español.</description>
        <name>Decision_DomicilioPersonaSocialNoEspanyol</name>
        <label>Decision_Domicilio Persona/Social No Español</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Decision_PaisPersonaSocialEspanya</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DomicilioPersonaSocialNoEspanyol_Si</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DP_Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Pais__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Cons_Spain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_P__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Tipo_de_vIa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Nombre_via__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumeroViaText__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Escalera__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Puerta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Localidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Codigo_postal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_BlanqueaLocalidadPersonasocial</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_EsCuentaPersonal</name>
        <label>Decision_Es Cuenta Personal</label>
        <locationX>182</locationX>
        <locationY>4151</locationY>
        <defaultConnector>
            <targetReference>Action_EmailAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsCuentaPersonal_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_EmailAlertContact</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comporbar si el País de la facturación es España</description>
        <name>Decision_PaisFacturacionEspanya</name>
        <label>Decision_Pais Facturación España</label>
        <locationX>380</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Decision_PaisFiscalEspanya</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaisFacturacionEspanya_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DF_Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DF_Pais__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cons_Spain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_BlanqueaDireccionExtranjera2</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el país fiscal es España.</description>
        <name>Decision_PaisFiscalEspanya</name>
        <label>Decision_País Fiscal España</label>
        <locationX>380</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Decision_DireccionExtranjeraFacturacionRellena</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaisFiscalEspanya_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais_FISCAL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais_FISCAL__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cons_Spain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_FISCAL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_BlanqueaDireccionExtranjera3</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el país de la persona/social es España.</description>
        <name>Decision_PaisPersonaSocialEspanya</name>
        <label>Decision_Pais Persona/Social España</label>
        <locationX>380</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Decision_PaisFacturacionEspanya</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaisPersonaSocialEspanya_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DP_Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DP_Pais__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cons_Spain</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_P__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cuenta_BlanqueaDireccionExtranjera</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el valor del campo &apos;Respuesta_alta_PBC__c&apos; ha cambiado y si no es &apos;0&apos;.</description>
        <name>Decision_RespuestaAltaCambio</name>
        <label>Decision_Respuesta alta cambió</label>
        <locationX>380</locationX>
        <locationY>4031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RespuestaAltaCambio_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Respuesta_alta_PBC__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_RespuestaAltaNoEstaEnLista</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_EsCuentaPersonal</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo del Objeto &apos;Cuenta&apos; que se lanza al crear o editar el registro.
17/04 MSC: WorkFlow &quot;Email alert comercial y usuarios PBC&quot;
18/04 MSC: PBs &quot;PB_Account_Rellenar Dirección de Facturación y Fiscal&quot; y &quot;Blanquear campos si dirección no es española&quot;
18/05 MSC: Rellenar campo Nº via 2</description>
    <formulas>
        <description>Convertir el valor del campo NumeroViaText__c en Número</description>
        <name>For_NumeroViaText</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.NumeroViaText__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Variable que devuelve verdadero si el valor Api seleccionado del campo &apos;Respuesta_alta_PBC__c&apos; es &apos;0&apos;</description>
        <name>For_RespuestaAltaNoEstaEnLista</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Respuesta_alta_PBC__c}, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Cuenta_Triggered_Afetr Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cuenta_Triggered_Afetr Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar la cuenta.</description>
        <name>Update_Cuenta</name>
        <label>Update_Cuenta</label>
        <locationX>248</locationX>
        <locationY>3815</locationY>
        <connector>
            <targetReference>Decision_RespuestaAltaCambio</targetReference>
        </connector>
        <inputReference>AccountToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Copiar la dirección de facturación desde la persona/social.</description>
        <name>Update_Cuenta_CopiarDireccionFacturacion</name>
        <label>Update_Cuenta_Copiar Direccion Facturación</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Decision_CopiarDireccionFiscal</targetReference>
        </connector>
        <inputAssignments>
            <field>DF_Codigo_postal__c</field>
            <value>
                <elementReference>$Record.DP_Codigo_postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Escalera__c</field>
            <value>
                <elementReference>$Record.DP_Escalera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Localidad__c</field>
            <value>
                <elementReference>$Record.DP_Localidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_N_piso__c</field>
            <value>
                <elementReference>$Record.DP_N_piso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_N_via__c</field>
            <value>
                <elementReference>For_NumeroViaText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Nombre_via__c</field>
            <value>
                <elementReference>$Record.DP_Nombre_via__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Pais__c</field>
            <value>
                <elementReference>$Record.DP_Pais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Puerta__c</field>
            <value>
                <elementReference>$Record.DP_Puerta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DF_Tipo_de_via__c</field>
            <value>
                <elementReference>$Record.DP_Tipo_de_vIa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_Extranjera_F__c</field>
            <value>
                <elementReference>$Record.Direccion_Extranjera_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localidad_Extranjera_F__c</field>
            <value>
                <elementReference>$Record.Localidad_Extranjera_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroVia2Text__c</field>
            <value>
                <elementReference>$Record.NumeroViaText__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cuenta_CopiarDireccionFiscal</name>
        <label>Update_Cuenta_Copiar dirección fiscal</label>
        <locationX>248</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Decision_DomicilioFiscalNoEspanyol</targetReference>
        </connector>
        <inputAssignments>
            <field>Codigo_postal_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Codigo_postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_Extranjera_FISCAL__c</field>
            <value>
                <elementReference>$Record.Direccion_Extranjera_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalera_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Escalera__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localidad_Extranjera_FISCAL__c</field>
            <value>
                <elementReference>$Record.Localidad_Extranjera_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localidad_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Localidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_piso_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_N_piso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_via_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Nombre_via__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroViaFiscalText__c</field>
            <value>
                <elementReference>$Record.NumeroViaText__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Pais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puerta_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Puerta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_via_FISCAL__c</field>
            <value>
                <elementReference>$Record.DP_Tipo_de_vIa__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision_CopiarDireccionFacturacion</startElementReference>
    <status>Active</status>
    <variables>
        <description>Registro que almacena los cambios para aplicar en la cuenta durante el flujo.</description>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
