force-app/main/default/flows/DocuSignStatus_Triggered_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Asignar el valor verdadero al campo ha firmado del Lead.</description>
        <name>Assign_Lead_HaFirmado</name>
        <label>Assign_Lead_HaFirmado</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.HaFirmado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobar si el registro es nuevo.</description>
        <name>Decision_IsNew</name>
        <label>Decision_IsNew</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Decision_SignatureCompletedTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DocuSignStatus_CampoLead</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el registro es nuevo.</description>
        <name>Decision_IsNew01</name>
        <label>Decision_IsNew</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew01_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DocuSignStatus_CampoContact</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el registro es nuevo.</description>
        <name>Decision_IsNew02</name>
        <label>Decision_IsNew</label>
        <locationX>1150</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew02_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DocuSignStatus_CampoAccount</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el registro es nuevo.</description>
        <name>Decision_IsNew03</name>
        <label>Decision_IsNew</label>
        <locationX>1590</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew03_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DocuSignStatus_CampoOpportunity</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el registro es nuevo.</description>
        <name>Decision_IsNew04</name>
        <label>Decision_IsNew</label>
        <locationX>2030</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew04_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DocuSignStatus_CampoPromocion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si anteriormente dfsle__EnvelopeStatus__c no tenía el valor &quot;Completed&quot; y ahora ha cambiado a &quot;Completed&quot;.</description>
        <name>Decision_SignatureCompletedTrue</name>
        <label>Decision_SignatureCompletedTrue</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SignatureCompletedTrue_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.dfsle__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_HaFirmado</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar el tipo del registro relacionado con el Docusign</description>
        <name>Decision_TypeIs</name>
        <label>Decision_TypeIs</label>
        <locationX>1260</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TypeIs_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__SourceId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>TypeIs_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__SourceId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>TypeIs_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__SourceId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>TypeIs_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__SourceId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>TypeIs_Promocion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__SourceId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promocion</targetReference>
            </connector>
            <label>Promocion</label>
        </rules>
    </decisions>
    <description>Flujo del Objeto DocuSignStatus que se lanza cuando se crea o se actualiza un registro.
-Cuando la solicitud de firma pasa al estado &quot;Completed&quot; el campo Ha firmado se activa.</description>
    <formulas>
        <description>Formula que devuelve verdadero si el registro es nuevo.</description>
        <name>For_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>DocuSignStatus_Triggered_AfterInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSignStatus_Triggered_AfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener la cuenta</description>
        <name>Get_Account</name>
        <label>Get_Account</label>
        <locationX>1150</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsNew02</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener el contacto</description>
        <name>Get_Contact</name>
        <label>Get_Contact</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsNew01</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener el Lead</description>
        <name>Get_Lead</name>
        <label>Get_Lead</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsNew</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener la oportunidad</description>
        <name>Get_Opportunity</name>
        <label>Get_Opportunity</label>
        <locationX>1590</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsNew03</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener la promoción</description>
        <name>Get_Promocion</name>
        <label>Get_Promocion</label>
        <locationX>2030</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsNew04</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar el campo Account del registro con la Id del la cuenta relacionada.</description>
        <name>Update_DocuSignStatus_CampoAccount</name>
        <label>Update_DocuSignStatus_CampoAccount</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Contact del registro con la Id del contacto relacionado.</description>
        <name>Update_DocuSignStatus_CampoContact</name>
        <label>Update_DocuSignStatus_CampoContact</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Lead del registro con la Id del lead relacionado.</description>
        <name>Update_DocuSignStatus_CampoLead</name>
        <label>Update_DocuSignStatus_CampoLead</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Decision_SignatureCompletedTrue</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Opportunity del registro con la Id de la oportunidad relacionada.</description>
        <name>Update_DocuSignStatus_CampoOpportunity</name>
        <label>Update_DocuSignStatus_CampoOpportunity</label>
        <locationX>1458</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Promocion del registro con la Id de la promoción relacionada.</description>
        <name>Update_DocuSignStatus_CampoPromocion</name>
        <label>Update_DocuSignStatus_CampoPromocion</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>Get_Promocion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el campo del Lead ha firmado a verdadero.</description>
        <name>Update_Lead</name>
        <label>Update_Lead</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <startElementReference>Decision_TypeIs</startElementReference>
    <status>Obsolete</status>
</Flow>
