force-app/main/default/flows/Event_Triggered_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Decisión para realizar acciones dependiendo del típo de registro.</description>
        <name>Dec_RecordTypeVisitasComerciales</name>
        <label>Dec_RecordTypeVisitasComerciales</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EsVisitaComercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordTypeName.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PrimerasVisitas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LeadRecord</targetReference>
            </connector>
            <label>Es Visita Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se comprueba si el campo &quot;Fecha 1ª Visita&quot; está informado para actualizarlo, o no.</description>
        <name>Decision_FechaPrimeraVisitaField</name>
        <label>Decision_FechaPrimeraVisitaField</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No rellenar campo</defaultConnectorLabel>
        <rules>
            <name>RellenarFechaPrimeraVisita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LeadRecord.Fecha_Visita__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_1VisitaLeadField</targetReference>
            </connector>
            <label>Rellenar Fecha 1ª Visita</label>
        </rules>
    </decisions>
    <description>Cuando es la primera vista del Lead y se crea o se modifica el evento con el estado &apos;Realizado&apos; con unos campos concretos.
09/03/2023 (JaimeR): Se incluye decisión que mira si el campo &quot;Fecha 1ª Visita&quot; está informado. Si no lo está se actualizará con la fecha incluida en el evento que se crea.</description>
    <environments>Default</environments>
    <formulas>
        <description>Los primeros caracteres de StartDate para no recoger el tiempo.</description>
        <name>form_JustStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.StartDateTime})</expression>
    </formulas>
    <interviewLabel>Event_Triggered_AfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event_Triggered_AfterInsertPrimeraVisitaLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos el registro de lead relacionado.</description>
        <name>Get_LeadRecord</name>
        <label>Get_LeadRecord</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_FechaPrimeraVisitaField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro de evento</description>
        <name>Get_RecordTypeName</name>
        <label>Get_RecordTypeName</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_RecordTypeVisitasComerciales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Traemos el campo start date del evento al campo Fecha 1ª visita.</description>
        <name>Update_1VisitaLeadField</name>
        <label>Update_1VisitaLeadField</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LeadRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Visita__c</field>
            <value>
                <elementReference>form_JustStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeName</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2 AND 4</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1VisitaAgendada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1Visita</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_evento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizado</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
