force-app/main/default/flows/Factura_de_Entrada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>num_linea_1</name>
        <label>num linea 1</label>
        <locationX>1166</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_factura_proforma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>num_linea_1_0</name>
        <label>num linea 1</label>
        <locationX>785</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_factura_proforma_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>num_linea_mas_1</name>
        <label>num linea mas 1</label>
        <locationX>1461</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>num_linea_mas_1_0</name>
        <label>num linea mas 1</label>
        <locationX>1265</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>NumLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Productos_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Facturacion_por_separado</name>
        <label>¿Facturacion por separado?</label>
        <locationX>777</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>num_linea_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Por_separado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacturacionPorSeparado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Participantes</targetReference>
            </connector>
            <label>Por separado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_que_generar_la_factura</name>
        <label>Hay que generar la factura</label>
        <locationX>350</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generar_Factura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GenerarFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExisteFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_de_Productos</targetReference>
            </connector>
            <label>Generar Factura</label>
        </rules>
    </decisions>
    <formulas>
        <name>Descripcioncompleta</name>
        <dataType>String</dataType>
        <expression>&quot;Entrega a cuenta por la compra de &quot; + {!DescripcionPrincipal}</expression>
    </formulas>
    <formulas>
        <name>DescripLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductoX.Description}, 150)</expression>
    </formulas>
    <formulas>
        <name>ImporteEntrada</name>
        <dataType>Currency</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva sin IVA&quot;,
{!PorcentajeFirmaContrato}*{!ImporteTotal}/100 ,
({!PorcentajeFirmaContrato}*{!ImporteTotal}/100) -  {!ImporteReserva}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteLinea</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteEntrada}* ({!ProductoX.TotalPrice}/{!ImporteTotal})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteParticipacionEntrada</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteEntrada} * {!Participante.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteParticipacionLinea</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteLinea} * {!Participante.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NombreLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductoX.Description}, 80)</expression>
    </formulas>
    <formulas>
        <name>ReferenciaComplet</name>
        <dataType>String</dataType>
        <expression>{!IdOportunidad} + &quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; + &quot;04&quot;</expression>
    </formulas>
    <interviewLabel>Factura de Entrada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factura de Entrada</label>
    <loops>
        <name>For_each_Participante</name>
        <label>For each Participante</label>
        <locationX>1165</locationX>
        <locationY>537</locationY>
        <assignNextValueToReference>Participante</assignNextValueToReference>
        <collectionReference>Participantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>num_linea_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExisteFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Productos</name>
        <label>Recorrer Productos</label>
        <locationX>1361</locationX>
        <locationY>538</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariableProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Linead_de_factura</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_Participante</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Productos_0</name>
        <label>Recorrer Productos</label>
        <locationX>1171</locationX>
        <locationY>167</locationY>
        <assignNextValueToReference>ProductoX</assignNextValueToReference>
        <collectionReference>VariableProductos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Linead_de_factura_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExisteFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_factura_proforma</name>
        <label>Crear factura proforma</label>
        <locationX>1361</locationX>
        <locationY>678</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>Recorrer_Productos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Participante.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>Descripcioncompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteParticipacionEntrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Entrada </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaComplet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_factura_proforma_0</name>
        <label>Crear factura proforma</label>
        <locationX>972</locationX>
        <locationY>167</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>Recorrer_Productos_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdClientePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>Descripcioncompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteEntrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Entrada </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaComplet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>ENTREGAS A CUENTA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Linead_de_factura</name>
        <label>Crear Linead de factura</label>
        <locationX>1565</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>num_linea_mas_1</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>DescripLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteParticipacionLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>NumLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Linead_de_factura_0</name>
        <label>Crear Linead de factura</label>
        <locationX>1460</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>num_linea_mas_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>DescripLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>NumLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordLookups>
        <name>Campos_de_oportunidad</name>
        <label>Campos de oportunidad</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_que_generar_la_factura</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdClientePrincipal</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteTotal</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConceptoTransferencia</assignToReference>
            <field>Concepto_transferencia__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DescripcionPrincipal</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExisteFactura</assignToReference>
            <field>ExisteFacturaEntrada__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FacturacionPorSeparado</assignToReference>
            <field>Facturacion_por_separado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GenerarFactura</assignToReference>
            <field>Generar_Facturas_de_Clientes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PorcentajeFirmaContrato</assignToReference>
            <field>Pago_Contrato_al_contado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IVA</assignToReference>
            <field>Porcentaje_IVA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteReserva</assignToReference>
            <field>Reserva__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipodeReserva</assignToReference>
            <field>Tipo_de_Reserva__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Datos_Participantes</name>
        <label>Datos Participantes</label>
        <locationX>969</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Participante</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>Participantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
        <queriedFields>Porcentaje_de_participacion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Registro_de_Productos</name>
        <label>Registro de Productos</label>
        <locationX>585</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facturacion_por_separado</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>VariableProductos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExisteFactura</name>
        <label>Update Existe Factura</label>
        <locationX>1162</locationX>
        <locationY>348</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExisteFacturaEntrada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaEntrada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Campos_de_oportunidad</startElementReference>
    <status>Active</status>
    <variables>
        <name>CodigoSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConceptoTransferencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescripcionPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacturacionPorSeparado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GenerarFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdClientePrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteReserva</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IVA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumLinea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Participante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>Participantes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>PorcentajeFirmaContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductoX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TipodeReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableProductos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
