force-app/main/default/flows/Factura_Reserva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Facturacion_por_separado</name>
        <label>¿Facturacion por separado?</label>
        <locationX>816</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Factura_Reserva_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Por_separado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacturacionPorSeparado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_participantes</targetReference>
            </connector>
            <label>Por separado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generar_factura</name>
        <label>¿Generar factura?</label>
        <locationX>551</locationX>
        <locationY>292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_que_generar_la_factura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GenerarFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExisteFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facturacion_por_separado</targetReference>
            </connector>
            <label>Hay que generar la factura</label>
        </rules>
    </decisions>
    <formulas>
        <name>CodigoImpuesto</name>
        <dataType>Number</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
{!IVA} ,
0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DescripcionFactura</name>
        <dataType>String</dataType>
        <expression>&quot;Reserva de &quot; + {!DescripcionOport}</expression>
    </formulas>
    <formulas>
        <name>ImporteParticipacionReserva</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteReserva} * {!Participante.Porcentaje_de_participacion__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NombreLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!DescripcionOport},80)</expression>
    </formulas>
    <formulas>
        <name>NombreLineaDescrip</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
LEFT(&quot;Reserva de &quot; + {!DescripcionOport},150),
LEFT(&quot;Depósito de &quot; + {!DescripcionOport},150)
)</expression>
    </formulas>
    <formulas>
        <name>ReferenciaCompleta</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
{!IdOportunidad} + &quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; +&quot;01&quot; ,
{!IdOportunidad} + &quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; +&quot;02&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TipodeFactura</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
&quot;RESERVAS&quot; ,
&quot;DEPOSITOS&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TipodeLinea</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
&quot;Reserva de Inmueble&quot; ,
&quot;Depósito&quot;
)</expression>
    </formulas>
    <interviewLabel>Factura Reserva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factura Reserva</label>
    <loops>
        <name>For_each_participante</name>
        <label>For each participante</label>
        <locationX>1268</locationX>
        <locationY>160</locationY>
        <assignNextValueToReference>Participante</assignNextValueToReference>
        <collectionReference>Participantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Factura_Reserva</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExisteFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreaLineaFactura</name>
        <label>CreaLineaFactura</label>
        <locationX>1525</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>For_each_participante</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaDescrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteParticipacionReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <elementReference>TipodeLinea</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreaLineaFactura_0</name>
        <label>CreaLineaFactura</label>
        <locationX>1273</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>UpdateExisteFactura</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaDescrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <elementReference>TipodeLinea</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Factura_Reserva</name>
        <label>Factura Reserva</label>
        <locationX>1399</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>CreaLineaFactura</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Participante.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>CodigoImpuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteParticipacionReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <elementReference>TipodeFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Factura_Reserva_0</name>
        <label>Factura Reserva</label>
        <locationX>1070</locationX>
        <locationY>408</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>CreaLineaFactura_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>CodigoImpuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <elementReference>TipodeFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordLookups>
        <name>Datos_de_oportunidad</name>
        <label>Datos de oportunidad</label>
        <locationX>361</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generar_factura</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdCliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConceptoTransferencia</assignToReference>
            <field>Concepto_transferencia__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DescripcionOport</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExisteFactura</assignToReference>
            <field>ExisteFacturaReserva__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FacturacionPorSeparado</assignToReference>
            <field>Facturacion_por_separado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GenerarFactura</assignToReference>
            <field>Generar_Facturas_de_Clientes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IVA</assignToReference>
            <field>Porcentaje_IVA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteReserva</assignToReference>
            <field>Reserva__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipodeReserva</assignToReference>
            <field>Tipo_de_Reserva__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Datos_participantes</name>
        <label>Datos participantes</label>
        <locationX>1071</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_participante</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>Participantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
        <queriedFields>Porcentaje_de_participacion__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExisteFactura</name>
        <label>Update Existe Factura</label>
        <locationX>1517</locationX>
        <locationY>356</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExisteFacturaReserva__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaReserva__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Datos_de_oportunidad</startElementReference>
    <status>Active</status>
    <variables>
        <name>CodigoSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConceptoTransferencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescripcionOport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacturacionPorSeparado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GenerarFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteReserva</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IVA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NombredePromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Participante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>Participantes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>TipodeReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
