force-app/main/default/flows/Factura_Rectificativa_y_lineas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Actualizar_Variables</name>
        <label>Actualizar Variables</label>
        <locationX>1436</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>Numerosdefacturas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnadeNumeroFactura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteTotalCobradoContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnadeImporteFacturaCobrada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumerodefacturasPuntoComa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnadeNumeroFacturaPuntoComa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Linea_Reserva_Inmueble</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Variables_0</name>
        <label>Actualizar Variables</label>
        <locationX>1122</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>Numerosdefacturas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnadeNumeroFactura</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteTotalCobradoContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnadeImporteFacturaCobrada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumerodefacturasPuntoComa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnadeNumeroFacturaPuntoComa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reserva_Immueble_Linea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Variables_0_0</name>
        <label>Actualizar Variables</label>
        <locationX>1492</locationX>
        <locationY>1041</locationY>
        <assignmentItems>
            <assignToReference>Numerosdefacturas</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteTotalCobradoContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumerodefacturasPuntoComa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteVentaInmueble</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteReservaInmueble</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteEntregaCuenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Facturas_Cobradas_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContadorNumeroLineas</name>
        <label>Contador Número de Líneas</label>
        <locationX>216</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>ContadorNumeroLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarNumeroLinea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reserva a cuenta</description>
        <name>Importe_Entrega_a_Cuenta</name>
        <label>Importe Entrega a Cuenta</label>
        <locationX>2207</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>ImporteEntregaCuenta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableEntregaCuenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_Entrega_a_Cuenta_1</name>
        <label>Importe Entrega a Cuenta 1</label>
        <locationX>789</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>ImporteEntregaCuenta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea_1.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableVenta1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_Mejoras</name>
        <label>Importe Mejoras</label>
        <locationX>1244</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>ImporteMejoras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableMejoras</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_Mejoras_1</name>
        <label>Importe Mejoras 1</label>
        <locationX>647</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>ImporteMejoras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea_1.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableVenta1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>importe_reserva_inmueble</name>
        <label>importe reserva inmueble</label>
        <locationX>1377</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>ImporteReservaInmueble</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableReserva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_reserva_inmueble_1</name>
        <label>Importe reserva inmueble 1</label>
        <locationX>884</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>ImporteReservaInmueble</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea_1.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableVenta1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Venta_inmueble</name>
        <label>Venta inmueble</label>
        <locationX>1808</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>ImporteVentaInmueble</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableVenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Venta_inmueble_1</name>
        <label>Venta inmueble 1</label>
        <locationX>793</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>ImporteVentaInmueble</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tipo_de_linea_1.Importe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdFacturaNuevaLinea1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tipo_de_linea_1.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdVariableVenta1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_linea_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Era_Reserva</name>
        <label>¿Era Reserva?</label>
        <locationX>2361</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Hay_facturaci_n_por_separado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoAnteriorEraReserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EstadoAnterior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hay_facturaci_n_por_separado_0</targetReference>
            </connector>
            <label>EstadoAnteriorEraReserva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_facturaci_n_por_separado</name>
        <label>¿Hay facturación por separado?</label>
        <locationX>2061</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Buscar_Facturas_Cobradas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Por_separado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacturacionPorSeparado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Participantes</targetReference>
            </connector>
            <label>Por separado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_facturaci_n_por_separado_0</name>
        <label>¿Hay facturación por separado?</label>
        <locationX>2596</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Buscar_la_Reserva_Cobrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Por_separado_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacturacionPorSeparado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Participantes_0</targetReference>
            </connector>
            <label>Por separado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_facturas_Cobradas</name>
        <label>¿Hay facturas Cobradas?</label>
        <locationX>1414</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facturas_Cobradas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VariableFacturasCobradas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abono_tras_cancelacion_Contrato</targetReference>
            </connector>
            <label>Facturas Cobradas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_facturas_Cobradas_0</name>
        <label>¿Hay facturas Cobradas?</label>
        <locationX>1547</locationX>
        <locationY>1516</locationY>
        <defaultConnector>
            <targetReference>For_Each_Participante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facturas_Cobradas_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VariableFacturasCobradas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abono_tras_cancelacion_Contrato_0</targetReference>
            </connector>
            <label>Facturas Cobradas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_linea_Entrega_a_Cuenta</name>
        <label>Hay línea Entrega a Cuenta</label>
        <locationX>917</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Linea_not_null_Inmueble</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Linea_not_null_entrega_a_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteEntregaCuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Entrega</targetReference>
            </connector>
            <label>Línea not null Entrega a cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_linea_Entrega_a_Cuenta_2</name>
        <label>Hay línea Entrega a Cuenta 2</label>
        <locationX>1914</locationX>
        <locationY>1566</locationY>
        <defaultConnector>
            <targetReference>Linea_not_null_Reserva_Inmueble_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Linea_not_null_Entrega_a_cuenta_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteEntregaCuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImporteEntregaCuenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Entrega_2</targetReference>
            </connector>
            <label>Línea not null Entrega a cuenta 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayLineaMejoras</name>
        <label>Hay línea Mejoras</label>
        <locationX>350</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>LineasFacturaGeneradas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Linea_not_null_Mejoras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteMejoras</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Mejoras</targetReference>
            </connector>
            <label>Línea not null Mejoras</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayLneaVentaInmueble</name>
        <label>Hay línea Venta Inmueble</label>
        <locationX>825</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>HayLineaMejoras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Linea_not_null_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteVentaInmueble</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Venta</targetReference>
            </connector>
            <label>Línea not null Venta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linea_not_null_Inmueble</name>
        <label>Línea not null Reserva Inmueble</label>
        <locationX>1118</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>HayLneaVentaInmueble</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null_inmueble</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteReservaInmueble</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Inmueble</targetReference>
            </connector>
            <label>not null Inmueble</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linea_not_null_Mejoras_1</name>
        <label>Línea not null Mejoras 1</label>
        <locationX>1869</locationX>
        <locationY>1160</locationY>
        <defaultConnector>
            <targetReference>For_Each_Participante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Linea_NotNull_Mejoras_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteMejoras</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImporteMejoras</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Linea_Mejoras_1</targetReference>
            </connector>
            <label>Línea not null Mejoras 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linea_not_null_Reserva_Inmueble_2</name>
        <label>Línea not null Reserva Inmueble 2</label>
        <locationX>2261</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>Linea_not_null_Venta_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_Inmueble_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteReservaInmueble</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImporteReservaInmueble</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Inmueble_2</targetReference>
            </connector>
            <label>not null Inmueble 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Linea_not_null_Venta_2</name>
        <label>Línea not null Venta 2</label>
        <locationX>1946</locationX>
        <locationY>1292</locationY>
        <defaultConnector>
            <targetReference>Linea_not_null_Mejoras_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Linea_not_null_Venta_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImporteVentaInmueble</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImporteVentaInmueble</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_linea_Venta_2</targetReference>
            </connector>
            <label>Línea not null Venta 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_de_linea</name>
        <label>Qué tipo de línea</label>
        <locationX>1377</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reserva_de_inmueble</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva de Inmueble</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>importe_reserva_inmueble</targetReference>
            </connector>
            <label>Reserva de inmueble</label>
        </rules>
        <rules>
            <name>Venta_de_inmueble</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta de Inmueble</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Venta_inmueble</targetReference>
            </connector>
            <label>Venta de inmueble</label>
        </rules>
        <rules>
            <name>Entrega_a_cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrega a cuenta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_Entrega_a_Cuenta</targetReference>
            </connector>
            <label>Entrega a cuenta</label>
        </rules>
        <rules>
            <name>Mejoras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejoras</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_Mejoras</targetReference>
            </connector>
            <label>Mejoras</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_de_linea_1</name>
        <label>Que tipo de línea 1</label>
        <locationX>520</locationX>
        <locationY>1192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reserva_de_inmueble_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea_1.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva de Inmueble</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_reserva_inmueble_1</targetReference>
            </connector>
            <label>Reserva de inmueble 1</label>
        </rules>
        <rules>
            <name>Venta_de_inmueble_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea_1.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta de Inmueble</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Venta_inmueble_1</targetReference>
            </connector>
            <label>Venta de inmueble 1</label>
        </rules>
        <rules>
            <name>Entrega_a_cuenta_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea_1.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrega a cuenta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_Entrega_a_Cuenta_1</targetReference>
            </connector>
            <label>Entrega a cuenta 1</label>
        </rules>
        <rules>
            <name>Mejoras_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_linea_1.Tipo_de_linea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mejoras</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_Mejoras_1</targetReference>
            </connector>
            <label>Mejoras 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_encontrado_factura_de_Reserva_Cobrada</name>
        <label>¿Se ha encontrado factura de Reserva Cobrada?</label>
        <locationX>2965</locationX>
        <locationY>722</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_Factura_Cobrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDFacturaReserva</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreaFacturaAbonoReserva</targetReference>
            </connector>
            <label>Hay_Factura_Cobrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_encontrado_factura_de_Reserva_Cobrada_0</name>
        <label>¿Se ha encontrado factura de Reserva Cobrada?</label>
        <locationX>2788</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>For_Each_Participante_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_Factura_Cobrada_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDFacturaReserva</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreaFacturaAbonoReserva_0</targetReference>
            </connector>
            <label>Hay_Factura_Cobrada</label>
        </rules>
    </decisions>
    <description>V13: Corrección importe negativo linea de factura &quot;Mejoras&quot;</description>
    <formulas>
        <name>AnadeImporteFacturaCobrada</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteTotalCobradoContrato} + {!FacturaCobradaX.Importe__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AnadeNumeroFactura</name>
        <dataType>String</dataType>
        <expression>{!Numerosdefacturas}  + {!FacturaCobradaX.Numero_de_factura__c}+ &quot;, &quot;</expression>
    </formulas>
    <formulas>
        <name>AnadeNumeroFacturaPuntoComa</name>
        <dataType>String</dataType>
        <expression>{!NumerodefacturasPuntoComa} + {!FacturaCobradaX.Numero_de_factura__c}+ &quot;; &quot;</expression>
    </formulas>
    <formulas>
        <name>ImporteConPenalizacion</name>
        <dataType>Number</dataType>
        <expression>-1* (100 - {!PorcentajePenalizacionContrato}) *{!ImporteTotalCobradoContrato} /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteEntregaCuentaConPenalizacion</name>
        <dataType>Number</dataType>
        <expression>-1* (100 - {!PorcentajePenalizacionContrato}) *{!ImporteEntregaCuenta} /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Fórmula para calcular el importe negativo de la linea de factura de Mejoras</description>
        <name>ImporteMejorasNegativa</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteMejoras} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteReservaCorrespondiente</name>
        <dataType>Currency</dataType>
        <expression>IF ( {!TipodeReserva} = &quot;Reserva con IVA&quot;,
(-1* (100 - {!PorcentajePenalizacionReserva})*{!ImporteReservaCompleto}/100 ),
(-1* {!ImporteReservaCompleto})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteReservaInmuebleConPenalizacion</name>
        <dataType>Number</dataType>
        <expression>-1* (100 - {!PorcentajePenalizacionContrato}) *{!ImporteReservaInmueble} /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImporteVentaInmuebleConPenalizacion</name>
        <dataType>Number</dataType>
        <expression>-1* (100 - {!PorcentajePenalizacionContrato}) *{!ImporteVentaInmueble} /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IVA</name>
        <dataType>Number</dataType>
        <expression>IF ( {!TipodeReserva}= &quot;Reserva con IVA&quot;,
{!PorcentajeIVA} ,
0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NombreCancelacionReserva</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;RECTIFICACIÓN FACTURA NUMERO:  &quot; + {!NumeroFacturaReserva} + &quot;. Anulación de compra de &quot; +  {!DecripOportunidad},150)</expression>
    </formulas>
    <formulas>
        <name>NombreLineaCancelacionContrato</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;RECTIFICACIÓN FACTURAS NUMEROS:  &quot; + {!Numerosdefacturas} + &quot;. Anulación de compra de &quot; + {!DecripOportunidad},150)</expression>
    </formulas>
    <formulas>
        <name>ReferenciaAbonoFactura</name>
        <dataType>String</dataType>
        <expression>{!IdOportunidad} + &quot;-&quot; +  {!CodigoSociedad} + &quot;-09&quot;</expression>
    </formulas>
    <formulas>
        <name>TipoFactura</name>
        <dataType>String</dataType>
        <expression>IF ({!TipodeReserva}= &quot;Reserva con IVA&quot;,
&quot;RESERVAS&quot; ,
&quot;DEPOSITOS&quot;
)</expression>
    </formulas>
    <interviewLabel>Factura Rectificativa y lineas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factura Rectificativa y lineas</label>
    <loops>
        <name>For_Each_Participante</name>
        <label>For Each Participante</label>
        <locationX>1702</locationX>
        <locationY>1023</locationY>
        <assignNextValueToReference>Participante</assignNextValueToReference>
        <collectionReference>Participantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Variables_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LineasFacturaGeneradas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Participante_0</name>
        <label>For Each Participante</label>
        <locationX>2551</locationX>
        <locationY>927</locationY>
        <assignNextValueToReference>Participante</assignNextValueToReference>
        <collectionReference>Participantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Buscar_la_Reserva_Cobrada_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>NumeroLinea</name>
        <label>Numero de Linea</label>
        <locationX>450</locationX>
        <locationY>862</locationY>
        <collectionReference>LineasFacturaGeneradas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContadorNumeroLineas</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Tipo_de_linea</name>
        <label>Tipo de linea</label>
        <locationX>1537</locationX>
        <locationY>563</locationY>
        <collectionReference>VariableLineaReservaInmueble</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Que_tipo_de_linea</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Variable_de_Facturas_Cobradas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Tipo_de_linea_1</name>
        <label>Tipo de línea 1</label>
        <locationX>1103</locationX>
        <locationY>1250</locationY>
        <collectionReference>VariableLineaReservaInmueble</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Que_tipo_de_linea_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Variable_de_Facturas_Cobradas_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Variable_de_Facturas_Cobradas</name>
        <label>Variable de Facturas Cobradas</label>
        <locationX>1695</locationX>
        <locationY>802</locationY>
        <assignNextValueToReference>FacturaCobradaX</assignNextValueToReference>
        <collectionReference>VariableFacturasCobradas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hay_facturas_Cobradas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Variable_de_Facturas_Cobradas_0</name>
        <label>Variable de Facturas Cobradas</label>
        <locationX>1331</locationX>
        <locationY>1506</locationY>
        <assignNextValueToReference>FacturaCobradaX</assignNextValueToReference>
        <collectionReference>VariableFacturasCobradas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Variables_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hay_facturas_Cobradas_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Abono_tras_cancelacion_Contrato</name>
        <label>Abono tras cancelacion ContratoCV</label>
        <locationX>1179</locationX>
        <locationY>815</locationY>
        <assignRecordIdToReference>IdFacturaAbonoCV</assignRecordIdToReference>
        <connector>
            <targetReference>Hay_linea_Entrega_a_Cuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>PorcentajeIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaRectificada__c</field>
            <value>
                <elementReference>NumerodefacturasPuntoComa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Abonos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaAbonoFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>FACTURA RECTIFICATIVA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Abono_tras_cancelacion_Contrato_0</name>
        <label>Abono tras cancelacion ContratoCV</label>
        <locationX>1731</locationX>
        <locationY>1565</locationY>
        <assignRecordIdToReference>IdFacturaAbonoCV</assignRecordIdToReference>
        <connector>
            <targetReference>Hay_linea_Entrega_a_Cuenta_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Participante.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>PorcentajeIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaRectificada__c</field>
            <value>
                <elementReference>NumerodefacturasPuntoComa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Abonos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaAbonoFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>FACTURA RECTIFICATIVA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreaFacturaAbonoReserva</name>
        <label>CreaFacturaAbonoReserva</label>
        <locationX>3234</locationX>
        <locationY>718</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>ObtenemosTipoLinea</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>NombreCancelacionReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaRectificada__c</field>
            <value>
                <elementReference>NumeroFacturaReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReservaCorrespondiente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Abonos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaAbonoFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>FACTURA RECTIFICATIVA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreaFacturaAbonoReserva_0</name>
        <label>CreaFacturaAbonoReserva</label>
        <locationX>2796</locationX>
        <locationY>1368</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>ObtenemosTipoLinea_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>Participante.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <elementReference>IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>NombreCancelacionReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Pendiente de emisión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FacturaRectificada__c</field>
            <value>
                <elementReference>NumeroFacturaReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReservaCorrespondiente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Metodo_de_cobro__c</field>
            <value>
                <stringValue>TRANSFERENCIA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura de Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Abonos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaAbonoFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <stringValue>FACTURA RECTIFICATIVA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Abono</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Entrega</name>
        <label>Crear línea Entrega</label>
        <locationX>700</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Linea_not_null_Inmueble</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteEntregaCuentaConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Entrega_2</name>
        <label>Crear línea Entrega 2</label>
        <locationX>2280</locationX>
        <locationY>1566</locationY>
        <connector>
            <targetReference>Linea_not_null_Reserva_Inmueble_2</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteEntregaCuentaConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Entrega a cuenta</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Inmueble</name>
        <label>Crear línea Inmueble</label>
        <locationX>1067</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>HayLneaVentaInmueble</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReservaInmuebleConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Reserva de Inmueble</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Inmueble_2</name>
        <label>Crear línea Inmueble 2</label>
        <locationX>2268</locationX>
        <locationY>1195</locationY>
        <connector>
            <targetReference>Linea_not_null_Venta_2</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReservaInmuebleConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Reserva de Inmueble</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Mejoras</name>
        <label>Crear línea Mejoras</label>
        <locationX>99</locationX>
        <locationY>472</locationY>
        <connector>
            <targetReference>LineasFacturaGeneradas</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteMejorasNegativa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Linea_Mejoras_1</name>
        <label>Crear Línea Mejoras 1</label>
        <locationX>2058</locationX>
        <locationY>1086</locationY>
        <connector>
            <targetReference>For_Each_Participante</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteMejorasNegativa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Venta</name>
        <label>Crear línea Venta</label>
        <locationX>506</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>HayLineaMejoras</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteVentaInmuebleConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Venta de Inmueble</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_linea_Venta_2</name>
        <label>Crear línea Venta 2</label>
        <locationX>1806</locationX>
        <locationY>1362</locationY>
        <connector>
            <targetReference>Linea_not_null_Mejoras_1</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaCancelacionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteVentaInmuebleConPenalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelacion Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <stringValue>Venta de Inmueble</stringValue>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>CrearLineaFactura</name>
        <label>CrearLineaFactura</label>
        <locationX>3638</locationX>
        <locationY>718</locationY>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreCancelacionReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReservaCorrespondiente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelación Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <elementReference>TipoLineaFactura</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>CrearLineaFactura_0</name>
        <label>CrearLineaFactura</label>
        <locationX>2550</locationX>
        <locationY>1149</locationY>
        <connector>
            <targetReference>For_Each_Participante_0</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreCancelacionReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteReservaCorrespondiente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Abono Cancelación Reserva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <elementReference>TipoLineaFactura</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Facturas_Cobradas</name>
        <label>Buscar Facturas Cobradas</label>
        <locationX>1832</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variable_de_Facturas_Cobradas</targetReference>
        </connector>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DEPOSITOS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <filters>
            <field>SecuencialFactura__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>APORTACIONES CAPITAL</stringValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputReference>VariableFacturasCobradas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Numero_de_factura__c</queriedFields>
        <queriedFields>Importe__c</queriedFields>
        <queriedFields>Tipo_de_linea__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Facturas_Cobradas_0</name>
        <label>Buscar Facturas Cobradas</label>
        <locationX>1371</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variable_de_Facturas_Cobradas_0</targetReference>
        </connector>
        <filters>
            <field>Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Participante.Cliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DEPOSITOS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <filters>
            <field>SecuencialFactura__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>APORTACIONES CAPITAL</stringValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputReference>VariableFacturasCobradas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Numero_de_factura__c</queriedFields>
        <queriedFields>Importe__c</queriedFields>
        <queriedFields>Tipo_de_linea__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_la_Reserva_Cobrada</name>
        <label>Buscar la Reserva &quot;Cobrada&quot;</label>
        <locationX>2806</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_ha_encontrado_factura_de_Reserva_Cobrada</targetReference>
        </connector>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoFactura</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <filters>
            <field>SecuencialFactura__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputAssignments>
            <assignToReference>IDFacturaReserva</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteReservaCompleto</assignToReference>
            <field>Importe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroFacturaReserva</assignToReference>
            <field>Numero_de_factura__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_la_Reserva_Cobrada_0</name>
        <label>Buscar la Reserva &quot;Cobrada&quot;</label>
        <locationX>2797</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_ha_encontrado_factura_de_Reserva_Cobrada_0</targetReference>
        </connector>
        <filters>
            <field>Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Participante.Cliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoFactura</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_factura__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <filters>
            <field>SecuencialFactura__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <outputAssignments>
            <assignToReference>IDFacturaReserva</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteReservaCompleto</assignToReference>
            <field>Importe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroFacturaReserva</assignToReference>
            <field>Numero_de_factura__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Datos_Oportunidad</name>
        <label>Datos Oportunidad</label>
        <locationX>2370</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Era_Reserva</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdCliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImporteAcumulado</assignToReference>
            <field>Acumulado_de_Importe_Pagado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DecripOportunidad</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FacturacionPorSeparado</assignToReference>
            <field>Facturacion_por_separado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PorcentajePenalizacionContrato</assignToReference>
            <field>Penalizacion_Contrato__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PorcentajePenalizacionReserva</assignToReference>
            <field>Penalizacion_Reserva__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PorcentajeIVA</assignToReference>
            <field>Porcentaje_IVA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipodeReserva</assignToReference>
            <field>Tipo_de_Reserva__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Datos_Participantes</name>
        <label>Datos Participantes</label>
        <locationX>2020</locationX>
        <locationY>942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Participante</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>Participantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
        <queriedFields>Porcentaje_de_participacion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Datos_Participantes_0</name>
        <label>Datos Participantes</label>
        <locationX>2365</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Participante_0</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>Participantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
        <queriedFields>Porcentaje_de_participacion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Recuperamos líneas Reserva de Inmueble</description>
        <name>Linea_Reserva_Inmueble</name>
        <label>Línea Reserva de Inmueble</label>
        <locationX>1261</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_linea</targetReference>
        </connector>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacturaCobradaX.Id</elementReference>
            </value>
        </filters>
        <object>Linea_de_factura__c</object>
        <outputReference>VariableLineaReservaInmueble</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Importe__c</queriedFields>
        <queriedFields>Tipo_de_linea__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Factura__c</queriedFields>
        <queriedFields>DescripcionLinea__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LineasFacturaGeneradas</name>
        <label>Lineas de Factura Generadas</label>
        <locationX>583</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NumeroLinea</targetReference>
        </connector>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdFacturaAbonoCV</elementReference>
            </value>
        </filters>
        <object>Linea_de_factura__c</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el tipo de línea de la factura a partir de su ID.</description>
        <name>ObtenemosTipoLinea</name>
        <label>Obtenemos el Tipo de línea</label>
        <locationX>3439</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearLineaFactura</targetReference>
        </connector>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDFacturaReserva</elementReference>
            </value>
        </filters>
        <object>Linea_de_factura__c</object>
        <outputAssignments>
            <assignToReference>TipoLineaFactura</assignToReference>
            <field>Tipo_de_linea__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el tipo de línea de la factura a partir de su ID.</description>
        <name>ObtenemosTipoLinea_0_0_0_0</name>
        <label>Obtenemos el Tipo de línea</label>
        <locationX>2549</locationX>
        <locationY>1366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearLineaFactura_0</targetReference>
        </connector>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDFacturaReserva</elementReference>
            </value>
        </filters>
        <object>Linea_de_factura__c</object>
        <outputAssignments>
            <assignToReference>TipoLineaFactura</assignToReference>
            <field>Tipo_de_linea__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Reserva_Immueble_Linea</name>
        <label>Reserva Immueble Línea</label>
        <locationX>1020</locationX>
        <locationY>1389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_linea_1</targetReference>
        </connector>
        <filters>
            <field>Factura__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacturaCobradaX.Id</elementReference>
            </value>
        </filters>
        <object>Linea_de_factura__c</object>
        <outputReference>VariableLineaReservaInmueble</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Importe__c</queriedFields>
        <queriedFields>Tipo_de_linea__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Factura__c</queriedFields>
        <queriedFields>DescripcionLinea__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AsignarNumeroLinea</name>
        <label>Asignar Número de Línea</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>NumeroLinea</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NumeroLinea.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <elementReference>ContadorNumeroLinea</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordUpdates>
    <startElementReference>Datos_Oportunidad</startElementReference>
    <status>Active</status>
    <variables>
        <name>CodigoSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContadorNumeroLinea</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DecripOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstadoAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacturacionPorSeparado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FacturaCobradaX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>IdCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFacturaAbonoCV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFacturaNuevaLinea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea.Factura__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdFacturaNuevaLinea1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea_1.Factura__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IDFacturaReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdVariableEntregaCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea.Tipo_de_linea__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable de texto para almacenar el id de tipo de linea &quot;Mejoras&quot;</description>
        <name>IdVariableMejoras</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea.Tipo_de_linea__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdVariableReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea.Tipo_de_linea__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdVariableVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea.Tipo_de_linea__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdVariableVenta1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Tipo_de_linea_1.Tipo_de_linea__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ImporteAcumulado</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteAcumuladoLinea</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteEntregaCuenta</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteMejoras</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteReservaCompleto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteReservaInmueble</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ImporteTotalCobradoContrato</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ImporteVentaInmueble</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Almacena el id de la línea de factura vinculada a una factura concreta.</description>
        <name>LineaFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumerodefacturasPuntoComa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroFacturaReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Numerosdefacturas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Participante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>Participantes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>PorcentajeIVA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PorcentajePenalizacionContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PorcentajePenalizacionReserva</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TipodeReserva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el tipo de línea de una factura.</description>
        <name>TipoLineaFactura</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableFacturasCobradas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <name>VariableLineaReservaInmueble</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
</Flow>
