force-app/main/default/flows/Factura_Triggered_AfetInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Comprobar si el estado de la factura es Cobrada y el tipo que tiene.</description>
        <name>Decision_Estado</name>
        <label>Decision_Estado</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Estado_CobradaReservaDeposito</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_la_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_la_factura__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESERVAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEPOSITOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_ActualizaEstadoOportunidad</targetReference>
            </connector>
            <label>Estado_CobradaReservaDeposito</label>
        </rules>
        <rules>
            <name>Estado_CobradaProforma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_la_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cobrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_la_factura__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENTREGAS A CUENTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pago_o_Cuota__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proforma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_ActualizaEstadoOportunidad_01</targetReference>
            </connector>
            <label>Estado_CobradaProforma</label>
        </rules>
        <rules>
            <name>Estado_ConciliadaSF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_la_factura__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conciliada SF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_la_factura__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Factura_Fechas</targetReference>
            </connector>
            <label>Estado_ConciliadaSF</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si se ha rellenado el campo Numero de Factura y que el campo Factura Rectificada no es blanco.</description>
        <name>Decision_NumeroFacturaRellenado</name>
        <label>Decision_NumeroFacturaRellenado</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_Estado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NumeroFacturaRellenado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_NumeroFacturaRellenado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Factura_FacturaRectificada</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Flujo del objeto Factura que se lanza cuando se crea o se modifica una factura.</description>
    <formulas>
        <description>Formula que contiene el nuevo valor del campo Factura rectificada.</description>
        <name>For_NumeroFacturaMasFacturaRectivada</name>
        <dataType>String</dataType>
        <expression>{!$Record.Numero_de_factura__c} &amp; &quot;, &quot; &amp; {!$Record.FacturaRectificada__c}</expression>
    </formulas>
    <formulas>
        <description>formula que devuelve verdadero si el campo Numero Factura se ha rellenado y el campo Factura rectificada es blanco.</description>
        <name>for_NumeroFacturaRellenado</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.FacturaRectificada__c})),ISBLANK({!$Record__Prior.Numero_de_factura__c}),NOT(ISBLANK({!$Record.Numero_de_factura__c})))</expression>
    </formulas>
    <interviewLabel>Factura_Triggered_AfetInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factura_Triggered_Afet Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar el campo Factura rectificada.</description>
        <name>Update_Factura_FacturaRectificada</name>
        <label>Update_Factura_FacturaRectificada</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Decision_Estado</targetReference>
        </connector>
        <inputAssignments>
            <field>FacturaRectificada__c</field>
            <value>
                <elementReference>For_NumeroFacturaMasFacturaRectivada</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar las fechas Contable y Factura de la Factura.</description>
        <name>Update_Factura_Fechas</name>
        <label>Update_Factura_Fechas</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Fecha_Contable__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_emision__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision_NumeroFacturaRellenado</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Lanzar el subflujo &quot;Actualiza estado de la oportunidad si facturas estan cobradas&quot; para actualizar el estado de la oportunidad relacionada a la Factura.</description>
        <name>Subflow_ActualizaEstadoOportunidad</name>
        <label>Subflow_ActualizaEstadoOportunidad</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <flowName>Actualiza_estado_de_la_oportunidad_si_facturas_estan_cobradas</flowName>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Tipo</name>
            <value>
                <elementReference>$Record.Tipo_de_factura__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Lanzar el subflujo &quot;Actualiza estado de la oportunidad si facturas estan cobradas&quot; para actualizar el estado de la oportunidad relacionada a la Factura.</description>
        <name>Subflow_ActualizaEstadoOportunidad_01</name>
        <label>Subflow_ActualizaEstadoOportunidad</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <flowName>Actualiza_estado_de_la_oportunidad_si_facturas_estan_cobradas</flowName>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Tipo</name>
            <value>
                <elementReference>$Record.Tipo_de_factura__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
