force-app/main/default/flows/FacturasDevueltasImpagadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Impagado</name>
        <label>Impagado</label>
        <locationX>316</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Impagada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FacturaImpagada</targetReference>
            </connector>
            <label>Impagada</label>
        </rules>
        <rules>
            <name>Cobrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FacturaCobrada</targetReference>
            </connector>
            <label>Cobrada</label>
        </rules>
    </decisions>
    <formulas>
        <name>RestaDivisa</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.OportunidadVinculada__r.TotalFacturaDevueltasImpagadas__c} - {!$Record__Prior.Importe_pendiente__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumaDivisa</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.OportunidadVinculada__r.TotalFacturaDevueltasImpagadas__c} + {!$Record.Importe_pendiente__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Facturas Devueltas Impagadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facturas Devueltas Impagadas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>FacturaCobrada</name>
        <label>Factura Cobrada</label>
        <locationX>540</locationX>
        <locationY>442</locationY>
        <connector>
            <targetReference>RestaDivisaImpagado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Factura__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ImpagoAsociado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>FacturaImpagada</name>
        <label>Factura Impagada</label>
        <locationX>538</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>SumaDivisaImpagado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Factura__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ImpagoAsociado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>OportunidadVinculada</name>
        <label>Oportunidad vinculada</label>
        <locationX>176</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Impagado</targetReference>
        </connector>
        <inputAssignments>
            <field>OportunidadVinculada__c</field>
            <value>
                <elementReference>$Record.Factura__r.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RestaDivisaImpagado</name>
        <label>Resta Divisa Impagado</label>
        <locationX>683</locationX>
        <locationY>441</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OportunidadVinculada__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalFacturaDevueltasImpagadas__c</field>
            <value>
                <elementReference>RestaDivisa</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>SumaDivisaImpagado</name>
        <label>Suma Divisa Impagado</label>
        <locationX>691</locationX>
        <locationY>275</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OportunidadVinculada__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalFacturaDevueltasImpagadas__c</field>
            <value>
                <elementReference>SumaDivisa</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>OportunidadVinculada</startElementReference>
    <status>Active</status>
</Flow>
