force-app/main/default/flows/FacturaAportacionCapitalYLineas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>GenerarLaFactura</name>
        <label>¿Generar la factura?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HayQueGenerarLaFactura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GenerarFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExisteFactura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FacturaAportacionCapital</targetReference>
            </connector>
            <label>Hay que generar la factura</label>
        </rules>
    </decisions>
    <description>nos basamos en el flow Factura Reserva. El proceso debe seguir la misma lógica y estructura. A continuación se especificará el valor que deben tomar ciertos campos en la creación de la factura y de las líneas. Los no especificados, permanecen con la lógica del flow Factura Reserva</description>
    <formulas>
        <name>DescripcionFactura</name>
        <dataType>String</dataType>
        <expression>&quot;Aportación capital de &quot; + {!DescripcionOportunidad}</expression>
    </formulas>
    <formulas>
        <name>NombreLinea</name>
        <dataType>String</dataType>
        <expression>LEFT({!DescripcionOportunidad},80)</expression>
    </formulas>
    <formulas>
        <name>NombreLineaDescripcion</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;Aportación capital de &quot; + {!DescripcionOportunidad},150)</expression>
    </formulas>
    <formulas>
        <name>ReferenciaCompleta</name>
        <dataType>String</dataType>
        <expression>
{!IdOportunidad} + &quot;-&quot; + {!CodigoSociedad} + &quot;-&quot; +&quot;06&quot;</expression>
    </formulas>
    <formulas>
        <name>TipoDeFactura</name>
        <dataType>String</dataType>
        <expression>&quot;APORTACIONES CAPITAL&quot;</expression>
    </formulas>
    <formulas>
        <name>TipoDeLinea</name>
        <dataType>String</dataType>
        <expression>&quot;Aportaciones Capital&quot;</expression>
    </formulas>
    <interviewLabel>Factura Aportación capital y líneas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factura Aportación capital y líneas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CrearLineaFactura</name>
        <label>CrearLineaFactura</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Existe_Factura</targetReference>
        </connector>
        <inputAssignments>
            <field>DescripcionLinea__c</field>
            <value>
                <elementReference>NombreLineaDescripcion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Factura__c</field>
            <value>
                <elementReference>IdFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteAportacionCapital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreLinea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_linea__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_linea__c</field>
            <value>
                <elementReference>TipoDeLinea</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_factura__c</object>
    </recordCreates>
    <recordCreates>
        <name>FacturaAportacionCapital</name>
        <label>Factura Aportación Capital</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>IdFactura</assignRecordIdToReference>
        <connector>
            <targetReference>CrearLineaFactura</targetReference>
        </connector>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>IdCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Impuesto__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concepto__c</field>
            <value>
                <elementReference>ConceptoTransferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condicion_Cobro__c</field>
            <value>
                <stringValue>Contado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>DescripcionFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_factura__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>ImporteAportacionCapital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Factura Aportación Capital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Aportación capital</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_o_Cuota__c</field>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia__c</field>
            <value>
                <elementReference>ReferenciaCompleta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sociedad__c</field>
            <value>
                <elementReference>IdSociedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_factura__c</field>
            <value>
                <elementReference>TipoDeFactura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia__c</field>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </inputAssignments>
        <object>Factura__c</object>
    </recordCreates>
    <recordLookups>
        <name>DatosDeOportunidad</name>
        <label>Datos de Oportunidad</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPromociones</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdCliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConceptoTransferencia</assignToReference>
            <field>Concepto_transferencia__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DescripcionOportunidad</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExisteFactura</assignToReference>
            <field>ExisteFacturaAportacionCapital__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GenerarFactura</assignToReference>
            <field>Generar_Facturas_de_Clientes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPromocion</assignToReference>
            <field>Promocion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPromociones</name>
        <label>Get Promociones</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GenerarLaFactura</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPromocion</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputAssignments>
            <assignToReference>ImporteAportacionCapital</assignToReference>
            <field>ImporteAportacionCapital__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existe_Factura</name>
        <label>Update Existe Factura</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExisteFacturaAportacionCapital__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaAportacionCapital__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>DatosDeOportunidad</startElementReference>
    <status>Active</status>
    <variables>
        <name>CodigoSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConceptoTransferencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescripcionOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GenerarFactura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdFactura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSociedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteAportacionCapital</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
