force-app/main/default/flows/FacturarPorSeparado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ContadorParticipantes</name>
        <label>Contador Participantes</label>
        <locationX>723</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContadorParticipantesCompletos</name>
        <label>Contador Participantes Completos</label>
        <locationX>998</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>ParticipanteCompleto</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerParticipantes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CampoRegimenRelleno</name>
        <label>Campo regimen relleno</label>
        <locationX>1281</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>RecorrerParticipantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Relleno</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerParticipantes.Cliente__r.Estado_Civil__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casado/a</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorrerParticipantes.Cliente__r.Regimen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorrerParticipantes.Cliente__r.Estado_Civil__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Casado/a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContadorParticipantesCompletos</targetReference>
            </connector>
            <label>Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>EstadoCivilRelleno</name>
        <label>Estado Civil Relleno</label>
        <locationX>1097</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>RecorrerParticipantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiRelleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerParticipantes.Cliente__r.Estado_Civil__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampoRegimenRelleno</targetReference>
            </connector>
            <label>Si Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>MasDeUno</name>
        <label>Mas de un participante y completo</label>
        <locationX>290</locationX>
        <locationY>608</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MasUnoCompleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ParticipanteCompleto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FacturarSeparadoCompleto</targetReference>
            </connector>
            <label>Mas de uno y completo</label>
        </rules>
        <rules>
            <name>MasUnoNoCompleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ParticipanteCompleto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FacturarSeparadoNoCompleto</targetReference>
            </connector>
            <label>Mas de uno y no completo</label>
        </rules>
        <rules>
            <name>MenosUnoCompleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ParticipanteCompleto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoFacturarSeparadoCompleto</targetReference>
            </connector>
            <label>Menos de uno y completo</label>
        </rules>
        <rules>
            <name>MenosUnoNoCompleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ParticipanteCompleto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoFacturarPorSeparadoNoCompleto</targetReference>
            </connector>
            <label>Menos de uno y no completo</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoCuenta</name>
        <label>Tipo de Cuenta</label>
        <locationX>892</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>ContadorParticipantesCompletos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PersonAccount</defaultConnectorLabel>
        <rules>
            <name>PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerParticipantes.Cliente__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstadoCivilRelleno</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
    </decisions>
    <interviewLabel>Facturar por separadp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facturar por separado</label>
    <loops>
        <name>RecorrerParticipantes</name>
        <label>Recorrer Participantes</label>
        <locationX>538</locationX>
        <locationY>392</locationY>
        <collectionReference>NumParticipantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContadorParticipantes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MasDeUno</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OportunidadParticipante</name>
        <label>Oportunidad del participante</label>
        <locationX>234</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participantes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>Participantes</name>
        <label>Participantes</label>
        <locationX>389</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerParticipantes</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <object>Participante__c</object>
        <outputReference>NumParticipantes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Cliente__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FacturarSeparadoCompleto</name>
        <label>Facturar por Separado y Completo</label>
        <locationX>501</locationX>
        <locationY>712</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facturacion_por_separado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacionParticipante__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>FacturarSeparadoNoCompleto</name>
        <label>Facturar Por Separado y No Completo</label>
        <locationX>432</locationX>
        <locationY>951</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facturacion_por_separado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacionParticipante__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>NoFacturarPorSeparadoNoCompleto</name>
        <label>No Facturar Por Separado y No Completo</label>
        <locationX>50</locationX>
        <locationY>691</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facturacion_por_separado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacionParticipante__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>NoFacturarSeparadoCompleto</name>
        <label>No Facturar Por Separado y Completo</label>
        <locationX>175</locationX>
        <locationY>941</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facturacion_por_separado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacionParticipante__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>OportunidadParticipante</startElementReference>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumParticipantes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <name>ParticipanteCompleto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
