force-app/main/default/flows/InformacionCompletaParticipanteContacto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AdministradorRepresentanteLegal</name>
        <label>Administrador y Representante Legal</label>
        <locationX>677</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>CuentaApoderado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrador y Representante Legal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoDireccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adminitrador</name>
        <label>Adminitrador</label>
        <locationX>679</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>CuentaApoderado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrador</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoDireccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NiAdministradorNiRepresentanteLegal</name>
        <label>Ni Administrador Ni Representante legal</label>
        <locationX>686</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>CuentaApoderado</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>TipoDireccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombreDocumento</name>
        <label>Nombre y documento</label>
        <locationX>1274</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CuentaContacto.NombreContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreCuentaContacto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.DocumentoIdentificativoContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.N_Documento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Nacionalidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nacionalidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Lugar_del_registro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lugar_de_notaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Fecha_de_Escritura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Escritura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Nombre_del_notario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nombre_notario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Numero_protocolo_contacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Numero_de_protocolo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Apoderado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CuentaApoderado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RepresentanteLegal</name>
        <label>Representante</label>
        <locationX>675</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CuentaApoderado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Representante Legal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoDireccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCuentaEspanola</name>
        <label>Update Cuenta Española</label>
        <locationX>1273</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>CuentaContacto.DomicilioContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Domicilio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.NombreContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreCuentaContacto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.DocumentoIdentificativoContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.N_Documento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Nacionalidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nacionalidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Lugar_del_registro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lugar_de_notaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Fecha_de_Escritura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Escritura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Nombre_del_notario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nombre_notario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Numero_protocolo_contacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Numero_de_protocolo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Apoderado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CuentaApoderado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCuentaExtranjera</name>
        <label>Update Cuenta Extranjera</label>
        <locationX>1285</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>CuentaContacto.DomicilioContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DomicilioExtranjero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.NombreContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreCuentaContacto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.DocumentoIdentificativoContacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.N_Documento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Nacionalidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nacionalidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Lugar_del_registro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lugar_de_notaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Fecha_de_Escritura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Escritura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Nombre_del_notario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nombre_notario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Numero_protocolo_contacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Numero_de_protocolo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaContacto.Apoderado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CuentaApoderado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCuenta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AdministradorRepresentante</name>
        <label>Administrador o Representante?</label>
        <locationX>374</locationX>
        <locationY>526</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Administrador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Administrador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Representante_legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adminitrador</targetReference>
            </connector>
            <label>Administrador</label>
        </rules>
        <rules>
            <name>Representante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Representante_legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Administrador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RepresentanteLegal</targetReference>
            </connector>
            <label>Representante</label>
        </rules>
        <rules>
            <name>AdministradorYRepresentante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Administrador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Representante_legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdministradorRepresentanteLegal</targetReference>
            </connector>
            <label>Administrador y Representante</label>
        </rules>
        <rules>
            <name>NOAdministradorNORepresentantelegal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Administrador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Representante_legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NiAdministradorNiRepresentanteLegal</targetReference>
            </connector>
            <label>NO Administrador NO Representante legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoDireccion</name>
        <label>Tipo de dirección</label>
        <locationX>967</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>NombreDocumento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Extranjera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Extranjera_contacto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactoPrincipal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CuentaContacto.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCuentaExtranjera</targetReference>
            </connector>
            <label>Extranjera</label>
        </rules>
        <rules>
            <name>Espanola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactoPrincipal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nombre_via__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CuentaContacto.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCuentaEspanola</targetReference>
            </connector>
            <label>Española</label>
        </rules>
    </decisions>
    <formulas>
        <name>Domicilio</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Tipo_via__c}) + &quot; &quot; + {!$Record.Nombre_via__c} + &apos; número &apos; + {!$Record.NumeroViaText__c} + &apos;, CP &apos; + {!$Record.Codigo_postal__c} + &apos;,&apos; + &quot; &quot; + {!$Record.Localidad__r.Name} + &apos;,&apos;+ &quot; &quot; + {!$Record.Localidad__r.Provincia__r.Name} + &apos;,&apos; + &quot; &quot; + {!$Record.Pais__r.Name}</expression>
    </formulas>
    <formulas>
        <name>DomicilioExtranjero</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Tipo_via__c}) + &quot; &quot; + {!$Record.Direccion_Extranjera_contacto__c} + &apos;,&apos; + &quot; &quot; + {!$Record.Localidad_Extranjera_contacto__c} + &apos;,&apos; + &quot; &quot; + {!$Record.Pais__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NombreCuentaContacto</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Informacion completa del participante Contacto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contacto - informar datos en la cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CuentaContacto</name>
        <label>Cuenta Contacto</label>
        <locationX>178</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdministradorRepresentante</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCuenta</name>
        <label>Update Cuenta</label>
        <locationX>1586</locationX>
        <locationY>524</locationY>
        <inputReference>CuentaContacto</inputReference>
    </recordUpdates>
    <startElementReference>CuentaContacto</startElementReference>
    <status>Active</status>
    <variables>
        <name>CounterParticipantes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CuentaApoderado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstadoCivil</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantesCompletos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Regimen</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
