force-app/main/default/flows/InformacionCompletaParticipante.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NumeroParticipantes</name>
        <label>Numero participantes</label>
        <locationX>1335</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>CounterParticipantes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParticipanteCompleto</name>
        <label>Participante Completo</label>
        <locationX>1591</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>ParticipantesCompletos</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerParticipantesOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetCounter</name>
        <label>Reset counter</label>
        <locationX>662</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>CounterParticipantes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantesCompletos</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OportunidadParticipante</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CambiaNombre</name>
        <label>Cambia el Nombre</label>
        <locationX>468</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>ResetCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateName</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CampoRegimenRelleno</name>
        <label>Campo Regimen Relleno</label>
        <locationX>1869</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>RecorrerParticipantesOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Relleno</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerParticipantesOportunidad.Cliente__r.Estado_Civil__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casado/a</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorrerParticipantesOportunidad.Cliente__r.Regimen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorrerParticipantesOportunidad.Cliente__r.Estado_Civil__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Casado/a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParticipanteCompleto</targetReference>
            </connector>
            <label>Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>EstadoCivilRelleno</name>
        <label>Estado Civil Relleno</label>
        <locationX>1676</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>RecorrerParticipantesOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiRelleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerParticipantesOportunidad.Cliente__r.Estado_Civil__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampoRegimenRelleno</targetReference>
            </connector>
            <label>Si Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>InformacionCompleta</name>
        <label>Informacion completa</label>
        <locationX>925</locationX>
        <locationY>569</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Completo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterParticipantes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ParticipantesCompletos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletoParticipante</targetReference>
            </connector>
            <label>Completo</label>
        </rules>
        <rules>
            <name>No_Completo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterParticipantes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ParticipantesCompletos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCompletoParticipante</targetReference>
            </connector>
            <label>No Completo</label>
        </rules>
    </decisions>
    <decisions>
        <name>TieneParticipantes</name>
        <label>Tiene participantes</label>
        <locationX>297</locationX>
        <locationY>585</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Participante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParticipantesCuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecorrerParticipantes</targetReference>
            </connector>
            <label>Participante</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoCuenta</name>
        <label>Tipo de cuenta</label>
        <locationX>1454</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>ParticipanteCompleto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PersonAccount</defaultConnectorLabel>
        <rules>
            <name>PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerParticipantesOportunidad.Cliente__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstadoCivilRelleno</targetReference>
            </connector>
            <label>PersonAccount</label>
        </rules>
    </decisions>
    <formulas>
        <name>NombreCuenta</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &apos; &apos; + {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Informacion completa participante {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Informacion completa del participante</label>
    <loops>
        <name>RecorrerParticipantes</name>
        <label>Recorrer Participantes</label>
        <locationX>475</locationX>
        <locationY>580</locationY>
        <collectionReference>ParticipantesCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CambiaNombre</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>RecorrerParticipantesOportunidad</name>
        <label>Recorrer Participantes Oportunidad</label>
        <locationX>1093</locationX>
        <locationY>366</locationY>
        <collectionReference>ParticipantesOportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NumeroParticipantes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InformacionCompleta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OportunidadParticipante</name>
        <label>Oportunidad de cada participante</label>
        <locationX>797</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ParticipantesOportunidad</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerParticipantes.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>ParticipantesCuenta</name>
        <label>Participantes de la cuenta</label>
        <locationX>175</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TieneParticipantes</targetReference>
        </connector>
        <filters>
            <field>Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Participante__c</object>
    </recordLookups>
    <recordLookups>
        <name>ParticipantesOportunidad</name>
        <label>Participantes de la oportunidad</label>
        <locationX>938</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerParticipantesOportunidad</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <object>Participante__c</object>
    </recordLookups>
    <recordUpdates>
        <name>CompletoParticipante</name>
        <label>Completo</label>
        <locationX>674</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>RecorrerParticipantes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InformacionParticipante__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>NoCompletoParticipante</name>
        <label>No completo</label>
        <locationX>670</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>RecorrerParticipantes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadParticipante.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InformacionParticipante__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateName</name>
        <label>Update Name</label>
        <locationX>478</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>ResetCounter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerParticipantes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreCuenta</elementReference>
            </value>
        </inputAssignments>
        <object>Participante__c</object>
    </recordUpdates>
    <startElementReference>ParticipantesCuenta</startElementReference>
    <status>Active</status>
    <variables>
        <name>CounterParticipantes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParticipantesCompletos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
