force-app/main/default/flows/Lead_Triggered_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Enviar Email Alert de bienvenida al Lead.</description>
        <name>Action_EnviarEmailAlert</name>
        <label>Action_Enviar Email Alert</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <actionName>Lead.Enviar_email_bienvenida</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_PaisDistintoNuloEspanya</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>Comprobar si el candidato está asociado a una promoción.</description>
        <name>Decision_EsLeadAsociadoPromocion</name>
        <label>Decision_Es Lead asociado a promocion</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Decision_PaisDistintoNuloEspanya</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLeadAsociadoPromocion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_PromocionNoEsBlanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_EnviarEmailAlert</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el candidato está asociado a una promoción o si la promoción ha cambiado.</description>
        <name>Decision_EsLeadAsociadoPromocionOCambio</name>
        <label>Decision_Es Lead asociado a promocion o cambió?</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_EsLeadAsociadoPromocion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLeadAsociadoPromocionOCambio_Si</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_PromocionNoEsBlanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_AsignacionLeadsComercialesAPI</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el candidato es de la promoción Web to Lead relleno y si es nuevo.</description>
        <name>Decision_EsWebToLeadNuevo</name>
        <label>Decision_Es Web to Lead y Nuevo?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_EsLeadAsociadoPromocionOCambio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsWebToLeadNuevo_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IdPromocionNoEsBlanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Promocion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el País es distinto de España y que no sea nulo.</description>
        <name>Decision_PaisDistintoNuloEspanya</name>
        <label>Decision_Pais distinto a nulo y España?</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PaisDistintoNuloEspanya_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>España</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_BlanqueaLocalidad</targetReference>
            </connector>
            <label>España No</label>
        </rules>
        <rules>
            <name>PaisDistintoNuloEspanya_SiEspanya</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>España</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_BlanqueaDireccion</targetReference>
            </connector>
            <label>España Sí</label>
        </rules>
    </decisions>
    <description>Flujo del objeto Lead que se lanza al crear o actualizar un registro.</description>
    <formulas>
        <description>formula que devuelve Verdadero si el registro es nuevo.</description>
        <name>For_EsNuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve Verdadero si el campo &quot;Id Promocion (Web to lead&quot; no es blanco.</description>
        <name>For_IdPromocionNoEsBlanco</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Id_promocion_web_to_lead__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve true si el campo Promoción del Candidato no es blanco.</description>
        <name>For_PromocionNoEsBlanco</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Promocion__c}))</expression>
    </formulas>
    <interviewLabel>Lead_Triggered_After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Triggered_After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar el Lead blanqueando el campo &apos;Dirección Extranjera&apos;.</description>
        <name>Update_Lead_BlanqueaDireccion</name>
        <label>Update_Lead_Blanquea dirección</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Direccion_Extranjera_lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el Lead blanqueando el campo &apos;Localidad&apos;.</description>
        <name>Update_Lead_BlanqueaLocalidad</name>
        <label>Update_Lead_Blanquea Localidad</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Localidad__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Promoción del candidato.</description>
        <name>Update_Lead_Promocion</name>
        <label>Update_Lead_Promocion</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Decision_EsLeadAsociadoPromocionOCambio</targetReference>
        </connector>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id_promocion_web_to_lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision_EsWebToLeadNuevo</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Inicia el sublujo &quot;Asignación Candidatos&quot;</description>
        <name>Subflow_AsignacionLeadsComercialesAPI</name>
        <label>Subflow_Asignación de Leads a comerciales API</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Decision_EsLeadAsociadoPromocion</targetReference>
        </connector>
        <flowName>Asignacion_Candidatos</flowName>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDPromocion</name>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
