force-app/main/default/flows/Lead_Triggered_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Enviar Email Alert de bienvenida al Lead.</description>
        <name>Action_EnviarEmailAlert</name>
        <label>Action_Enviar Email Alert</label>
        <locationX>468</locationX>
        <locationY>1031</locationY>
        <actionName>Lead.Enviar_email_bienvenida</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_PaisDistintoNuloEspanya</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Comprobar si el candidato está asociado a una promoción.</description>
        <name>Decision_EsLeadAsociadoPromocion</name>
        <label>Decision_Es Lead asociado a promocion</label>
        <locationX>600</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Decision_PaisDistintoNuloEspanya</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLeadAsociadoPromocion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_PromocionNoEsBlanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_EnviarEmailAlert</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el candidato está asociado a una promoción o si la promoción ha cambiado.</description>
        <name>Decision_EsLeadAsociadoPromocionOCambio</name>
        <label>Decision_Es Lead asociado a promocion o cambió?</label>
        <locationX>600</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Decision_EsLeadAsociadoPromocion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLeadAsociadoPromocionOCambio_Si</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_PromocionNoEsBlanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_AsignacionLeadsComercialesAPI</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el candidato es de la promoción Web to Lead relleno y si es nuevo.</description>
        <name>Decision_EsWebToLeadNuevo</name>
        <label>Decision_Es Web to Lead y Nuevo?</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_EsLeadAsociadoPromocionOCambio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsWebToLeadNuevo_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IdPromocionNoEsBlanco</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Promocion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar si existe una campaña correspondiente al Lead.</description>
        <name>Decision_ExisteCampaign</name>
        <label>Decision_Existe Campaña</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Subflow_ActualizarCampana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteCampaign_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CampaignMember</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar si existe la campaña nueva correspondiente al Lead.</description>
        <name>Decision_ExisteCampaignNueva</name>
        <label>Decision_Existe Campaña Nueva</label>
        <locationX>622</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_BlanquearCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteCampaignNueva_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CampaignNueva</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CampaignMember_Nuevo</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si existe un miembro de campa antiguo al Lead.</description>
        <name>Decision_ExisteMiembroCampaignAntiguo</name>
        <label>Decision_ExisteMiembroCampañaAntiguo</label>
        <locationX>622</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Get_CampaignNueva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteMiembroCampaignAntiguo_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OldCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CampaignMember</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el lead tiene Origen de Lead al crearse o ha sido cambiado en una modificación.</description>
        <name>Decision_OrigenCambiadoOLeadNuevo</name>
        <label>Decision_Origen cambiado O lead nuevo</label>
        <locationX>600</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Subflow_ActualizarCampana</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrigenCambiadoOLeadNuevo_Nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medio_de_conocimiento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Nuevo</label>
        </rules>
        <rules>
            <name>OrigenCambiadoOLeadNuevo_OrigenCambiado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Medio_de_conocimiento__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OldCampaignMember</targetReference>
            </connector>
            <label>Origen cambiado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el País es distinto de España y que no sea nulo.</description>
        <name>Decision_PaisDistintoNuloEspanya</name>
        <label>Decision_Pais distinto a nulo y España?</label>
        <locationX>600</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Decision_OrigenCambiadoOLeadNuevo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PaisDistintoNuloEspanya_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>España</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_BlanqueaLocalidad</targetReference>
            </connector>
            <label>España No</label>
        </rules>
        <rules>
            <name>PaisDistintoNuloEspanya_SiEspanya</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>España</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_BlanqueaDireccion</targetReference>
            </connector>
            <label>España Sí</label>
        </rules>
    </decisions>
    <description>Flujo del objeto Lead que se lanza al crear o actualizar un registro.
13/07 MSC: Añadir el proceso para incluir el Lead en una campaña.
28/09 MSC: Añadir el subflujo de la actualización de la campaña.</description>
    <environments>Default</environments>
    <formulas>
        <description>formula que devuelve Verdadero si el registro es nuevo.</description>
        <name>For_EsNuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve Verdadero si el campo &quot;Id Promocion (Web to lead&quot; no es blanco.</description>
        <name>For_IdPromocionNoEsBlanco</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Id_promocion_web_to_lead__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve true si el campo Promoción del Candidato no es blanco.</description>
        <name>For_PromocionNoEsBlanco</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Promocion__c}))</expression>
    </formulas>
    <interviewLabel>Lead_Triggered_After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Triggered_After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crear un miembro de campaña incluyendo al Lead en la campa correspondiente.</description>
        <name>Create_CampaignMember</name>
        <label>Create_CampaignMember</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Lead_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear el miembro de campaña correspondiente a la nueva campaña.</description>
        <name>Create_CampaignMember_Nuevo</name>
        <label>Create_CampaignMember_Nuevo</label>
        <locationX>490</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Update_Lead_NuevaCampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_CampaignNueva.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Eliminar miembro de campaña antiguo..</description>
        <name>Delete_CampaignMember</name>
        <label>Delete_CampaignMember</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Get_CampaignNueva</targetReference>
        </connector>
        <inputReference>Get_OldCampaignMember</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Obtener la campaña correspondiente al lead por promoción y origen.</description>
        <name>Get_Campaign</name>
        <label>Get_Campaign</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteCampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Medio_de_conocimiento__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener la nueva campaña correspondiente al Lead.</description>
        <name>Get_CampaignNueva</name>
        <label>Get_Campaign</label>
        <locationX>622</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteCampaignNueva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Medio_de_conocimiento__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener el miembro de campaña antiguo del Lead.</description>
        <name>Get_OldCampaignMember</name>
        <label>Get_OldCampaignMember</label>
        <locationX>622</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteMiembroCampaignAntiguo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar el Lead blanqueando el campo &apos;Dirección Extranjera&apos;.</description>
        <name>Update_Lead_BlanqueaDireccion</name>
        <label>Update_Lead_Blanquea dirección</label>
        <locationX>600</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Decision_OrigenCambiadoOLeadNuevo</targetReference>
        </connector>
        <inputAssignments>
            <field>Direccion_Extranjera_lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el Lead blanqueando el campo &apos;Localidad&apos;.</description>
        <name>Update_Lead_BlanqueaLocalidad</name>
        <label>Update_Lead_Blanquea Localidad</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Decision_OrigenCambiadoOLeadNuevo</targetReference>
        </connector>
        <inputAssignments>
            <field>Localidad__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el Lead blanqueando el campo Campaign al no encontrar campaña correspondiente.</description>
        <name>Update_Lead_BlanquearCampaign</name>
        <label>Update_Lead_BlanquearCampaign</label>
        <locationX>754</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Subflow_ActualizarCampana</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo de campaña del Lead.</description>
        <name>Update_Lead_Campaign</name>
        <label>Update_Lead_Campaign</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Subflow_ActualizarCampana</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el Lead modificando el campo de Campaign poniendo la nueva campaña.</description>
        <name>Update_Lead_NuevaCampaign</name>
        <label>Update_Lead_NuevaCampaign</label>
        <locationX>490</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Subflow_ActualizarCampana</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_CampaignNueva.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Promoción del candidato.</description>
        <name>Update_Lead_Promocion</name>
        <label>Update_Lead_Promocion</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_EsLeadAsociadoPromocionOCambio</targetReference>
        </connector>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id_promocion_web_to_lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_EsWebToLeadNuevo</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Lanzar el subflujo que actualiza el miembro de campaña si se hace la primera visita.</description>
        <name>Subflow_ActualizarCampana</name>
        <label>Subflow_Actualizar Campaña</label>
        <locationX>600</locationX>
        <locationY>2639</locationY>
        <flowName>UpdateCampaign</flowName>
        <inputAssignments>
            <name>VarIn_LeadOldCampaign</name>
            <value>
                <elementReference>$Record__Prior.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarIn_LeadOldFecha1aVisita</name>
            <value>
                <elementReference>$Record__Prior.Fecha_Visita__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarIn_LeadRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Inicia el sublujo &quot;Asignación Candidatos&quot;</description>
        <name>Subflow_AsignacionLeadsComercialesAPI</name>
        <label>Subflow_Asignación de Leads a comerciales API</label>
        <locationX>468</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Decision_EsLeadAsociadoPromocion</targetReference>
        </connector>
        <flowName>Asignacion_Candidatos</flowName>
        <inputAssignments>
            <name>Var_Input_IdLead</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_Input_IDPromocion</name>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
