force-app/main/default/flows/NuevaFacturaCancelada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ExisteFactura</name>
        <label>Existe Factura</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Reserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckReserva</targetReference>
            </connector>
            <label>Reserva</label>
        </rules>
        <rules>
            <name>Escrituracion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escritura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckEscrituracion</targetReference>
            </connector>
            <label>Escrituracion</label>
        </rules>
        <rules>
            <name>Entrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckEntrada</targetReference>
            </connector>
            <label>Entrada</label>
        </rules>
        <rules>
            <name>AportacionCapital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aportación capital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAportacionCapital</targetReference>
            </connector>
            <label>Aportación Capital</label>
        </rules>
    </decisions>
    <interviewLabel>Nueva factura cancelada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva factura cancelada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Oportunidad</name>
        <label>Oportunidad</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteFactura</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>CheckAportacionCapital</name>
        <label>Check Aportación Capital</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaAportacionCapital__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CheckEntrada</name>
        <label>Check Entrada</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaEntrada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CheckEscrituracion</name>
        <label>Check Escrituracion</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaEscrituracion__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>CheckReserva</name>
        <label>Check Reserva</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExisteFacturaReserva__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Oportunidad</startElementReference>
    <status>Active</status>
</Flow>
