force-app/main/default/flows/OpportunitySeleccionarMejora.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddMejoraOportunidadColeccion1</name>
        <label>AddMejoraOportunidadColeccion</label>
        <locationX>1810</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Mejora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetInmuebles.Mejora__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetInmuebles.Mejora__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Precio_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetInmuebles.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.GeneraFactura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetInmuebles.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Unidades__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionMejoraOportunidadAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MejoraOportunidadAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionMejoraOportunidadPrincipalID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarGetInmuebles.Mejora__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetVariables1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMejoraOportunidadColeccion2</name>
        <label>AddMejoraOportunidadColeccion</label>
        <locationX>1810</locationX>
        <locationY>5630</locationY>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Mejora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetViviendas.Mejora__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetViviendas.Mejora__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Precio_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetViviendas.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.GeneraFactura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetViviendas.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux.Unidades__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionMejoraOportunidadAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MejoraOportunidadAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionMejoraOportunidadPrincipalID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarGetViviendas.Mejora__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetVariables2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMejoraTipoInmueble</name>
        <label>AddMejoraTipoInmueble</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>InmuebleAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetMejoraTipoInmueble.Mejora__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InmuebleAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetMejoraTipoInmueble.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionTipoInmuebleAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InmuebleAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarGetMejoraTipoInmueble</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMejoraVivienda</name>
        <label>AddMejoraVivienda</label>
        <locationX>578</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>ViviendaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetMejoraVivienda.Mejora__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViviendaAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarGetMejoraVivienda.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionViviendaAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ViviendaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarGetMejoraVivienda</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarColeccionInmuebleID</name>
        <label>Asignar a ColeccionInmuebleID</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>ColeccionInmuebleID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstIDInmueble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InmueblesID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstIDInmueble</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValoresInmueble</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarColeccionViviendaID</name>
        <label>Asignar a ColeccionViviendaID</label>
        <locationX>50</locationX>
        <locationY>4574</locationY>
        <assignmentItems>
            <assignToReference>ColeccionViviendaID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstIDVivienda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViviendasID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstIDVivienda</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValoresVivienda</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarInmuebleIDs</name>
        <label>Asignar Inmueble IDs</label>
        <locationX>490</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>InmueblesID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MejoraTipoInmueble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InmueblesID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadimos el ID de la mejora a la colección auxiliar</description>
        <name>AsignarMejora</name>
        <label>AsignarMejora</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>ColeccionMejoraID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarMejoras.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarMejoras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el producto de oportunidad a la colección auxiliar</description>
        <name>AsignarOpportunityProduct</name>
        <label>AsignarOpportunityProduct</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarOpportunityProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarOpportunityProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarUnidadMejora</name>
        <label>AsignarUnidadMejora</label>
        <locationX>248</locationX>
        <locationY>6890</locationY>
        <assignmentItems>
            <assignToReference>IterarMejorasSeleccionadas.Unidades__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CantidadMejora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterarMejorasSeleccionadas.Precio_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrecioTotalModificado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionMejoraOportunidadAuxModificada</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterarMejorasSeleccionadas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarMejorasSeleccionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarViviendaIDs</name>
        <label>Asignar Vivienda IDs</label>
        <locationX>490</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>ViviendasID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MejoraVivienda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViviendasID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Viviendas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExisteMejora1</name>
        <label>ExisteMejora</label>
        <locationX>1810</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>ExisteMejoraAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtraerMejoraOportunidad1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExisteMejora2</name>
        <label>ExisteMejora</label>
        <locationX>1810</locationX>
        <locationY>5330</locationY>
        <assignmentItems>
            <assignToReference>ExisteMejoraAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtraerMejoraOportunidad2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetVariables1</name>
        <label>ResetVariables</label>
        <locationX>1722</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisteMejoraAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarGetInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetVariables2</name>
        <label>ResetVariables</label>
        <locationX>1722</locationX>
        <locationY>5822</locationY>
        <assignmentItems>
            <assignToReference>MejoraOportunidadAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisteMejoraAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarGetViviendas</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ImporteNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImporteSi</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>FiltrarMejoraPrincipal1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FiltrarMejoraPrincipal</label>
        <locationX>1722</locationX>
        <locationY>3122</locationY>
        <assignNextValueToReference>currentItem_FiltrarMejoraPrincipal</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ColeccionMejoraOportunidadPrincipalID</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FiltrarMejoraPrincipal</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>IterarGetInmuebles.Mejora__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ExtraerMejoraOportunidad1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>FiltrarMejoraPrincipal2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FiltrarMejoraPrincipal</label>
        <locationX>1722</locationX>
        <locationY>5114</locationY>
        <assignNextValueToReference>currentItem_FiltrarMejoraPrincipal</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ColeccionMejoraOportunidadPrincipalID</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FiltrarMejoraPrincipal</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>IterarGetViviendas.Mejora__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ExtraerMejoraOportunidad2</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Nodo de decisión para comprobar si es necesario modificar la cantidad de las mejoras</description>
        <name>Cantidad</name>
        <label>Cantidad</label>
        <locationX>292</locationX>
        <locationY>6566</locationY>
        <defaultConnector>
            <targetReference>CrearMejorasOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modificar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeleccionarCantidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterarMejorasSeleccionadas</targetReference>
            </connector>
            <label>Modificar</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si se han obtenido mejoras de tipo inmueble y de tipo vivienda de las mejoras padre</description>
        <name>HayMejoras</name>
        <label>Hay Mejoras</label>
        <locationX>490</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>NoHayMejoras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HayMejorasSI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ColeccionViviendaAux</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ColeccionTipoInmuebleAux</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSeleccionarMejoras</targetReference>
            </connector>
            <label>Hay Mejoras</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar que son iguales los inmuebles seleccionados y los obtenidos</description>
        <name>IgualesInmueble</name>
        <label>Iguales</label>
        <locationX>1898</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>IterarGetInmuebles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IgualesI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterarInmuebles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IterarGetInmuebles.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FiltrarMejoraPrincipal1</targetReference>
            </connector>
            <label>Iguales</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar que son iguales las viviendas seleccionadas y las obtenidas</description>
        <name>IgualesVivienda</name>
        <label>Iguales</label>
        <locationX>1898</locationX>
        <locationY>5006</locationY>
        <defaultConnector>
            <targetReference>IterarGetViviendas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IgualesV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterarViviendas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IterarGetViviendas.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FiltrarMejoraPrincipal2</targetReference>
            </connector>
            <label>Iguales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inmuebles</name>
        <label>Inmuebles</label>
        <locationX>490</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>AsignarViviendaIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seleccionados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InmueblesID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarColeccionInmuebleID</targetReference>
            </connector>
            <label>Seleccionados</label>
        </rules>
    </decisions>
    <decisions>
        <name>MejoraOportunidadColeccion1</name>
        <label>MejoraOportunidadColeccion</label>
        <locationX>1722</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>AddMejoraOportunidadColeccion1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisteMejoraAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetVariables1</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>MejoraOportunidadColeccion2</name>
        <label>MejoraOportunidadColeccion</label>
        <locationX>1722</locationX>
        <locationY>5522</locationY>
        <defaultConnector>
            <targetReference>AddMejoraOportunidadColeccion2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisteMejoraAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetVariables2</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar que hay mejoras de oportunidad para crear</description>
        <name>MejorasOportunidad</name>
        <label>MejorasOportunidad</label>
        <locationX>490</locationX>
        <locationY>6350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColeccionMejoraOportunidadAux</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSeleccionarCantidad</targetReference>
            </connector>
            <label>Existen</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si la oportunidad tiene productos relacionados</description>
        <name>OpportunityProducts</name>
        <label>OpportunityProducts</label>
        <locationX>798</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>ScreenNoHayOpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductAux</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMejoras</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValoresInmueble</name>
        <label>Valores</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>IterarInmuebles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HayInmueble</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InmueblesID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AsignarColeccionInmuebleID</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValoresVivienda</name>
        <label>Valores</label>
        <locationX>50</locationX>
        <locationY>4682</locationY>
        <defaultConnector>
            <targetReference>IterarViviendas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HayVivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViviendasID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AsignarColeccionViviendaID</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si el producto de la oportunidad es de tipo vivienda</description>
        <name>Vivienda</name>
        <label>Vivienda</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>IterarOpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterarOpportunityProducts.Product2.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarOpportunityProduct</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Viviendas</name>
        <label>Viviendas</label>
        <locationX>490</locationX>
        <locationY>4466</locationY>
        <defaultConnector>
            <targetReference>MejorasOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seleccionadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViviendasID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarColeccionViviendaID</targetReference>
            </connector>
            <label>Seleccionadas</label>
        </rules>
    </decisions>
    <description>Flujo de pantalla para seleccionar una mejora desde una oportunidad, y permita seleccionar las mejoras que aplican a la Promoción y Vivienda de la Oportunidad.
--
V2: Mejora visibilidad pantallas
--
V3: Mejora selección unidades
--
V4: Mejora textos pantallas
--
V5: Modificación pantalla muestra mejoras</description>
    <dynamicChoiceSets>
        <name>MejorasTipoInmueble</name>
        <collectionReference>ColeccionTipoInmuebleAux</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MejorasTiposInmueble__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MejorasVivienda</name>
        <collectionReference>ColeccionViviendaAux</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MejorasViviendas__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstIDInmueble</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!InmueblesID}, FIND(&quot;;&quot;,{!InmueblesID})-1))</expression>
    </formulas>
    <formulas>
        <name>FirstIDVivienda</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!ViviendasID}, FIND(&quot;;&quot;,{!ViviendasID})-1))</expression>
    </formulas>
    <formulas>
        <name>PrecioTotalModificado</name>
        <dataType>Currency</dataType>
        <expression>{!IterarMejorasSeleccionadas.Precio__c}*{!CantidadMejora}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemoveFirstIDInmueble</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!InmueblesID},{!FirstIDInmueble}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstIDVivienda</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!ViviendasID},{!FirstIDVivienda}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Opportunity - Seleccionar Mejora {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Seleccionar Mejora</label>
    <loops>
        <name>ExtraerMejoraOportunidad1</name>
        <label>ExtraerMejoraOportunidad</label>
        <locationX>1722</locationX>
        <locationY>3230</locationY>
        <collectionReference>FiltrarMejoraPrincipal1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExisteMejora1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MejoraOportunidadColeccion1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ExtraerMejoraOportunidad2</name>
        <label>ExtraerMejoraOportunidad</label>
        <locationX>1722</locationX>
        <locationY>5222</locationY>
        <collectionReference>FiltrarMejoraPrincipal2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExisteMejora2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MejoraOportunidadColeccion2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarGetInmuebles</name>
        <label>IterarGetInmuebles</label>
        <locationX>1546</locationX>
        <locationY>2906</locationY>
        <collectionReference>GetMejorasTipoInmueble</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IgualesInmueble</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterarInmuebles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos las mejoras de tipo inmueble obtenidas</description>
        <name>IterarGetMejoraTipoInmueble</name>
        <label>IterarGetMejoraTipoInmueble</label>
        <locationX>490</locationX>
        <locationY>1466</locationY>
        <collectionReference>GetMejorasTipoInmueble</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddMejoraTipoInmueble</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterarGetMejoraVivienda</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos las mejoras de vivienda obtenidas</description>
        <name>IterarGetMejoraVivienda</name>
        <label>IterarGetMejoraVivienda</label>
        <locationX>490</locationX>
        <locationY>1766</locationY>
        <collectionReference>GetMejorasVivienda</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddMejoraVivienda</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HayMejoras</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarGetViviendas</name>
        <label>IterarGetViviendas</label>
        <locationX>1546</locationX>
        <locationY>4898</locationY>
        <collectionReference>GetMejorasVivienda</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IgualesVivienda</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterarViviendas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarInmuebles</name>
        <label>IterarInmuebles</label>
        <locationX>842</locationX>
        <locationY>2798</locationY>
        <collectionReference>ColeccionInmuebleID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IterarGetInmuebles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AsignarViviendaIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por las mejoras obtenidas</description>
        <name>IterarMejoras</name>
        <label>IterarMejoras</label>
        <locationX>490</locationX>
        <locationY>950</locationY>
        <collectionReference>GetMejoras</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarMejora</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetMejorasTipoInmueble</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos las mejoras seleccionadas</description>
        <name>IterarMejorasSeleccionadas</name>
        <label>IterarMejorasSeleccionadas</label>
        <locationX>160</locationX>
        <locationY>6674</locationY>
        <collectionReference>ColeccionMejoraOportunidadAux</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ScreenModificarCantidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CrearMejorasOportunidadModificadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por los productos de oportunidad obtenidos</description>
        <name>IterarOpportunityProducts</name>
        <label>IterarOpportunityProducts</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <collectionReference>GetOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Vivienda</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OpportunityProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterarViviendas</name>
        <label>IterarViviendas</label>
        <locationX>842</locationX>
        <locationY>4790</locationY>
        <collectionReference>ColeccionViviendaID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IterarGetViviendas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MejorasOportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearMejorasOportunidad</name>
        <label>CrearMejorasOportunidad</label>
        <locationX>424</locationX>
        <locationY>6674</locationY>
        <connector>
            <targetReference>ScreenMejorasCreadas</targetReference>
        </connector>
        <inputReference>ColeccionMejoraOportunidadAux</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CrearMejorasOportunidadModificadas</name>
        <label>CrearMejorasOportunidadModificadas</label>
        <locationX>160</locationX>
        <locationY>7082</locationY>
        <connector>
            <targetReference>ScreenMejorasCreadas</targetReference>
        </connector>
        <inputReference>ColeccionMejoraOportunidadAuxModificada</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos las mejoras disponibles para el producto y promoción de la oportunidad</description>
        <name>GetMejoras</name>
        <label>GetMejoras</label>
        <locationX>490</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarMejoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductAux.Opportunity.Promocion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FechaLimiteContratacion__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mejora__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las mejoras disponibles de tipo inmueble</description>
        <name>GetMejorasTipoInmueble</name>
        <label>GetMejorasTipoInmueble</label>
        <locationX>490</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMejorasVivienda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TipoInmueble__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductAux.Product2.Tipo_de_inmueble__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mejora__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ColeccionMejoraID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MejorasTiposInmueble__c</object>
        <sortField>Mejora__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las mejoras disponibles de tipo vivienda para el producto</description>
        <name>GetMejorasVivienda</name>
        <label>GetMejorasVivienda</label>
        <locationX>490</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarGetMejoraTipoInmueble</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vivienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductAux.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mejora__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ColeccionMejoraID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MejorasViviendas__c</object>
        <sortField>Mejora__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los productos de la oportunidad</description>
        <name>GetOpportunityProducts</name>
        <label>GetOpportunityProducts</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterarOpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NoHayMejoras</name>
        <label>No Hay Mejoras</label>
        <locationX>622</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarInmuebleIDs</targetReference>
        </connector>
        <fields>
            <name>TextNoHayMejoras</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(254, 1, 0);&quot;&gt;No hay mejoras relacionadas con la promoción asociada a esta oportunidad.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMejorasCreadas</name>
        <label>MejorasCreadas</label>
        <locationX>292</locationX>
        <locationY>7274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextMejorasCreadas</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;El proceso de creación de mejoras ha finalizado correctamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenModificarCantidad</name>
        <label>ScreenModificarCantidad</label>
        <locationX>248</locationX>
        <locationY>6782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarUnidadMejora</targetReference>
        </connector>
        <fields>
            <name>TextSeleccionCantidad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Asigna la cantidad deseada a la mejora:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenModificarCantidad_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenModificarCantidad_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextNombreMejora</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nombre:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TextNombreMejoraValor</name>
                    <fieldText>&lt;p&gt;{!IterarMejorasSeleccionadas.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenModificarCantidad_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CantidadMejora</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Unidades</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La cantidad introducida debe ser mayor de 0.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!CantidadMejora}&gt;0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNoHayOpportunityProducts</name>
        <label>No Hay OpportunityProducts</label>
        <locationX>1106</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextNoHayOpportunityProducts</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(254, 1, 1); font-size: 14px;&quot;&gt;No hay productos relacionados con esta oportunidad.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(254, 1, 1); font-size: 14px;&quot;&gt;Añade un producto de tipo vivienda para poder aplicar una mejora.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSeleccionarCantidad</name>
        <label>SeleccionarCantidad</label>
        <locationX>292</locationX>
        <locationY>6458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cantidad</targetReference>
        </connector>
        <fields>
            <name>TextSeleccionarCantidad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;¿Es necesario modificar la cantidad de alguna mejora?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;(Por defecto es 1).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeleccionarCantidad</name>
            <choiceReferences>ImporteSi</choiceReferences>
            <choiceReferences>ImporteNo</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSeleccionarMejoras</name>
        <label>Seleccionar Mejoras</label>
        <locationX>358</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarInmuebleIDs</targetReference>
        </connector>
        <fields>
            <name>TextSeleccionarMejoras</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Selecciona las mejoras que desea aplicar:﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenSeleccionarMejoras_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSeleccionarMejoras_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MejoraTipoInmueble</name>
                    <choiceReferences>MejorasTipoInmueble</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSeleccionarMejoras_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MejoraVivienda</name>
                    <choiceReferences>MejorasVivienda</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityProducts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColeccionInmuebleID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Colección de IDs de Mejoras</description>
        <name>ColeccionMejoraID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColeccionMejoraOportunidadAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejoraOportunidad__c</objectType>
    </variables>
    <variables>
        <name>ColeccionMejoraOportunidadAuxModificada</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejoraOportunidad__c</objectType>
    </variables>
    <variables>
        <name>ColeccionMejoraOportunidadPrincipalID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColeccionTipoInmuebleAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejorasTiposInmueble__c</objectType>
    </variables>
    <variables>
        <name>ColeccionViviendaAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejorasViviendas__c</objectType>
    </variables>
    <variables>
        <name>ColeccionViviendaID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_FiltrarMejoraPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisteMejoraAux</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InmuebleAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejorasTiposInmueble__c</objectType>
    </variables>
    <variables>
        <name>InmueblesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MejoraOportunidadAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejoraOportunidad__c</objectType>
    </variables>
    <variables>
        <description>Variable de tipo auxiliar para almacenar el producto relacionado con la oportunidad</description>
        <name>OpportunityProductAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Variable para almacenar el ID de la oportunidad en la que se ejecuta en flujo.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ViviendaAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejorasViviendas__c</objectType>
    </variables>
    <variables>
        <name>ViviendasID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
