force-app/main/default/flows/Opportunity_Triggered_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Enviar Email Alert de que la oportundidad se encuentra en la etapa de contrato.</description>
        <name>EmailAlert_OportunidadEtapaContrato</name>
        <label>EmailAlert_Oportunidad Etapa Contrato</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <actionName>Opportunity.Email_oportunidad_etapa_contrato</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Oportunidad_AuxEtapaContrato</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Enviar Email Alert de oportunidad en etapa de reserva.</description>
        <name>EmailAlert_OportunidadEtapaReserva</name>
        <label>EmailAlert_Oportunidad etapa reserva</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <actionName>Opportunity.Email_oportunidad_etapa_reserva</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Oportunidad_AUXEtapaReserva</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>Comprobar si la promoción de la oportunidad ha cambiado o si es nueva la oportunidad con promoción.</description>
        <name>Decision_CambiaPromocion</name>
        <label>Decision_Cambia promocion</label>
        <locationX>578</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Decision_RegimenSeparacionBienes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CambiaPromocion_Si</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_ConCamposPromocion</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar el estado de la oportunidad.</description>
        <name>Decision_EstadoOportunidad</name>
        <label>Decision_Estado oportunidad</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_OportunidadReservada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoOportunidad_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sufblow_AsignarDocumentoOportunidadMemoria</targetReference>
            </connector>
            <label>Nueva</label>
        </rules>
        <rules>
            <name>EstadoOportunidad_PlanDePagos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan de pagos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CambioEstadoInmuebleContrato</targetReference>
            </connector>
            <label>Plan de pagos</label>
        </rules>
        <rules>
            <name>EstadoOportunidad_PreReserva</name>
            <conditionLogic>2 AND (1 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_IsBlankFechaPreReserva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_FechaPreReserva</targetReference>
            </connector>
            <label>Pre-Reserva</label>
        </rules>
        <rules>
            <name>EstadoOportunidad_SeReabre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_BlanquearCancelacion</targetReference>
            </connector>
            <label>Se reabre</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la oportunidad se encuentra en el estado de Pre-Reserva.</description>
        <name>Decision_EstadoPreReserva</name>
        <label>Decision_Estado Pre-Reserva</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Decision_CambiaPromocion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstadoPreReserva_Si</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_FechaLimiteApalabrado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la oportunidad pasa a estar en contrato.</description>
        <name>Decision_OportunidadContratada</name>
        <label>Decision_Oportunidad Contratada</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Subflow_NotificaEstadoFirmasOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OportunidadContratada_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AUX_Etapa_Contrato__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlert_OportunidadEtapaContrato</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la oportunidad pasa a estar reservada.</description>
        <name>Decision_OportunidadReservada</name>
        <label>Decision_Oportunidad Reservada</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Decision_OportunidadContratada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OportunidadReservada_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AUX_Etapa_Reserva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlert_OportunidadEtapaReserva</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la cuenta de la oportunidad se encuentra en el régimen de separación de bienes.</description>
        <name>Decision_RegimenSeparacionBienes</name>
        <label>Decision_Régimen separación de bienes</label>
        <locationX>578</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RegimenSeparacionBienes_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Regimen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casados en separación de bienes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oportunidad_FacturacionPorSeparado</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Flujo del Objeto &apos;Oportunidad&apos; que se lanza al crear o editar el registro.
06/07 MSC: Partes del PBs &quot;PB_OportunidadCancelada&quot; y workflows.</description>
    <formulas>
        <description>Formula que devuelve verdadero si el campo Fecha Pre-Reserva de la oportunidad es blanco.</description>
        <name>For_IsBlankFechaPreReserva</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.FechaPreReserva__c})</expression>
    </formulas>
    <formulas>
        <description>Fórmula que devuelve verdadero si la oportunidad es nueva</description>
        <name>For_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula que contiene el nuevo valor del Medio de procedencia</description>
        <name>For_MedioProcedencia</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.LeadSource})), TEXT({!$Record.Account.AccountSource}), TEXT({!$Record.LeadSource}))</expression>
    </formulas>
    <formulas>
        <description>Formula que contiene la fecha de hoy.</description>
        <name>For_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve la suma de la fecha de hoy con el Nº días inmueble Apalabrado</description>
        <name>For_TodayPlusNDiasApalabrado</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Record.Promocion__r.N_Dias_Inmueble_Apalabrado__c}</expression>
    </formulas>
    <formulas>
        <description>Formula que contiene la fecha de hoy más el periodo de reserva.</description>
        <name>For_TodayPlusPeriodoReserva</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Record.Promocion__r.Periodo_de_Reserva__c}</expression>
    </formulas>
    <interviewLabel>Opportunity_Triggered_After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Triggered_After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar la oportunidad marcando el campo Oportunidad Contrato a true.</description>
        <name>Update_Oportunidad_AuxEtapaContrato</name>
        <label>Update_Oportunidad_Aux Etapa Contrato</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Subflow_NotificaEstadoFirmasOportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>AUX_Etapa_Contrato__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la oportunidad marcando el campo Oportunidad reservada a true.</description>
        <name>Update_Oportunidad_AUXEtapaReserva</name>
        <label>Update_Oportunidad_AUX Etapa Reserva</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Decision_OportunidadContratada</targetReference>
        </connector>
        <inputAssignments>
            <field>AUX_Etapa_Reserva__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la oportunidad cancelando los campos de la cancelación.</description>
        <name>Update_Oportunidad_BlanquearCancelacion</name>
        <label>Update_Oportunidad_Blanquear cancelación</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_OportunidadReservada</targetReference>
        </connector>
        <inputAssignments>
            <field>EtapaPreviaCancelacion__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FechaCancelacion__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la oportunidad haciendo uso de los campos de la promoción.</description>
        <name>Update_Oportunidad_ConCamposPromocion</name>
        <label>Update_Oportunidad_Con campos de Promoción</label>
        <locationX>446</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Decision_RegimenSeparacionBienes</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_de_Escrituracion__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Inicio_de_escrituraciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generar_Facturas_de_Clientes__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Generar_Facturas_de_Clientes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Cuota_Extra__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Importe_Cuota_Extra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medio_de_procedencia__c</field>
            <value>
                <elementReference>For_MedioProcedencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Cuotas_Extra__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Numero_Cuotas_Extra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_Contrato__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_pago_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_Contrato_al_contado__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_Pago_Firma_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pago_Escritura__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_pago_escritura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Penalizacion_Contrato__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_penalizacion_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Penalizacion_Escritura__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_penalizacion_escritura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Penalizacion_Reserva__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_penalizacion_reserva__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Periodo_de_Reserva__c</field>
            <value>
                <elementReference>For_TodayPlusPeriodoReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_IVA__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Porcentaje_IVA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserva__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Cantidad_de_Reserva__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoImpuesto__c</field>
            <value>
                <elementReference>$Record.Promocion__r.TipoImpuesto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Reserva__c</field>
            <value>
                <elementReference>$Record.Promocion__r.Tipo_de_Reserva__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo de Facturación por separado a True.</description>
        <name>Update_Oportunidad_FacturacionPorSeparado</name>
        <label>Update_Oportunidad_Facturacion por separado</label>
        <locationX>446</locationX>
        <locationY>2471</locationY>
        <inputAssignments>
            <field>Facturacion_por_separado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar Fecha límite Apalabrado de la oportunidad.</description>
        <name>Update_Oportunidad_FechaLimiteApalabrado</name>
        <label>Update_Oportunidad_Fecha límite Apalabrado</label>
        <locationX>446</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Subflow_CambioEstadoInmuebleApalabrado</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_limite_Apalabrado__c</field>
            <value>
                <elementReference>For_TodayPlusNDiasApalabrado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo Fecha Pre-reserva de la oportunidad a la fecha de hoy.</description>
        <name>Update_Oportunidad_FechaPreReserva</name>
        <label>Update_Oportunidad_Fecha Pre-reserva</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_OportunidadReservada</targetReference>
        </connector>
        <inputAssignments>
            <field>FechaPreReserva__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision_EstadoOportunidad</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble pasando el estado Apalabrado.</description>
        <name>Subflow_CambioEstadoInmuebleApalabrado</name>
        <label>Subflow_Cambio del Estado del inmueble Apalabrado</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Decision_CambiaPromocion</targetReference>
        </connector>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Apalabrado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Cambio del Estado del inmueble pasando el estado Contrato.</description>
        <name>Subflow_CambioEstadoInmuebleContrato</name>
        <label>Subflow_Cambio del Estado del inmueble Contrato</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_OportunidadReservada</targetReference>
        </connector>
        <flowName>Cambio_del_Estado_del_inmueble</flowName>
        <inputAssignments>
            <name>EstadoInmueble</name>
            <value>
                <stringValue>Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdOportunidad</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo de Notificar el estado de firmas de la oportunidad.</description>
        <name>Subflow_NotificaEstadoFirmasOportunidad</name>
        <label>Subflow_Notifica el estado de firmas de la oportunidad</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Decision_EstadoPreReserva</targetReference>
        </connector>
        <flowName>NotificaEstadoFirmasOportunidad</flowName>
        <inputAssignments>
            <name>Var_IsNew</name>
            <value>
                <elementReference>For_IsNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_OportunidadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_PriorAuxEtapaContrato</name>
            <value>
                <elementReference>$Record__Prior.AUX_Etapa_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_PriorAuxEtapaReserva</name>
            <value>
                <elementReference>$Record__Prior.AUX_Etapa_Reserva__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_PriorContratoCompraventaFirmado</name>
            <value>
                <elementReference>$Record__Prior.Contrato_Compraventa_firmado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_PriorContratoReservaFirmado</name>
            <value>
                <elementReference>$Record__Prior.Contrato_Reserva_firmado__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Asignar documento a oportunidad para añadir memoria calidades.</description>
        <name>Sufblow_AsignarDocumentoOportunidadMemoria</name>
        <label>Sufblow_Asignar documento a oportunidad</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Sufblow_AsignarDocumentoOportunidadPlano</targetReference>
        </connector>
        <flowName>Asignar_documento_a_oportunidad</flowName>
        <inputAssignments>
            <name>oportunidadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>promocionId</name>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tipoDocumento</name>
            <value>
                <stringValue>Memoria_calidades</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo Asignar documento a oportunidad para añadir plano viviendas</description>
        <name>Sufblow_AsignarDocumentoOportunidadPlano</name>
        <label>Sufblow_Asignar documento a oportunidad</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Decision_OportunidadReservada</targetReference>
        </connector>
        <flowName>Asignar_documento_a_oportunidad</flowName>
        <inputAssignments>
            <name>oportunidadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>promocionId</name>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tipoDocumento</name>
            <value>
                <stringValue>Plano_PDF</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
