force-app/main/default/flows/Opportunity_CrearFacturasMejoras.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>añadir la factura a la variable que contiene las facturas a insertar.</description>
        <name>Assign_AddFacturaToInsertFactSeparada</name>
        <label>Assign_AddFacturaToInsertFactSeparada</label>
        <locationX>842</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_FacturaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IVAFactSeparada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>añadir la factura a la variable que contiene las facturas a insertar.</description>
        <name>Assign_AddFacturaToInsertFactSeparada_01</name>
        <label>Assign_AddFacturaToInsertFactSeparada_01</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_FacturaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FacturaFactSeparada_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir la factura 2 a la variable que contiene las facturas a insertar.</description>
        <name>Assign_AddFacturaToInsertFactSeparada_02</name>
        <label>Assign_AddFacturaToInsertFactSeparada_02</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_FacturaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IVAFactSeparada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir la factura a la variable que contiene las facturas a insertar.</description>
        <name>Assign_AddFacturaToInsertFactUnica</name>
        <label>Assign_AddFacturaToInsertFactUnica</label>
        <locationX>1282</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_FacturaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IVAFactUnica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir la factura a la variable que contiene las facturas a insertar.</description>
        <name>Assign_AddFacturaToInsertFactUnica_01</name>
        <label>Assign_AddFacturaToInsertFactUnica_01</label>
        <locationX>1018</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_FacturaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FacturaFactUnica_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir la factura 2 a la variable que contiene las facturas a insertar.</description>
        <name>Assign_AddFacturaToInsertFactUnica_02</name>
        <label>Assign_AddFacturaToInsertFactUnica_02</label>
        <locationX>1018</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_FacturaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IVAFactUnica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir IVA a la variable de colección.</description>
        <name>Assign_AddIVA</name>
        <label>Assign_AddIVA</label>
        <locationX>952</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarCol_IVA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Mejoras.IVANumero__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Mejoras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir la linea de factura a la variable que contiene los registros a insertar.</description>
        <name>Assign_AddLineaFacturaToInsert</name>
        <label>Assign_Add linea de factura To Insert</label>
        <locationX>1194</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Var_LineasFacturaToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_LineaFacturaAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NumeroLineaAux</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MejorasFactUnica_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir la linea de factura a la variable que contiene los registros a insertar.</description>
        <name>Assign_AddLineaToInsertFactSeparada</name>
        <label>Assign_AddLineaToInsertFactSeparada</label>
        <locationX>666</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>Var_LineasFacturaToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_LineaFacturaAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NumeroLineaAux</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MejorasFactSeparada_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir el precio de la mejora actual para sumar el total</description>
        <name>Assign_AddPrice</name>
        <label>Assign_AddPrice</label>
        <locationX>864</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Var_TotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Mejoras.PrecioTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_AnadirIVA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualizar el campo Existe Facturas Mejoras poniéndolo a True.</description>
        <name>Assign_ExisteFacturasMejoras</name>
        <label>Assign_ExisteFacturasMejoras</label>
        <locationX>688</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.ExisteFacturaMejoras__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar campos de Factura que corresponda al IVA del loop actual por participante.</description>
        <name>Assign_FacturaFactSeparada</name>
        <label>Assign_FacturaFactSeparada</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ImporteTotalSameIVAAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Codigo_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IVAFactSeparada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipo_de_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEJORAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Estado_de_la_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Pago_o_Cuota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participantes.Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ImporteTotalSameIVAAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddFacturaToInsertFactSeparada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar campos de Factura que corresponda al IVA del loop actual por participante.</description>
        <name>Assign_FacturaFactSeparada_01</name>
        <label>Assign_FacturaFactSeparada_01</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ImporteFacturaDivide2FactSeparada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Codigo_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IVAFactSeparada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipo_de_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEJORAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Estado_de_la_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Pago_o_Cuota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Participantes.Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ImporteTotalSameIVAAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddFacturaToInsertFactSeparada_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar campos de Factura 2 que corresponda al IVA del loop actual con fecha factura posterior</description>
        <name>Assign_FacturaFactSeparada_02</name>
        <label>Assign_FacturaFactSeparada_02</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_FechaSegundaFactura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddFacturaToInsertFactSeparada_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar campos de Factura que corresponde al IVA del loop actual.</description>
        <name>Assign_FacturaFactUnica</name>
        <label>Assign_FacturaFactUnica</label>
        <locationX>1282</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ImporteTotalSameIVAAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Codigo_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IVAFactUnica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipo_de_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEJORAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Estado_de_la_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Pago_o_Cuota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ImporteTotalSameIVAAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddFacturaToInsertFactUnica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar campos de Factura que corresponda al IVA del loop actual.</description>
        <name>Assign_FacturaFactUnica_01</name>
        <label>Assign_FacturaFactUnica_01</label>
        <locationX>1018</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ImporteFacturaDivide2FactUnica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Codigo_Impuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IVAFactUnica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipo_de_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEJORAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Estado_de_la_factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Tipologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Pago_o_Cuota__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proforma</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ImporteTotalSameIVAAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddFacturaToInsertFactUnica_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar campos de Factura 2 que corresponda al IVA del loop actual con fecha factura posterior</description>
        <name>Assign_FacturaFactUnica_02</name>
        <label>Assign_FacturaFactUnica_02</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Var_FacturaAux.Fecha_de_emision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_FechaSegundaFactura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddFacturaToInsertFactUnica_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Calcular el importe de las mejoras con mismo IVA por participante</description>
        <name>Assign_ImporteTotalFactSeparada</name>
        <label>Assign_ImporteTotalFactSeparada</label>
        <locationX>798</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Var_ImporteTotalSameIVAAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_PrecioMejoraActualPorParticipante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MejorasFactSeparada_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Calcular el importe de las mejoras con mismo IVA</description>
        <name>Assign_ImporteTotalFactUnica</name>
        <label>Assign_ImporteTotalFactUnica</label>
        <locationX>1238</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Var_ImporteTotalSameIVAAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_MejorasFactUnica_01.PrecioTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MejorasFactUnica_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar la linea de factura de la mejora actual.</description>
        <name>Assign_LineaFacturaFactSeparada</name>
        <label>Assign_LineaFacturaFactSeparada</label>
        <locationX>666</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FacturasCreadasFactSeparada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PrecioLineaFactSeparada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MejorasFactSeparada_02.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Numero_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NumeroLineaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddLineaToInsertFactSeparada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar la linea de factura de la mejora actual.</description>
        <name>Assign_LineaFacturaFactUnica</name>
        <label>Assign_LineaFacturaFactUnica</label>
        <locationX>1194</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FacturasCreadasFactUnica.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PrecioLineaFactUnica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MejorasFactUnica_02.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Tipo_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mejoras</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_LineaFacturaAux.Numero_de_linea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_NumeroLineaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddLineaFacturaToInsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resetear la variable número de línea auxiliar para reiniciar la asignación a nuevas líneas.</description>
        <name>Assign_ResetNumeroLinea_01</name>
        <label>Assign_ResetNumeroLinea_01</label>
        <locationX>1106</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Var_NumeroLineaAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FacturasCreadasFactUnica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resetear la variable número de línea auxiliar para reiniciar la asignación a nuevas líneas.</description>
        <name>Assign_ResetNumeroLinea_02</name>
        <label>Assign_ResetNumeroLinea_02</label>
        <locationX>578</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>Var_NumeroLineaAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Participantes_01</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filtrar las mejoras de oportunidad por IVA actual del loop</description>
        <name>Filter_MejorasFactSeparada_01</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_MejorasFactSeparada_01</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>currentItem_Filter_MejorasFactSeparada_01</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_MejorasOportunidad</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_MejorasFactSeparada_01.IVANumero__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_IVAFactSeparada</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_MejorasFactSeparada_01</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filtrar las mejoras de oportunidad por IVA actual de la factura creada</description>
        <name>Filter_MejorasFactSeparada_02</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_MejorasFactSeparada_02</label>
        <locationX>578</locationX>
        <locationY>3122</locationY>
        <assignNextValueToReference>currentItem_Filter_MejorasFactUnica_02</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_MejorasOportunidad</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_MejorasFactUnica_02.IVANumero__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_FacturasCreadasFactSeparada.Codigo_Impuesto__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_MejorasFactSeparada_02</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filtrar las mejoras oportunidad por IVA actual del loop</description>
        <name>Filter_MejorasFactUnica_01</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_MejorasFactUnica_01</label>
        <locationX>1150</locationX>
        <locationY>1166</locationY>
        <assignNextValueToReference>currentItem_Filter_MejorasFactSeparada_01</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_MejorasOportunidad</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_MejorasFactSeparada_01.IVANumero__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_IVAFactUnica</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_MejorasFactUnica_01</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filtrar las mejoras de oportunidad por IVA actual de la factura creada</description>
        <name>Filter_MejorasFactUnica_02</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_MejorasFactUnica_02</label>
        <locationX>1106</locationX>
        <locationY>2498</locationY>
        <assignNextValueToReference>currentItem_Filter_MejorasFactUnica_02</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_MejorasOportunidad</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_MejorasFactUnica_02.IVANumero__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_FacturasCreadasFactUnica.Codigo_Impuesto__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_MejorasFactUnica_02</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filtrar los participantes por el cliente de la factura actual del Loop.</description>
        <name>Filter_ParticipantesFactSeparada</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_ParticipantesFactSeparada</label>
        <locationX>402</locationX>
        <locationY>2906</locationY>
        <assignNextValueToReference>currentItem_Filter_ParticipantesFactSeparada</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Participantes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_ParticipantesFactSeparada.Cliente__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_FacturasCreadasFactSeparada.Cliente__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Participantes_01</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Verificar si hay que el IVA de la mejora ya fue recogida o no.</description>
        <name>Decision_AnadirIVA</name>
        <label>Decision_Añadir IVA</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_AddIVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>AnadirIVA_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCol_IVA</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Mejoras.IVANumero__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Mejoras</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si existen participantes en la oportunidad y la facturación es por separado</description>
        <name>Decision_ExistenParticipantes</name>
        <label>Decision_Existen participantes</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExistenParticipantes_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Participantes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Participantes</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la facturación de las mejoras es por separado o única.</description>
        <name>Decision_FacturacionUnicaOSeparada</name>
        <label>Decision_Facturacion Unica o Separada</label>
        <locationX>688</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FacturacionUnicaOSeparada_Separada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MejorasOportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Facturacion_por_separado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Participantes</targetReference>
            </connector>
            <label>Separada</label>
        </rules>
        <rules>
            <name>FacturacionUnicaOSeparada_Unica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MejorasOportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Facturacion_por_separado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_IVAFactUnica</targetReference>
            </connector>
            <label>Única</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el importe total supera el limite.</description>
        <name>Decision_SuperaLimiteFactSeparada</name>
        <label>Decision_SuperaLimiteFactSeparada</label>
        <locationX>710</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Assign_FacturaFactSeparada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SuperaLimiteFactSeparada_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_TotalPrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Promocion__r.LimiteImporteMejoras__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FacturaFactSeparada_01</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el importe total supera el limite.</description>
        <name>Decision_SuperaLimiteFactUnica</name>
        <label>Decision_SuperaLimiteFactUnica</label>
        <locationX>1150</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assign_FacturaFactUnica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SuperaLimiteFactUnica_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_TotalPrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Promocion__r.LimiteImporteMejoras__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FacturaFactUnica_01</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Subflujo para crear facturas de mejoras de la oportunidad.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula que devuelve la fecha de hoy más los meses puestos en la promoción.</description>
        <name>For_FechaSegundaFactura</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate} ,{!Get_Opportunity.Promocion__r.MesesSegundaFacturaMejoras__c})</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve el 50% del importe total de la factura a crear.</description>
        <name>For_ImporteFacturaDivide2FactSeparada</name>
        <dataType>Currency</dataType>
        <expression>{!Var_ImporteTotalSameIVAAux} * 0.5</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Variable que devuelve el 50% del precio total de las mejoras a asignar a la factura.</description>
        <name>For_ImporteFacturaDivide2FactUnica</name>
        <dataType>Currency</dataType>
        <expression>{!Var_ImporteTotalSameIVAAux} * 0.5</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula que devuelve el importe de la factura en función de la participación del participante.</description>
        <name>For_PrecioLineaFactSeparada</name>
        <dataType>Currency</dataType>
        <expression>IF({!Var_TotalPrice} &gt; {!Get_Opportunity.Promocion__r.LimiteImporteMejoras__c}, {!Loop_MejorasFactSeparada_02.PrecioTotal__c} * ({!Loop_Participantes_01.Porcentaje_de_participacion__c} / 100) * 0.5 ,
{!Loop_MejorasFactSeparada_02.PrecioTotal__c} * ({!Loop_Participantes_01.Porcentaje_de_participacion__c} / 100) )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula que devuelve el precio de la linea de la factura en función de si supera el limite el precio total o no.</description>
        <name>For_PrecioLineaFactUnica</name>
        <dataType>Currency</dataType>
        <expression>IF({!Var_TotalPrice} &gt; {!Get_Opportunity.Promocion__r.LimiteImporteMejoras__c}, {!Loop_MejorasFactUnica_02.PrecioTotal__c} * 0.5 ,
 {!Loop_MejorasFactUnica_02.PrecioTotal__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula que devuelve el precio total de la mejora actual por participante.</description>
        <name>For_PrecioMejoraActualPorParticipante</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_MejorasFactSeparada_01.PrecioTotal__c} * ({!Loop_Participantes.Porcentaje_de_participacion__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Crear Facturas de mejora {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Crear Facturas de mejoras</label>
    <loops>
        <description>Iterar las facturas creadas para crear sus líneas.</description>
        <name>Loop_FacturasCreadasFactSeparada</name>
        <label>Loop_FacturasCreadasFactSeparada</label>
        <locationX>50</locationX>
        <locationY>2798</locationY>
        <collectionReference>Var_FacturasToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_ParticipantesFactSeparada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_LineasFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar las facturas creadas para crear sus líneas.</description>
        <name>Loop_FacturasCreadasFactUnica</name>
        <label>Loop_FacturasCreadasFactUnica</label>
        <locationX>930</locationX>
        <locationY>2390</locationY>
        <collectionReference>Var_FacturasToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_MejorasFactUnica_02</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_LineasFactura</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar los IVAs para separar mejoras por IVA y participante.</description>
        <name>Loop_IVAFactSeparada</name>
        <label>Loop_IVAFactSeparada</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <collectionReference>VarCol_IVA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_MejorasFactSeparada_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Participantes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar los IVAs para separar Mejoras por IVA.</description>
        <name>Loop_IVAFactUnica</name>
        <label>Loop_IVAFactUnica</label>
        <locationX>930</locationX>
        <locationY>1058</locationY>
        <collectionReference>VarCol_IVA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_MejorasFactUnica_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FacturasFactUnica</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar las mejoras de oportunidad para obtener el precio total.</description>
        <name>Loop_Mejoras</name>
        <label>Loop_Mejoras</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_MejorasOportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AddPrice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_FacturacionUnicaOSeparada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar las mejoras para facturar por separado.</description>
        <name>Loop_MejorasFactSeparada_01</name>
        <label>Loop_MejorasFactSeparada_01</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <collectionReference>Filter_MejorasFactSeparada_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ImporteTotalFactSeparada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_SuperaLimiteFactSeparada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar las mejoras de oportunidad para ir creando las lineas de factura</description>
        <name>Loop_MejorasFactSeparada_02</name>
        <label>Loop_MejorasFactSeparada_02</label>
        <locationX>578</locationX>
        <locationY>3230</locationY>
        <collectionReference>Filter_MejorasFactSeparada_02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LineaFacturaFactSeparada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_ResetNumeroLinea_02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_MejorasFactUnica_01</name>
        <label>Loop_MejorasFactUnica_01</label>
        <locationX>1150</locationX>
        <locationY>1274</locationY>
        <collectionReference>Filter_MejorasFactUnica_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ImporteTotalFactUnica</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_SuperaLimiteFactUnica</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar las mejoras de oportunidad para ir creando las lineas de factura</description>
        <name>Loop_MejorasFactUnica_02</name>
        <label>Loop_MejorasFactUnica_02</label>
        <locationX>1106</locationX>
        <locationY>2606</locationY>
        <collectionReference>Filter_MejorasFactUnica_02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LineaFacturaFactUnica</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_ResetNumeroLinea_01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar participantes de la oportunidad.</description>
        <name>Loop_Participantes</name>
        <label>Loop_Participantes</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Participantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_IVAFactSeparada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FacturasFactSeparada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterar los participantes para crear las lineas de facturas por participante.</description>
        <name>Loop_Participantes_01</name>
        <label>Loop_Participantes_01</label>
        <locationX>402</locationX>
        <locationY>3014</locationY>
        <collectionReference>Filter_ParticipantesFactSeparada</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_MejorasFactSeparada_02</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_FacturasCreadasFactSeparada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crear Facturas por participante.</description>
        <name>Create_FacturasFactSeparada</name>
        <label>Create_FacturasFactSeparada</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>Loop_FacturasCreadasFactSeparada</targetReference>
        </connector>
        <inputReference>Var_FacturasToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Crear Facturas</description>
        <name>Create_FacturasFactUnica</name>
        <label>Create_FacturasFactUnica</label>
        <locationX>930</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>Loop_FacturasCreadasFactUnica</targetReference>
        </connector>
        <inputReference>Var_FacturasToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Crear las líneas de factura.</description>
        <name>Create_LineasFactura</name>
        <label>Create_Lineas de factura</label>
        <locationX>688</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>Assign_ExisteFacturasMejoras</targetReference>
        </connector>
        <inputReference>Var_LineasFacturaToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtener los registros de Mejoras Oportunidad aptos.</description>
        <name>Get_MejorasOportunidad</name>
        <label>Get_MejorasOportunidad</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Mejoras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GeneraFactura__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MejoraOportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener la oportunidad que lanza el subflujo</description>
        <name>Get_Opportunity</name>
        <label>Get_Opportunity</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MejorasOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener los participantes de la oportunidad.</description>
        <name>Get_Participantes</name>
        <label>Get_Participantes</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExistenParticipantes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Porcentaje_de_participacion__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participante__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar la oportunidad que inicia el subflujo.</description>
        <name>Update_Opportunity</name>
        <label>Update_Opportunity</label>
        <locationX>688</locationX>
        <locationY>4298</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_MejorasFactSeparada_01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejoraOportunidad__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_MejorasFactUnica_02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MejoraOportunidad__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_ParticipantesFactSeparada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participante__c</objectType>
    </variables>
    <variables>
        <description>Variable auxiliar para la creación de facturas.</description>
        <name>Var_FacturaAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <description>Variable que contiene las facturas a insertar</description>
        <name>Var_FacturasToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
    <variables>
        <description>Variable auxilliar para almacenar el importe total</description>
        <name>Var_ImporteTotalSameIVAAux</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Variable auxiliar para la creación de las líneas de facturas</description>
        <name>Var_LineaFacturaAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <description>Variable que contiene las líneas de facturas a insertar.</description>
        <name>Var_LineasFacturaToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_factura__c</objectType>
    </variables>
    <variables>
        <description>Variable auxiliar para ir añadiendo número de líneas en orden.</description>
        <name>Var_NumeroLineaAux</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable que contiene el valor total.</description>
        <name>Var_TotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Variable que contiene los diferentes IVAs de las mejoras de la oportundiad.</description>
        <name>VarCol_IVA</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Variable de entrada que contiene el Id de la oportunidad.</description>
        <name>VarIn_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
