force-app/main/default/flows/Proceso_de_aprobacion_de_tarifario_automatica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ac_Aprobacion_Tarifario_ADI</name>
        <label>Ac_Aprobacion Tarifario ADI</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Actualizar_Last_Submitter_en_Promocion</targetReference>
        </connector>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Carga Automática Tarifario</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Tarifario_ADI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ac_Aprobacion_Tarifario_SH</name>
        <label>Ac_Aprobacion Tarifario SH</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Actualizar_Last_Submitter_en_Promocion</targetReference>
        </connector>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Carga Automática Tarifario</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Tarifario_SOLDIT_HOMES2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>Selecciona el proceso de aprobación según el tipo de comercializadora</description>
        <name>Dec_Tipo_Proceso_Aprobacion</name>
        <label>Dec_Tipo Proceso Aprobacion</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Ac_Aprobacion_Tarifario_SH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceso Aprobacion SOLDIT HOMES</defaultConnectorLabel>
        <rules>
            <name>Proceso_Aprobacion_ADI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Datos_Promocion.Comercializa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ac_Aprobacion_Tarifario_ADI</targetReference>
            </connector>
            <label>Proceso Aprobacion ADI</label>
        </rules>
    </decisions>
    <formulas>
        <name>UsuarioActual</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Proceso de aprobacion de tarifario {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proceso de aprobacion de tarifario automática</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Datos_Promocion</name>
        <label>Obtener Datos Promocion</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_Tipo_Proceso_Aprobacion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Last_Submitter_en_Promocion</name>
        <label>Actualizar Last Submitter en Promocion</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Submitter__c</field>
            <value>
                <elementReference>UsuarioActual</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <startElementReference>Actualizar_precios_inmuebles</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Actualizar_precios_inmuebles</name>
        <label>Actualizar precios inmuebles</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Obtener_Datos_Promocion</targetReference>
        </connector>
        <flowName>Roll_up_Precios_inmuebles</flowName>
        <inputAssignments>
            <name>idPromocion</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
