force-app/main/default/flows/Product_Triggered_AfterUpdateEnvioEmailInmuebleNoLibre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>El inmueble ha dejado de estar libre.</description>
        <name>EnvioAlertaEmailInmuebleNoLibre</name>
        <label>Envío email inmueble publicado no libre</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Product2.AlertaEmailInmueblePublicadoNoLibre</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>Comprueba si la promoción tiene el check de Web Avintia está o no está seleccionado.</description>
        <name>Dec_PromocionInmuebleWebAvintiaCheck</name>
        <label>Dec_PromocionInmuebleWebAvintiaCheck</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WebAvintiaTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PromocionInmueble.WebAvinita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnvioAlertaEmailInmuebleNoLibre</targetReference>
            </connector>
            <label>Web Avintia True</label>
        </rules>
    </decisions>
    <description>Informará mediante el envío de un email de que un inmueble ya no está libre.</description>
    <interviewLabel>Product_Triggered_AfterUpdateEnvioEmailInmuebleNoLibre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product_Triggered_AfterUpdateEnvioEmailInmuebleNoLibre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Recoge el id de la promoción asociada al inmueble (producto)</description>
        <name>Get_PromocionInmueble</name>
        <label>Get_PromocionInmueble</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_PromocionInmuebleWebAvintiaCheck</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Promocion__r.Id</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
    </recordLookups>
    <startElementReference>Get_PromocionInmueble</startElementReference>
    <status>Active</status>
</Flow>
