force-app/main/default/flows/Promocion_Comercial_API_Triggered_AfterInsert_CambiaComercialAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Comprueba que Comercial API esté relleno.</description>
        <name>Decision_ComercialAPI</name>
        <label>Decision_ComercialAPI</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TieneComercial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comercial_API__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comercial_API__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_PromocionYComercial</targetReference>
            </connector>
            <label>Tiene Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa si los campos necesarios para llamar al subflujo están rellenos o no.</description>
        <name>Decision_PromocionYComercial</name>
        <label>Decision_PromocionYComercial</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstaRelleno</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promocion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comercial_API__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comercial_API__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_CrearPermisos</targetReference>
            </connector>
            <label>Está Relleno</label>
        </rules>
    </decisions>
    <description>Si al crear el registro existe comercial llamará al subflujo &quot;crear permisos&quot;</description>
    <interviewLabel>_Promocion_Comercial_API_Triggered_AfterInsert_CambiaComercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Promocion_Comercial_API_Triggered_AfterInsert_CambiaComercialAPI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Decision_ComercialAPI</startElementReference>
    <status>Active</status>
    <subflows>
        <description>llama al flujo &quot;Crear Permisos&quot;</description>
        <name>Subflujo_CrearPermisos</name>
        <label>Subflujo_CrearPermisos</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>Crear_permisos</flowName>
        <inputAssignments>
            <name>IdObjeto</name>
            <value>
                <elementReference>$Record.Promocion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Comercial_API__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
