force-app/main/default/flows/Promocion_Triggered_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Comprobar si hace hay que actualizar la tarifa o no.</description>
        <name>Decision_ActualizarTarifa</name>
        <label>Decision_Actualizar tarifa</label>
        <locationX>710</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Decision_CertificacionEnergeticaSeRelleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>ActualizarTarifa_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comercialización</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlow_ActualizaTarifa</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si se ha rellenado el campo &quot;Certificacion energetica&quot;</description>
        <name>Decision_CertificacionEnergeticaSeRelleno</name>
        <label>Decision_Certificacion energetica se relleno</label>
        <locationX>710</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Decision_EstadoPromocion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CertificacionEnergeticaRelleno_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Certificacion_energetica__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Certificacion_energetica__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CertifEnergInmuebles</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar el estado de la promoción.</description>
        <name>Decision_EstadoPromocion</name>
        <label>Decision_Estado promocion</label>
        <locationX>710</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>EstadoPromocion_EsNuevaInformada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PromocionSinInfomar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tarea_AltaPromocion</targetReference>
            </connector>
            <label>Nueva</label>
        </rules>
        <rules>
            <name>EstadoPromocion_ConfiguracionTecnica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proyecto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configuración técnica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tarea_CargaTipoInmuebles</targetReference>
            </connector>
            <label>Configuración técnica</label>
        </rules>
        <rules>
            <name>EstadoPromocion_ConfiguracionComercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proyecto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configuración comercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAREASCOMPLETADASPRUEBA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tarea_AjusteTarifario</targetReference>
            </connector>
            <label>Configuración comercial</label>
        </rules>
        <rules>
            <name>EstadoPromocion_DocumentacionMarketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proyecto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentación marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAREASCOMPLETADASPRUEBA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tarea_CargaDocumentacionMarketing</targetReference>
            </connector>
            <label>Documentación marketing</label>
        </rules>
        <rules>
            <name>EstadoPromocion_AprobarComercializacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proyecto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobar comercializacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAREASCOMPLETADASPRUEBA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LANZAPROCESO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Promocion_BorrarCampoAuxiliar</targetReference>
            </connector>
            <label>Aprobar comercialización</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si la promoción esta pendiente de aprobación tarifario</description>
        <name>Decision_PendienteAprobacionTarifario</name>
        <label>Decision_Pendiente Aprobacion Tarifario</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Decision_ActualizarTarifa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PendienteAprobacionTarifario_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pendiente_de_aprobacion_de_tarifario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_ActualizarSubmitter</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>comprobar si el Tarifario ha sido aprobado</description>
        <name>Decision_TarifarioAprobado</name>
        <label>Decision_Tarifario Aprobado</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Decision_PendienteAprobacionTarifario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>TarifarioAprobado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Aprobar_tarifario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Aprobar_tarifario__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_AprobarPrecioPropuesto</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el Técnico Aprobador ha cambiado</description>
        <name>Decision_TecnicoAprobadorCambia</name>
        <label>Decision_Técnico Aprobador cambia</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Decision_TarifarioAprobado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>TecnicoAprobadorCambia_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tecnico_Aprobador__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tecnico_Aprobador__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_CreaPermisos</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Flujo del Objeto &apos;Promocion&apos; que se lanza al crear o editar el registro.
15/06 MSC: PBs &quot;PB_PromocionTareasPorEstados&quot; y &quot;aprobar tarifario&quot;</description>
    <formulas>
        <description>Formula que devuelve verdadero si la promoción es nueva</description>
        <name>For_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Promocion_Triggered_AfterInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Promocion_Triggered_After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crear tarea &apos;Ajuste del ritmo de ventas&apos;</description>
        <name>Create_Tarea_AjusteRitmoVentas</name>
        <label>Create_Tarea_Ajuste ritmo ventas</label>
        <locationX>578</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ajuste del ritmo de ventas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Ajuste del tarifario&apos;</description>
        <name>Create_Tarea_AjusteTarifario</name>
        <label>Create_Tarea_Ajuste tarifario</label>
        <locationX>578</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Create_Tarea_AjusteRitmoVentas</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ajuste del tarifario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Alta promoción&apos;</description>
        <name>Create_Tarea_AltaPromocion</name>
        <label>Create_Tarea_Alta promoción</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Update_Promocion_EstadoAltaPromocion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Tecnico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Alta promoción</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Asociación inmuebles&apos;</description>
        <name>Create_Tarea_AsociacionInmuebles</name>
        <label>Create_Tarea_Asociación inmuebles</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Tecnico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Asociación inmuebles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Carga de documentación marketing&apos;</description>
        <name>Create_Tarea_CargaDocumentacionMarketing</name>
        <label>Create_Tarea_Carga documentación marketing</label>
        <locationX>842</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Create_Tarea_ValidacionDocumentacionMarketing</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Marketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Carga de documentación marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Carga de los hitos&apos;.</description>
        <name>Create_Tarea_CargaHitos</name>
        <label>Create_Tarea_Carga hitos</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Planificacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Carga de los hitos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Carga de inmuebles&apos;</description>
        <name>Create_Tarea_CargaInmuebles</name>
        <label>Create_Tarea_Carga inmuebles</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Create_Tarea_AsociacionInmuebles</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Tecnico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Carga de inmuebles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Carga de tipo de inmuebles&apos;</description>
        <name>Create_Tarea_CargaTipoInmuebles</name>
        <label>Create_Tarea_Carga tipo inmuebles</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Create_Tarea_CargaInmuebles</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Tecnico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Carga de tipo de inmuebles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea &apos;Validación de documentación marketing&apos;</description>
        <name>Create_Tarea_ValidacionDocumentacionMarketing</name>
        <label>Create_Tarea_Validación documentación marketing</label>
        <locationX>842</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Tecnico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Validación de documentación marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <description>Actualizar Certif. Energ en los Inmuebles.</description>
        <name>Update_CertifEnergInmuebles</name>
        <label>Update_Certif. Energ en los Inmuebles</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Decision_EstadoPromocion</targetReference>
        </connector>
        <filters>
            <field>Certificado_de_eficiencia_energetica__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificado_de_eficiencia_energetica__c</field>
            <value>
                <elementReference>$Record.Certificacion_energetica__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Productos__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar técnico aprobador.</description>
        <name>Update_DocumentVersionsHistory_Tecnico</name>
        <label>Update_DocumentVersionsHistory_Tecnico</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Decision_TarifarioAprobado</targetReference>
        </connector>
        <inputAssignments>
            <field>Tecnico__c</field>
            <value>
                <elementReference>$Record.Tecnico_Aprobador__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Document_Versions_History__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la promoción borrando el campo auxiliar.</description>
        <name>Update_Promocion_BorrarCampoAuxiliar</name>
        <label>Update_Promocion_Borrar Campo Auxiliar</label>
        <locationX>1106</locationX>
        <locationY>2147</locationY>
        <inputAssignments>
            <field>TAREASCOMPLETADASPRUEBA__c</field>
            <value>
                <stringValue>LANZAPROCESO</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el estado a &apos;Alta promocion&apos;</description>
        <name>Update_Promocion_EstadoAltaPromocion</name>
        <label>Update_Promocion_Estado Alta promocion</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Create_Tarea_CargaHitos</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Alta promoción</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fase__c</field>
            <value>
                <stringValue>Anteproyecto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision_TecnicoAprobadorCambia</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Iniciar el subflujo &quot;Actualizar submitter approval process promocion&quot;.</description>
        <name>Subflow_ActualizarSubmitter</name>
        <label>Subflow_Actualizar submitter</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Decision_ActualizarTarifa</targetReference>
        </connector>
        <flowName>Actualizar_submitter_approval_process_promocion</flowName>
        <inputAssignments>
            <name>promocionId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Ejecutar el subflujo &quot;Actualiza Tarifa&quot;.</description>
        <name>SubFlow_ActualizaTarifa</name>
        <label>SubFlow_Actualiza Tarifa</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Decision_CertificacionEnergeticaSeRelleno</targetReference>
        </connector>
        <flowName>Actualiza_Tarifa_V1</flowName>
        <inputAssignments>
            <name>idPromocion</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el subflujo &quot;aprobar precio propuesto&quot;.</description>
        <name>Subflow_AprobarPrecioPropuesto</name>
        <label>Subflow_aprobar precio propuesto</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Subflow_CreacionAvisoTarifarioAprobado</targetReference>
        </connector>
        <flowName>aprobar_precio_propuesto</flowName>
        <inputAssignments>
            <name>idpromocion</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el subflujo &quot;Creacion Aviso Tarifario Aprobado&quot;.</description>
        <name>Subflow_CreacionAvisoTarifarioAprobado</name>
        <label>Subflow_Creacion Aviso Tarifario Aprobado</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Decision_PendienteAprobacionTarifario</targetReference>
        </connector>
        <flowName>Creacion_Aviso_Tarifario_Aprobado</flowName>
        <inputAssignments>
            <name>IdComercialPromocion</name>
            <value>
                <elementReference>$Record.Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdPromocion</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SoloRecordatorio</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Iniciar el flujo &quot;Crea Permisos Flex&quot;.</description>
        <name>Subflow_CreaPermisos</name>
        <label>Subflow_Crea Permisos</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_DocumentVersionsHistory_Tecnico</targetReference>
        </connector>
        <flowName>Crea_Permisos_Flex</flowName>
        <inputAssignments>
            <name>CustomRowCause</name>
            <value>
                <stringValue>Departamento_Tecnico__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdObjeto</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdUserOrProfileName</name>
            <value>
                <elementReference>$Record.Tecnico_Aprobador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Level</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserOrProfile</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
