force-app/main/default/flows/Roll_up_Inmuebles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Incrementa_Garaje</name>
        <label>Incrementa Garaje</label>
        <locationX>2024</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>numeroGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajeCalles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_Garaje_con_calles_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Local</name>
        <label>Incrementa Local</label>
        <locationX>3080</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>numeroLocales</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilLocales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCLocales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EstadoCorrecto_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Total_Garajes_Permuta</name>
        <label>Incrementa Total Garajes Permuta</label>
        <locationX>2288</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalGarajesPermuta</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajeCalles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_Garaje_con_calles_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Total_Garajes_Vinculados</name>
        <label>Incrementa Total Garajes Vinculados</label>
        <locationX>2552</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalGarajesVinculados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajeCalles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_Garaje_con_calles_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Total_Local_Permuta</name>
        <label>Incrementa Total Local Permuta</label>
        <locationX>3520</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalLocalesPermuta</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroLocales</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilLocales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCLocales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Total_Trastero_Permuta</name>
        <label>Incrementa Total Trastero Permuta</label>
        <locationX>1760</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalTrasterosPermuta</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilTrasteroPasillos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_Trastero_con_pasillos_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Total_Trasteros_Vinculados</name>
        <label>Incrementa Total Trasteros Vinculados</label>
        <locationX>1496</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalTrasterosVinculados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilTrasteroPasillos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_Trastero_con_pasillos_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Total_Viviendas_Permuta</name>
        <label>Incrementa Total Viviendas Permuta</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalViviendasPermuta</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroViviendas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilViviendas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConstruida</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupTerrazasCub</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Terrazas_Cubiertas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupTerrazasDes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Terrazas_Descubiertas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupJardines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Jardines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCViviendas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCsinZonas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_ZZCC_sin_Zon_Exte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Trastero</name>
        <label>Incrementa Trastero</label>
        <locationX>1232</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>numeroTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilTrasteroPasillos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_Trastero_con_pasillos_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCTrasteros</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementa_Vivienda</name>
        <label>Incrementa Vivienda</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>numeroViviendas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilViviendas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Util_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConstruida</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupTerrazasCub</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Terrazas_Cubiertas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupTerrazasDes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Terrazas_Descubiertas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupJardines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Jardines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCViviendas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_total_con_ZZCC_m2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCsinZonas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Superficie_Construida_ZZCC_sin_Zon_Exte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AuxiliarPrecioPropuesto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EstadoCorrecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementaTotalComercializado</name>
        <label>Incrementa Total Comercializado</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementaTotalComercializado_0</name>
        <label>Incrementa Total Comercializado</label>
        <locationX>2816</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicilizaContadores</name>
        <label>InicilizaContadores</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>numeroGarajes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroLocales</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTrasteros</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroViviendas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConstruida</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCGarajes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCLocales</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCsinZonas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCTrasteros</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupConsZZCCViviendas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupJardines</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupTerrazasCub</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupTerrazasDes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajeCalles</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilGarajes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilLocales</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupUtilTrasteroPasillos</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilTrasteros</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supUtilViviendas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalGarajesPermuta</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalGarajesVinculados</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalLocalesPermuta</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTrasterosPermuta</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTrasterosVinculados</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalViviendasPermuta</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Inmuebles_Por_Tipo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalComercializadoTotalEscriturado</name>
        <label>Total Comercializado y Total Escriturado</label>
        <locationX>792</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalEscriturado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalComercializadoTotalEscriturado_0</name>
        <label>Total Comercializado y Total Escriturado</label>
        <locationX>3080</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TotalComercializado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalEscriturado</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CondicionalTipologiaInmueble</name>
        <label>Qué tipo de inmueble es?</label>
        <locationX>2024</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Es_vivienda_y_permuta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Total_Viviendas_Permuta</targetReference>
            </connector>
            <label>Es vivienda y permuta</label>
        </rules>
        <rules>
            <name>Es_Vivienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vivienda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Vivienda</targetReference>
            </connector>
            <label>Es Vivienda y no es permuta</label>
        </rules>
        <rules>
            <name>Es_Trastero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trastero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asociado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Trastero</targetReference>
            </connector>
            <label>Es Trastero No vinculado ni permuta</label>
        </rules>
        <rules>
            <name>Es_trastero_Vinculado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trastero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asociado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Total_Trasteros_Vinculados</targetReference>
            </connector>
            <label>Es trastero Vinculado</label>
        </rules>
        <rules>
            <name>Es_trastero_Permuta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trastero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Total_Trastero_Permuta</targetReference>
            </connector>
            <label>Es trastero Permuta</label>
        </rules>
        <rules>
            <name>Es_Garaje</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garaje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Asociado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Garaje</targetReference>
            </connector>
            <label>Es Garaje No Vinculado ni permuta</label>
        </rules>
        <rules>
            <name>Es_Garaje_Permuta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garaje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Total_Garajes_Permuta</targetReference>
            </connector>
            <label>Es Garaje Permuta</label>
        </rules>
        <rules>
            <name>Es_Garaje_Vinculado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garaje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asociado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Total_Garajes_Vinculados</targetReference>
            </connector>
            <label>Es Garaje Vinculado</label>
        </rules>
        <rules>
            <name>Es_Local</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Local</targetReference>
            </connector>
            <label>Es Local No Permuta</label>
        </rules>
        <rules>
            <name>Es_Local_Permuta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permuta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Tipologia_Vivienda_Garaje_Trastero_Local__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementa_Total_Local_Permuta</targetReference>
            </connector>
            <label>Es Local Permuta</label>
        </rules>
    </decisions>
    <decisions>
        <name>EstadoCorrecto</name>
        <label>Estado correcto?</label>
        <locationX>792</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>bucleInmuebles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Correcto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Libre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Apartado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementaTotalComercializado</targetReference>
            </connector>
            <label>Correcto</label>
        </rules>
        <rules>
            <name>Escriturado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TotalComercializadoTotalEscriturado</targetReference>
            </connector>
            <label>Escriturado</label>
        </rules>
    </decisions>
    <decisions>
        <name>EstadoCorrecto_0_0</name>
        <label>Estado correcto?</label>
        <locationX>3080</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>bucleInmuebles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Correcto_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Libre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Apartado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementaTotalComercializado_0</targetReference>
            </connector>
            <label>Correcto</label>
        </rules>
        <rules>
            <name>Escriturado_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entregado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TotalComercializadoTotalEscriturado_0</targetReference>
            </connector>
            <label>Escriturado</label>
        </rules>
    </decisions>
    <description>Optimización del número de iteraciones y cambio de nombre en variable de entrada para añadir botón</description>
    <interviewLabel>Roll up Inmuebles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up Inmuebles</label>
    <loops>
        <name>bucleInmuebles</name>
        <label>bucleInmuebles</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>inmueble</assignNextValueToReference>
        <collectionReference>inmuebles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CondicionalTipologiaInmueble</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza_Promocion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Inmuebles_Por_Tipo</name>
        <label>get Inmuebles Por Tipo</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPromocion</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>inmuebles</outputReference>
        <queriedFields>Superficie_Construida_m2__c</queriedFields>
        <queriedFields>Superficie_Construida_total_con_ZZCC_m2__c</queriedFields>
        <queriedFields>Superficie_Jardines__c</queriedFields>
        <queriedFields>Superficie_Terrazas_Cubiertas__c</queriedFields>
        <queriedFields>Superficie_Terrazas_Descubiertas__c</queriedFields>
        <queriedFields>Superficie_Util_Garaje_con_calles_m2__c</queriedFields>
        <queriedFields>Superficie_Util_m2__c</queriedFields>
        <queriedFields>Superficie_Util_Trastero_con_pasillos_m2__c</queriedFields>
        <queriedFields>Tipologia_Vivienda_Garaje_Trastero_Local__c</queriedFields>
        <queriedFields>Estado__c</queriedFields>
        <queriedFields>Superficie_Construida_ZZCC_sin_Zon_Exte__c</queriedFields>
        <queriedFields>Precio__c</queriedFields>
        <queriedFields>Precio_propuesto__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Promocion</name>
        <label>Actualiza Promoción</label>
        <locationX>176</locationX>
        <locationY>1286</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_Garages_permutas__c</field>
            <value>
                <elementReference>TotalGarajesPermuta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Garages_totales_promocion__c</field>
            <value>
                <elementReference>numeroGarajes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Garages_vinculados__c</field>
            <value>
                <elementReference>TotalGarajesVinculados</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Locales_permutas__c</field>
            <value>
                <elementReference>TotalLocalesPermuta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Locales_totales_promocion__c</field>
            <value>
                <elementReference>numeroLocales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Trasteros_permutas__c</field>
            <value>
                <elementReference>TotalTrasterosPermuta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Trasteros_totales_promocion__c</field>
            <value>
                <elementReference>numeroTrasteros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Trasteros_vinculados__c</field>
            <value>
                <elementReference>TotalTrasterosVinculados</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Viviendas_permutas__c</field>
            <value>
                <elementReference>TotalViviendasPermuta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Viviendas_totales_promocion__c</field>
            <value>
                <elementReference>numeroViviendas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suma_Precios_Inmuebles__c</field>
            <value>
                <elementReference>SumaPreciosInmuebles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suma_Precios_Propuestos_Inmuebles__c</field>
            <value>
                <elementReference>SumaPreciosPropuestosInmuebles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sup_Const_total_con_ZZCC_garajes_cal__c</field>
            <value>
                <elementReference>SupConsZZCCGarajes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sup_Const_total_con_ZZCC_locales_cal__c</field>
            <value>
                <elementReference>SupConsZZCCLocales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sup_Const_total_con_ZZCC_trasteros_cal__c</field>
            <value>
                <elementReference>SupConsZZCCTrasteros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sup_Const_total_con_ZZCC_viviendas_cal__c</field>
            <value>
                <elementReference>SupConsZZCCViviendas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sup_til_Trastero_con_pasillos_calculada__c</field>
            <value>
                <elementReference>SupUtilTrasteroPasillos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sup_util_Garaje_con_calles_calculada__c</field>
            <value>
                <elementReference>SupUtilGarajeCalles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_Const_ZZCC_sin_Zonas_calc__c</field>
            <value>
                <elementReference>SupConsZZCCsinZonas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_Construida_m2_calculada__c</field>
            <value>
                <elementReference>SupConstruida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_Jardines_calculada__c</field>
            <value>
                <elementReference>SupJardines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_Terrazas_Cubiertas_calculada__c</field>
            <value>
                <elementReference>SupTerrazasCub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_Terrazas_Descubiertas_calcula__c</field>
            <value>
                <elementReference>SupTerrazasDes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_util_m2_garajes_calculada__c</field>
            <value>
                <elementReference>SupUtilGarajes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_util_m2_locales_calculada__c</field>
            <value>
                <elementReference>SupUtilLocales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_util_m2_trasteros_calculada__c</field>
            <value>
                <elementReference>supUtilTrasteros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Superficie_util_m2_viviendas_calculada__c</field>
            <value>
                <elementReference>supUtilViviendas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalComercializado__c</field>
            <value>
                <elementReference>TotalComercializado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalEscrituraciones__c</field>
            <value>
                <elementReference>TotalEscriturado</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <startElementReference>InicilizaContadores</startElementReference>
    <status>Active</status>
    <variables>
        <description>Variable que se usa para almacenar el precio normal si el precio propuesto es cero. Esta es la variable que se suma a la suma global</description>
        <name>AuxiliarPrecioPropuesto</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>colTipoInmueble</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tipo_de_inmueble__c</objectType>
    </variables>
    <variables>
        <name>idPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inmueble</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>inmuebles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>numeroGarajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroLocales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroTrasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroViviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Suma de los precios de los inmuebles asociados a la promoción</description>
        <name>SumaPreciosInmuebles</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Suma de los precios propuestos de los inmuebles asociados a la promoción</description>
        <name>SumaPreciosPropuestosInmuebles</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConstruida</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCGarajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCLocales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCsinZonas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCTrasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCViviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupJardines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupTerrazasCub</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupTerrazasDes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilGarajeCalles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilGarajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilLocales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilTrasteroPasillos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>supUtilTrasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>supUtilViviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tipoInmueble</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tipo_de_inmueble__c</objectType>
    </variables>
    <variables>
        <name>TotalComercializado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalEscriturado</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalGarajesPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalGarajesVinculados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalLocalesPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTrasterosPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTrasterosVinculados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalViviendasPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
