force-app/main/default/flows/Roll_up_Precios_inmuebles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>InicilizaContadores</name>
        <label>InicilizaContadores</label>
        <locationX>246</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Inmuebles_Por_Tipo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación de la variable auxiliar al valor normal del precio propuesto.</description>
        <name>Precio_presupuesto_relleno</name>
        <label>Precio presupuesto relleno</label>
        <locationX>528</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio_propuesto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación de la variable auxiliar del precio propuesto a al precio normal</description>
        <name>Precio_propuesto_vac_o</name>
        <label>Precio propuesto vacío</label>
        <locationX>989</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>SumaPreciosPropuestosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumaPreciosInmuebles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inmueble.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decisión para dar a la variable auxiliar de precio propuesto el valor del precio normal o del propuesto. Se hace en función de si está relleno o no el precio normal</description>
        <name>Decision_Precio_Aux</name>
        <label>Decision Precio Aux</label>
        <locationX>753</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Precio_presupuesto_relleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Precio_propuesto_vacio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>inmueble.Precio_propuesto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inmueble.Precio_propuesto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Precio_propuesto_vac_o</targetReference>
            </connector>
            <label>Precio propuesto vacio</label>
        </rules>
    </decisions>
    <description>Suma el precio y precio propuesto de una promoción</description>
    <interviewLabel>Roll up Precios inmuebles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up Precios inmuebles</label>
    <loops>
        <name>bucleInmuebles</name>
        <label>bucleInmuebles</label>
        <locationX>764</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>inmueble</assignNextValueToReference>
        <collectionReference>inmuebles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Precio_Aux</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza_Promocion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Inmuebles_Por_Tipo</name>
        <label>get Inmuebles Por Tipo</label>
        <locationX>430</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bucleInmuebles</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPromocion</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>inmuebles</outputReference>
        <queriedFields>Precio__c</queriedFields>
        <queriedFields>Precio_propuesto__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Promocion</name>
        <label>Actualiza Promoción</label>
        <locationX>759</locationX>
        <locationY>31</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPromocion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Suma_Precios_Inmuebles__c</field>
            <value>
                <elementReference>SumaPreciosInmuebles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suma_Precios_Propuestos_Inmuebles__c</field>
            <value>
                <elementReference>SumaPreciosPropuestosInmuebles</elementReference>
            </value>
        </inputAssignments>
        <object>Promocion__c</object>
    </recordUpdates>
    <startElementReference>InicilizaContadores</startElementReference>
    <status>Active</status>
    <variables>
        <description>Variable que se usa para almacenar el precio normal si el precio propuesto es cero. Esta es la variable que se suma a la suma global</description>
        <name>AuxiliarPrecioPropuesto</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>colTipoInmueble</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tipo_de_inmueble__c</objectType>
    </variables>
    <variables>
        <name>idPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inmueble</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>inmuebles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>numeroGarajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroLocales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroTrasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroViviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Suma de los precios de los inmuebles asociados a la promoción</description>
        <name>SumaPreciosInmuebles</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Suma de los precios propuestos de los inmuebles asociados a la promoción</description>
        <name>SumaPreciosPropuestosInmuebles</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConstruida</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCGarajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCLocales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCsinZonas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCTrasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupConsZZCCViviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupJardines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupTerrazasCub</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupTerrazasDes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilGarajeCalles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilGarajes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilLocales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupUtilTrasteroPasillos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>supUtilTrasteros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>supUtilViviendas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tipoInmueble</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tipo_de_inmueble__c</objectType>
    </variables>
    <variables>
        <name>TotalGarajesPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalGarajesVinculados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalLocalesPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTrasterosPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTrasterosVinculados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalViviendasPermuta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
