force-app/main/default/flows/TriggeredflowLeadafterupdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Asignamos el ID del registro AccountPromocion a la tarea actual</description>
        <name>AsignarAccountPromocion</name>
        <label>AsignarAccountPromocion</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>TareaAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTareasLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaAux.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAccountPromocion.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionTareasAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TareaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetTareaAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos los datos a una variable auxiliar y añadimos a una colección para la creación de registros AccountPromocion</description>
        <name>AsignarDatosAccountPromocion</name>
        <label>AsignarDatosAccountPromocion</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VariableAccountPromocion.Cuenta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableAccountPromocion.Promocion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLeadPromocion.Promocion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableAccountPromocion.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLeadPromocion.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionAccountPromocion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VariableAccountPromocion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetVariableAccountPromocion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos los valores de la variable TareaAux</description>
        <name>ResetTareaAux</name>
        <label>ResetTareaAux</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>TareaAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopTareasLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos los valores de la variable AccountPromocion</description>
        <name>ResetVariableAccountPromocion</name>
        <label>Reset VariableAccountPromocion</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VariableAccountPromocion.Cuenta__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableAccountPromocion.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableAccountPromocion.Promocion__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopLeadPromocion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si se han obtenido tareas</description>
        <name>HayTareas</name>
        <label>¿Hay tareas?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No hay</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTareasLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAccountPromocion</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si el Lead - Promoción asociado a la tarea iterada y el registro AccountPromocion iterado son los mismos</description>
        <name>MismoLeadAccountPromocion</name>
        <label>¿Mismo Lead/Account - Promoción?</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>LoopTareasLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTareasLead.LeadPromocion__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopAccountPromocion.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarAccountPromocion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>V9: Creación VariableAccountPromocion y ColeccionAccountPromocion para creación de registros
V10: Saneamiento y documentación flow
V11: Actualización del campo NameID de las tareas relacionadas con el Lead
V12: Corrección asignación &quot;NameID&quot; por &quot;Related To&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Triggered flow - Lead after update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Triggered flow - Lead after update</label>
    <loops>
        <description>Iteramos los registros creados del objeto AccountPromocion</description>
        <name>LoopAccountPromocion</name>
        <label>LoopAccountPromocion</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>ColeccionAccountPromocion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopTareasLead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTareasLead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por los registros del objeto LeadPromocion</description>
        <name>LoopLeadPromocion</name>
        <label>LoopLeadPromocion</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>GetLeadPromocion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarDatosAccountPromocion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAccountPromocion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos las tareas obtenidas del Lead</description>
        <name>LoopTareasLead</name>
        <label>LoopTareasLead</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <collectionReference>GetTareasLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MismoLeadAccountPromocion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopAccountPromocion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creamos los registros AccountPromocion correspondientes a los registros LeadPromocion</description>
        <name>CreateAccountPromocion</name>
        <label>CreateAccountPromocion</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>GetTareasLead</targetReference>
        </connector>
        <inputReference>ColeccionAccountPromocion</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos los registros LeadPromocion relacionados con el Lead convertido</description>
        <name>GetLeadPromocion</name>
        <label>GetLeadPromocion</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLeadPromocion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadPromocion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las tareas relacionadas con el Lead</description>
        <name>GetTareasLead</name>
        <label>GetTareasLead</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayTareas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadPromocion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos las tareas del Lead con el ID de los registros creados del objeto AccountPromocion</description>
        <name>UpdateTareasLead</name>
        <label>UpdateTareasLead</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <inputReference>ColeccionTareasAux</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLeadPromocion</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo colección para almacenar los registros AccountPromocion a crear</description>
        <name>ColeccionAccountPromocion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountPromocion__c</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar las tareas a actualizar</description>
        <name>ColeccionTareasAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar información de la tarea iterada</description>
        <name>TareaAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Variable para almacenar el registro de AccountPromocion a crear</description>
        <name>VariableAccountPromocion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountPromocion__c</objectType>
    </variables>
</Flow>
