force-app/main/default/flows/UpdateCampaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Asignar a una variable el numero total de oportunidades reservadas de la campaña relacionada.</description>
        <name>Assign_ContarOportunidadesReservadas</name>
        <label>Assign_Contar Oportunidades Reservadas</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_NumeroOportunidadesReservadas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_OportunidadesReservdas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campana</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar a una variable el numero total de oportunidades reservadas de la campaña relacionada.</description>
        <name>Assign_ContarOportunidadesReservadas_01</name>
        <label>Assign_Contar Oportunidades Reservadas</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Var_NumeroOportunidadesReservadas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_OportunidadesReservadas_01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campana_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar los días transcurridos desde la fecha de creación del lead hasta la firma de contrato en el campo de miembro de campaña.</description>
        <name>Assign_DiasASerReservada</name>
        <label>Assign_Dias a ser Reservado</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_MiembroCampana.DaysTakesToConvertToAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_DiasHastaSerReservada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CampaignMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobar si el campo Fecha firma Contrato Reserva ha cambiado o si ha rellenado o si la oportunidad ha sido cancelada o lo estaba.</description>
        <name>Decision_ContratoReservaOCancelada</name>
        <label>Decision_Contrato Reserva o Cancelada</label>
        <locationX>743</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContratoReservaOCancelada_ContratoReserva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarIn_OpportunityRecord.Fecha_firma_Contrato_Reserva__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_OpportunityRecord.Fecha_firma_Contrato_Reserva__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarIn_OppOldFechaFirmaContratoReserva</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_OpportunityRecord.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OportunidadesReservdas</targetReference>
            </connector>
            <label>Contrato Reserva</label>
        </rules>
        <rules>
            <name>ContratoReservaOCancelada_Cancelada</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>VarIn_OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_OppOldStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_OpportunityRecord.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarIn_OppOldStage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_OpportunityRecord.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OportunidadesReservadas_01</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si existe el candidato de la cuenta.</description>
        <name>Decision_ExisteLead</name>
        <label>Decision_Existe lead</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteLead_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DiasASerReservada</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si existe un miembro de campaña del contacto de la oportunidad.</description>
        <name>Decision_ExisteMiembroCamapana</name>
        <label>Decision_Existe Miembro de Camapaña</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteMiembroCamapana_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MiembroCampana</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si se ha rellenado la fecha de la primera visita del candidato.</description>
        <name>Decision_FechaPrimeraVisitaRellenada</name>
        <label>Decision_Fecha primera visita rellenada</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Decision_ContratoReservaOCancelada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FechaPrimeraVisitaRellenada_Si</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>VarIn_LeadRecord.Fecha_Visita__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_LeadRecord.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_LeadRecord.Fecha_Visita__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarIn_LeadOldFecha1aVisita</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarIn_LeadRecord.Campaign__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarIn_LeadOldCampaign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MiembroCampanaLead</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Subflujo para actualizar la campaña relacionada a la oportunidad</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula que calcula el numero de días transcurridos desde la fecha de creación del lead hasta la firma de contrato.</description>
        <name>For_DiasHastaSerReservada</name>
        <dataType>Number</dataType>
        <expression>{!VarIn_OpportunityRecord.Fecha_firma_Contrato_Reserva__c} - DATEVALUE({!Get_Lead.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Formula que calcula los días transcurridos desde la fecha de creación del Lead hasta la fecha de la primera visita.</description>
        <name>For_DiasParaPrimeraVisita</name>
        <dataType>Number</dataType>
        <expression>{!VarIn_LeadRecord.Fecha_Visita__c} - DATEVALUE({!VarIn_LeadRecord.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener el registro del candidato convertido a cuenta.</description>
        <name>Get_Lead</name>
        <label>Get_Lead</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener el miembro de la campaña asociado a la cuenta de la oportunidad.</description>
        <name>Get_MiembroCampana</name>
        <label>Get_MiembroCampaña</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteMiembroCamapana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener las oportunidades reservadas de la campaña relacionada</description>
        <name>Get_OportunidadesReservadas_01</name>
        <label>Get_Oportunidades Reservadas</label>
        <locationX>842</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ContarOportunidadesReservadas_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_firma_Contrato_Reserva__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener las oportunidades reservadas de la campaña relacionada</description>
        <name>Get_OportunidadesReservdas</name>
        <label>Get_Oportunidades Reservdas</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ContarOportunidadesReservadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_firma_Contrato_Reserva__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar el miembro de campaña.</description>
        <name>Update_CampaignMember</name>
        <label>Update_CampaignMember</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <inputReference>Get_MiembroCampana</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la campaña agregando el numero de oportunidades reservadas.</description>
        <name>Update_Campana</name>
        <label>Update_Campaña</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_MiembroCampana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfReservedOpportunities__c</field>
            <value>
                <elementReference>Var_NumeroOportunidadesReservadas</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la campaña agregando el numero de oportunidades reservadas.</description>
        <name>Update_Campana_01</name>
        <label>Update_Campaña</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_OpportunityRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfReservedOpportunities__c</field>
            <value>
                <elementReference>Var_NumeroOportunidadesReservadas</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el campo tiempo en realizar la 1ª visita del miembro de campaña del Lead.</description>
        <name>Update_MiembroCampanaLead</name>
        <label>Update_Miembro Campaña Lead</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Decision_ContratoReservaOCancelada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_LeadRecord.Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarIn_LeadRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TimeToMakeFirstVisit__c</field>
            <value>
                <elementReference>For_DiasParaPrimeraVisita</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_FechaPrimeraVisitaRellenada</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable que almacena el numero de las oportunidades reservadas.</description>
        <name>Var_NumeroOportunidadesReservadas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable de entrada que contiene la campaña anterior del Lead.</description>
        <name>VarIn_LeadOldCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que contiene el valor antiguo de la fecha de primera visita.</description>
        <name>VarIn_LeadOldFecha1aVisita</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de entrada que contiene el registro del candidato.</description>
        <name>VarIn_LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Variable de entrada que contiene el valor antiguo del campo Fecha firma Contrato Reserva de la oportunidad.</description>
        <name>VarIn_OppOldFechaFirmaContratoReserva</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de entrada que contiene el estado de la oportunidad antes de la actualización.</description>
        <name>VarIn_OppOldStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de entrada que contiene la oportunidad que lanza el proceso</description>
        <name>VarIn_OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
