force-app/main/default/flows/updateRitmoVentas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setNumPerdidas</name>
        <label>setNumPerdidas</label>
        <locationX>1327</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>NumPerdidas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaPerdidas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteCaidas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaImporteCaidas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CuentaPerdidas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNumPerdidasLocal</name>
        <label>setNumPerdidasLocal</label>
        <locationX>1452</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>numLocalesCaidos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaPerdidaLocal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImporteCaidas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaImporteCaidas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CuentaPerdidas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNumVentas</name>
        <label>setNumVentas</label>
        <locationX>1017</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>NumVentas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaventas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>importeVentas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaImporteVentas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CuentaVentas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNumVentasLocal</name>
        <label>setNumVentasLocal</label>
        <locationX>1155</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>NumLocalesVendidos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaVentaLocal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>importeVentas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumaImporteVentas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CuentaVentas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>es_local</name>
        <label>es local?</label>
        <locationX>1092</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>setNumVentas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opt_iterator.ventaLocal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNumVentasLocal</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>es_local_0</name>
        <label>es local?</label>
        <locationX>1374</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>setNumPerdidas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SI_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opt_iterator.ventaLocal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNumPerdidasLocal</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Venta_o_perdida</name>
        <label>Venta o perdida</label>
        <locationX>447</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>linkRitmoDeVentasVenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Perdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>linkRitmoDeVentasPerdida</targetReference>
            </connector>
            <label>Perdida</label>
        </rules>
        <rules>
            <name>Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Venta</label>
        </rules>
    </decisions>
    <formulas>
        <name>sumaImporteCaidas</name>
        <dataType>Currency</dataType>
        <expression>{!ImporteCaidas}+{!opt_iterator.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sumaImporteVentas</name>
        <dataType>Currency</dataType>
        <expression>{!importeVentas}+{!opt_iterator.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sumaPerdidaLocal</name>
        <dataType>Number</dataType>
        <expression>{!numLocalesCaidos}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sumaPerdidas</name>
        <dataType>Number</dataType>
        <expression>{!NumPerdidas}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sumaVentaLocal</name>
        <dataType>Number</dataType>
        <expression>{!NumLocalesVendidos}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sumaventas</name>
        <dataType>Number</dataType>
        <expression>{!NumVentas}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>updateRitmoVentas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateRitmoVentas</label>
    <loops>
        <name>CuentaPerdidas</name>
        <label>CuentaPerdidas</label>
        <locationX>1358</locationX>
        <locationY>164</locationY>
        <assignNextValueToReference>opt_iterator</assignNextValueToReference>
        <collectionReference>perdidas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>es_local_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRitmoVentas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CuentaVentas</name>
        <label>CuentaVentas</label>
        <locationX>1119</locationX>
        <locationY>162</locationY>
        <assignNextValueToReference>opt_iterator</assignNextValueToReference>
        <collectionReference>Ventas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>es_local</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CuentaPerdidas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPerdidas</name>
        <label>getPerdidas</label>
        <locationX>972</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CuentaVentas</targetReference>
        </connector>
        <filters>
            <field>Ritmo_de_ventas_caida__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtimoDeVentas.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>perdidas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>ventaLocal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRitmoDeVentas</name>
        <label>getRitmoDeVentas</label>
        <locationX>256</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Venta_o_perdida</targetReference>
        </connector>
        <filters>
            <field>Fecha_fin_periodo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_inicio_periodo__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPromocion</elementReference>
            </value>
        </filters>
        <object>Ritmo_ventas__c</object>
        <outputReference>rtimoDeVentas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Importe_euros_caido__c</queriedFields>
        <queriedFields>Importe_euros_vendido__c</queriedFields>
        <queriedFields>N_locales_caidos__c</queriedFields>
        <queriedFields>N_Locales_vendidos__c</queriedFields>
        <queriedFields>N_viviendas_caidas__c</queriedFields>
        <queriedFields>N_Viviendas_vendidas__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getVentas</name>
        <label>getVentas</label>
        <locationX>822</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPerdidas</targetReference>
        </connector>
        <filters>
            <field>Ritmo_de_ventas_venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtimoDeVentas.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Ventas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>ventaLocal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>linkRitmoDeVentasPerdida</name>
        <label>linkRitmoDeVentasPerdida</label>
        <locationX>680</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>getVentas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ritmo_de_ventas_caida__c</field>
            <value>
                <elementReference>rtimoDeVentas.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>linkRitmoDeVentasVenta</name>
        <label>linkRitmoDeVentasVenta</label>
        <locationX>676</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>getVentas</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ritmo_de_ventas_venta__c</field>
            <value>
                <elementReference>rtimoDeVentas.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRitmoVentas</name>
        <label>updateRitmoVentas</label>
        <locationX>1610</locationX>
        <locationY>164</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtimoDeVentas.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Importe_euros_caido__c</field>
            <value>
                <elementReference>ImporteCaidas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_euros_vendido__c</field>
            <value>
                <elementReference>importeVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Locales_vendidos__c</field>
            <value>
                <elementReference>NumLocalesVendidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Viviendas_vendidas__c</field>
            <value>
                <elementReference>NumVentas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_locales_caidos__c</field>
            <value>
                <elementReference>numLocalesCaidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_viviendas_caidas__c</field>
            <value>
                <elementReference>NumPerdidas</elementReference>
            </value>
        </inputAssignments>
        <object>Ritmo_ventas__c</object>
    </recordUpdates>
    <startElementReference>getRitmoDeVentas</startElementReference>
    <status>Active</status>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idPromocion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImporteCaidas</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>importeVentas</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numLocalesCaidos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumLocalesVendidos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumPerdidas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumVentas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opt_iterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>perdidas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rtimoDeVentas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ritmo_ventas__c</objectType>
    </variables>
    <variables>
        <name>Ventas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
