force-app/main/default/flows/VentasSemanalesPromocion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddAltaPreReserva</name>
        <label>Add Alta PreReserva</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>ContadorAltasPreReserva</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AltaReserva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddAltaReserva</name>
        <label>Add Alta Reserva</label>
        <locationX>264</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>ContadorAltasReserva</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AltaContrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddAltaReserva_0</name>
        <label>Add Alta Reserva</label>
        <locationX>264</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>ContadorAltasContrato</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BajaPreReserva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddBajaContrato</name>
        <label>Add Baja Contrato</label>
        <locationX>264</locationX>
        <locationY>2436</locationY>
        <assignmentItems>
            <assignToReference>ContadorBajasContrato</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorremosOportunidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddBajaPreReserva</name>
        <label>Add Baja PreReserva</label>
        <locationX>264</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>ContadorBajasPreReserva</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BajaReserva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddBajaPreReserva_0</name>
        <label>Add Baja PreReserva</label>
        <locationX>264</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>ContadorBajasReserva</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BajaContrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InicializoContadores</name>
        <label>Inicializo Contadores</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>ContadorAltasPreReserva</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorAltasReserva</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorAltasContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorBajasPreReserva</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorBajasReserva</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContadorBajasContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObtenerOportunidades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AltaContrato</name>
        <label>Alta Contrato?</label>
        <locationX>396</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>BajaPreReserva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorremosOportunidades.Fecha_firma_Contrato_Compraventa__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThisWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddAltaReserva_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>AltaPreReserva</name>
        <label>Alta Pre-Reserva?</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>AltaReserva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorremosOportunidades.FechaPreReserva__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThisWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddAltaPreReserva</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>AltaReserva</name>
        <label>Alta Reserva?</label>
        <locationX>396</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>AltaContrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorremosOportunidades.Fecha_firma_Contrato_Reserva__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThisWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddAltaReserva</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>BajaContrato</name>
        <label>Baja Contrato?</label>
        <locationX>396</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>RecorremosOportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorremosOportunidades.EtapaPreviaCancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorremosOportunidades.FechaCancelacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThisWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddBajaContrato</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>BajaPreReserva</name>
        <label>Baja Pre-Reserva?</label>
        <locationX>396</locationX>
        <locationY>1644</locationY>
        <defaultConnector>
            <targetReference>BajaReserva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorremosOportunidades.EtapaPreviaCancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorremosOportunidades.FechaCancelacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThisWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddBajaPreReserva</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>BajaReserva</name>
        <label>Baja Reserva?</label>
        <locationX>396</locationX>
        <locationY>1980</locationY>
        <defaultConnector>
            <targetReference>BajaContrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorremosOportunidades.EtapaPreviaCancelacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecorremosOportunidades.FechaCancelacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ThisWeek</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddBajaPreReserva_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Schedule correcto</description>
    <formulas>
        <name>ThisWeek</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>Ventas Semanales Promoción {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ventas Semanales Promoción</label>
    <loops>
        <name>RecorremosOportunidades</name>
        <label>Recorremos Oportunidades</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>ObtenerOportunidades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AltaPreReserva</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerProductos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObtenerOportunidades</name>
        <label>Obtener Oportunidades</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorremosOportunidades</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>ObtenerProductos</name>
        <label>Obtener Productos</label>
        <locationX>176</locationX>
        <locationY>2748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizoPromocion</targetReference>
        </connector>
        <filters>
            <field>Promocion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
    </recordLookups>
    <recordUpdates>
        <name>ActualizoPromocion</name>
        <label>Actualizo Promoción</label>
        <locationX>176</locationX>
        <locationY>2868</locationY>
        <inputAssignments>
            <field>ContratoAltasSemana__c</field>
            <value>
                <elementReference>ContadorAltasContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContratoBajasSemana__c</field>
            <value>
                <elementReference>ContadorBajasContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreReservaAltasSemana__c</field>
            <value>
                <elementReference>ContadorAltasPreReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreReservaBajasSemana__c</field>
            <value>
                <elementReference>ContadorBajasPreReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReservaAltasSemana__c</field>
            <value>
                <elementReference>ContadorAltasReserva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReservaBajasSemana__c</field>
            <value>
                <elementReference>ContadorBajasReserva</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>InicializoContadores</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContadorAltasContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContadorAltasPreReserva</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContadorAltasReserva</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContadorBajasContrato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContadorBajasPreReserva</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContadorBajasReserva</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_AltasPreReserva</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_AltasReserva</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
